<template>
	<form @submit="RegisterSendClient">
		<input type="text" required placeholder="Фамилия" v-model="registerClient.FamilyName">
		<input type="text" required placeholder="Имя" v-model="registerClient.name">
		<input type="text" required placeholder="Отчество" v-model="registerClient.FatherName">
		<select name="" required id="" v-if="!loading" v-model="registerClient.company">
			<option v-for="(company, index) in companies" v-bind:key="index" :value="company.id">
				{{ company.name }}
			</option>
		</select>
		<div v-if="loading" class="loading">
			Загружаем компании...
		</div>
		<input required type="phone" placeholder="Телефон представителя" v-model="registerClient.phone">
		<input required type="email" placeholder="Email представителя" v-model="registerClient.email">
		<input required type="text" placeholder="Город представителя" v-model="registerClient.address">
		<input required type="password" placeholder="Пароль" v-model="registerClient.password">
		<input required type="password" placeholder="Пароль" v-model="registerClient.password_confirmation">
		<div class="remember-me">
			<div class="form-group">
				<input required v-model="registerClient.agreement" type="checkbox" id="css">
				<label for="css"><p>Принять <a href="">соглашение</a></p></label>
			</div>
		</div>
		<button type="submit" class="register-btn">
			ЗАРЕГИСТРИРОВАТЬСЯ
		</button>
	</form>
</template>

<script type="text/javascript">
export default {
	created: function(){
		this.getCompanies();
	},
	data() {
	return {
		loading: true,
			companies: [],
			registerClient:{
				FamilyName: 'TEST',
				name: "TEST",
				FatherName: "TEST",
				company: 2,
				phone: "123456789",
				email: "TEST@TEST.TEST",
				agreement: 1,
				address: "Almaty",
				password: "1234567890",
				password_confirmation: "1234567890"
			}
		}
	},
	methods: {
		getCompanies: function () {
			this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/companies')
			.then(responce => {this.companies = responce.data.data; this.loading = false;})
		},
		RegisterSendClient: function(e) {
			e.preventDefault();
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/register/client', this.registerClient)
			.then(responce => {
				if(responce.data.role_id == 2){
					window.location.replace('http://localhost:8080/#/client')
				}
			})
		}
	}
}
</script>