<template>
	<div class="grey-bg">
		<div class="container">
			<div class="inner-title">
				<h3>Заявки</h3>
			</div>
			<div class="request-list">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" @click="getOrders(0, $event)" role="tab" aria-controls="home" aria-selected="true">НОВЫЕ ЗАЯВКИ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" @click="getOrders(1, $event)" role="tab" aria-controls="profile" aria-selected="false">ЗАЯВКИ В РАБОТЕ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" @click="getOrders(2, $event)" role="tab" aria-controls="contact" aria-selected="false">ЗАЯВКИ НА СОГЛАСОВАНИЕ КЛИЕНТУ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" @click="getOrders(3, $event)" role="tab" aria-controls="profile" aria-selected="false">ВЫПОЛНЕННЫЕ ЗАЯВКИ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" @click="getOrders($event)" role="tab" aria-controls="contact" aria-selected="false">ВСЕ ЗАЯВКИ</a>
					</li>
				</ul>

			</div>
			
			<div class="row">
				<transition name="bounce">
					<div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
						<div class="search">
							<input type="text" v-model="searchTerm">
							<button></button>
						</div>
					</div>
				</transition>
				<transition name="bounce">
					<div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
						<div class="pick-period-row">
							<div class="pick-period">
								<p>Выбрать период</p>
							</div>
							<div class="pick-period-box">
								<date-picker format="YYYY-MM-DD" value-type="timestamp" @clear="clear" v-model="searchTerm" :lang="lang" range style="width: 100%"></date-picker>
							</div>
							<div class="burger">
								<button class="hamburger hamburger--collapse" type="button">
							  <span class="hamburger-box">
								<span class="hamburger-inner"></span>
							  </span>
								</button>
							</div>
						</div>
					</div>
				</transition>
			</div>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class=" table-cont" id="table-cont">
						<vue-good-table
							:columns="columns"
							:rows="rows"
							:search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
							:sort-options="{
							    enabled: true,
							    initialSortBy: {field: 'id', type: 'desc'}
							}"
							:pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import DatePicker from 'vue2-datepicker'
	export default {
		components: {
			DatePicker
		},
		created: function(){
			this.getOrders(0);
		},
		data(){
			return {				
				// columns:[
				// 	'№',
				// 	'Статус заявки',
				// 	'Наименование автомобиля',
				// 	'Гос номер автомобиля',
				// 	'Дата открытия заявки',
				// 	'Дата закрытия заявки',
				// 	'Наименование СТО',
				// 	'Адрес СТО',
				// 	'Номер телефона СТО',
				// 	'Сумма работ',
				// 	'Замечания',
				// ],
				colClass: 6,
				unselected: true,
				SearchSelected: false,
				DateSelected: false,
				dates: [],
				lang: {
					days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
					pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
					placeholder: {
						date: 'Select Date',
						dateRange: 'Select Date Range'
					}
				},
				columns: [

				],
				rows: [

				],
				loading: {
					type: Boolean,
					default: false,
				},
				searchTerm: "",
			}
		},
		watch:{
			searchTerm: function(newValue, oldValue){
				if(typeof newValue  == 'object'){
					this.unselected = false
					this.SearchSelected = false;
					this.DateSelected = true;
					this.colClass = 12
				}
				if(newValue  == ""){
					this.unselected = true
					this.SearchSelected = false;
					this.DateSelected = false;
					this.colClass = 6
				}
				if(typeof newValue  == 'string' && newValue.length > 0){
					this.unselected = false
					this.DateSelected = false;
					this.SearchSelected = true;
					this.colClass = 12
				}
			}
		},
		methods:{
			search: function(row, col, cellValue, searchTerm) {
				if(typeof searchTerm == 'object'){
					if(parseInt((new Date(cellValue).getTime() / 1000).toFixed(0))  >= parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) && parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <= parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0))+86400){
						return cellValue
					}
					
				}
				else{
					if(String(cellValue).toLowerCase().includes(searchTerm.toLowerCase())){
						return cellValue
					}
				}				
			},
			clear: function(){
				this.searchTerm = ""
			},
			// H: Authorization: 'Bearer '+token
			getOrders(id, event){
				if(event){
					for (var i = 0; i < document.getElementsByClassName('request-list')[0].getElementsByClassName('active').length; i++) {
						document.getElementsByClassName('request-list')[0].getElementsByClassName('active')[i].classList.toggle("active")
					}
				}				
				this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/clients/orders' + (id ? '?status_internal='+id : ''))
				.then(responce => {
					this.columns =[];
					this.rows = [];
					// for (var i = 0; i < responce.data.columns.length; i++) {
					// 	var column = {};
					// 	switch(responce.data.columns[i]) {
					// 		case 'id':
					// 			column = {
					// 				label: 'Номер заявки',
					// 				field: responce.data.columns[i],
					// 				type: 'number',
					// 				sortable: true,
					// 			}
					// 			break;
					// 		case 'number':
								// column = {
								// 	label: 'Номер машины',
								// 	field: responce.data.columns[i],
								// }
					// 			break;
					// 		case 'model':
					// 			column = {
					// 				label: 'Машина',
					// 				field: responce.data.columns[i],
					// 			}
					// 			break;
					// 		case 'status':
					// 			column = {
					// 				label: 'Статус заявки',
					// 				field: responce.data.columns[i],
					// 			}
					// 			break;
					// 		case 'created_at':
					// 			column = {
					// 				label: 'Дата создания заявки',
					// 				field: responce.data.columns[i],
					// 				type: "date",
					// 				dateInputFormat: "X",
					// 				dateOutputFormat: "YYYY-MM-DD",
					// 				globalSearchDisabled: false
					// 			}
					// 			break;
					// 		default:
					// 		// code block
					// 	}
						column = {
							label: responce.data.columns[i],
							field: responce.data.columns[i],
						}
						this.columns.push(column);
					}
					this.rows = responce.data.orders;
				})
			}
		}
	}
</script>
<style type="text/css" scoped>
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
	transform: scale(0);
  }
  50% {
	transform: scale(1.5);
  }
  100% {
	transform: scale(1);
  }
}
</style>