<template>
    <div class="container py-4">
        <div class="table-responsive">
            <h1></h1>
            <table class="table table-bordered">
                <tr>
                    <th>Наименование компании</th>
                    <th>Завершенные заявки</th>
                </tr>
                <tr v-for="(company, v) in companies" :key="v">
                    <td>{{ company.name }}</td>
                    <td><router-link :to="'bills/'+company.id">Просмотреть</router-link></td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            companies: []
        }
    },
    created() {
        this.fetchCompanies();
    },
    methods: {
        fetchCompanies() {
            this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/orks/companies')
                .then(r => {
                    this.companies = r.data.companies;
                });
        },
    }
}
</script>