<template>
    <div class="container py-4">
       <div class="table-responsive">
           <table class="table table-bordered">
               <tr>
                   <th>Номер заявки</th>
                   <th>Сформировать счет</th>
               </tr>
               <tr v-for="(order, v) in orders" :key="v">
                   <td>
                       {{ order.id }}
                   </td>
                   <td>
                       <input type="checkbox" :oid="order.defect_acts.id" @click="addToBills">
                   </td>
               </tr>
           </table>
           <div class="pt-2" v-if="orders.length > 0">
                <button class="btn btn-success" @click="formBills">Сформировать счет(а)</button>
           </div>
           <div class="pt-2" v-else>
               <h6>Завершенных заявок нет</h6>
           </div>
       </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            bills: [],
            orders: []
        }
    },
    created() {
        this.fetchCompletedOrders();
    },
    methods: {
        addToBills(e) {
            const id = e.target.getAttribute('oid');
            const idx = this.bills.indexOf(id);
            
            if(idx == -1) {
                this.bills.push(id);
            }else {
                this.bills.splice(idx, 1);
            }
        },
        formBills() {
            this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/orks/bills/form', { bills: this.bills })
                .then(r => {
                    this.$router.push('/ork/bills/formed');
                });
        },
        fetchCompletedOrders() {
            this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/orks/orders/completed/'+this.$route.params.companyId)
                .then(r => {
                    this.orders = r.data;
                });
        }
    }
}
</script>