<template>
  <div>
    <div class="grey-bg">
      <div class="container">
        <div class="inner-title">
          <h3>{{ $t('create_company') }}</h3>
        </div>

        <div class="register-input">
          <form @submit="sendCompany">
            Название
            <input type="text" v-model="company.name" :placeholder="$t('company')" />
            БИН
            <input type="text" v-model="company.bin" :placeholder="$t('bin')" />
            БИК
            <input type="text" v-model="company.bik" :placeholder="$t('bik')" />
            ИИК
            <input type="text" v-model="company.iik" :placeholder="$t('iik')" />
            Банк
            <v-select
              height="10"
              style=" background: #fff; "
              class="style-chooser"
              :options="banks"
              label="name"
              :reduce="name => name.id"
              v-model="company.bank_id"
            />
            <div class="loading" v-if="loading">{{ $t('ork_create_company_bank_download') }}...</div>Юридический адрес
            <input
              type="text"
              v-model="company.jur_address"
              :placeholder="$t('jur_address')"
            />
            Фактический адрес
            <input
              type="text"
              v-model="company.fact_address"
              :placeholder="$t('fact_address')"
            />
            Контактное лицо
            <input
              type="text"
              v-model="company.contact_person"
              :placeholder="$t('contact_person')"
            />
            Контактный телефон
            <input
              type="text"
              v-model="company.contact_phone"
              :placeholder="$t('contact_phone')"
            />
            Регион
            <v-select
              height="10"
              style=" background: #fff; "
              class="style-chooser"
              :options="regions"
              label="region_name"
              :reduce="region_name => region_name.id"
              v-model="company.region_id"
            />
            <div class="loading" v-if="loading">{{ $t('ork_create_company_region_download') }}...</div>
            <button
              type="submit"
              :disabled="clicked"
              class="register-btn"
            >{{ $t('create_company') }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      company: {
        name: "",
        bin: "",
        bik: "",
        iik: "",
        jur_address: "",
        fact_address: "",
        contact_person: "",
        contact_phone: "",
        region_id: 0
      },
      regions: [],
      banks: [],
      loading: true,
      loadingBank: true,
      clicked: false
    };
  },
  props: {},
  watch: {},
  created: function() {
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/orks/regions")
      .then(responce => {
        this.regions = responce.data;
        this.loading = false;
      });
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/orks/banks")
      .then(responce => {
        this.banks = responce.data;
        this.loadingBank = false;
      });
  },
  methods: {
    sendCompany: function(e) {
      e.preventDefault();
      this.clicked = true;
      this.$http
        .post(
          process.env.VUE_APP_SUPPLY_URL + "api/orks/companies",
          this.company
        )
        .then(responce => this.$router.push("/ork/companies"));
    }
  }
};
</script>

<style scoped>
</style>