<template>
  <div class="grey-bg">
    <div class="container">
      <div class="inner-title">
        <h3>Заявки</h3>
      </div>
      <div class="request-list">
        <ul class="nav nav-tabs" id="client_status_tabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              :id="statuses.newOrder.id"
              data-toggle="tab"
              @click="getOrders($event, 'newOrder')"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >НОВЫЕ ЗАЯВКИ ({{ count.newOrder }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :id="statuses.ordered.id"
              data-toggle="tab"
              @click="getOrders($event, 'ordered')"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >НАЗНАЧЕННЫЕ ЗАЯВКИ ({{ count.ordered }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :id="statuses.approval.id"
              data-toggle="tab"
              @click="getOrders($event, 'prepare_to_client')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ПОДГОТОВКА К СОГЛАСОВАНИЮ ДЛЯ КЛИЕНТА ({{ count.prepare_to_client }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :id="statuses.approval.id"
              data-toggle="tab"
              @click="getOrders($event, 'approval')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >НА СОГЛАСОВАНИЕ КЛИЕНТУ ({{ count.approval }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :id="statuses.work.id"
              data-toggle="tab"
              @click="getOrders($event, 'work')"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >ЗАЯВКИ В РАБОТЕ ({{ count.work }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :id="statuses.completed.id"
              data-toggle="tab"
              @click="getOrders($event, 'completed')"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >РЕМОНТ ВЫПОЛНЕН ({{ count.completed }})</a>
          </li>
          <li class="nav-item">
            <a
              class="$event, nav-link"
              :id="statuses.all.id"
              data-toggle="tab"
              @click="getOrders($event, 'closed')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ЗАКРЫТЫЕ ЗАЯВКИ ({{ count.closed }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :id="statuses.rejected.id"
              data-toggle="tab"
              @click="getOrders($event, 'rejected')"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >ОТМЕНЁННЫЕ ЗАЯВКИ ({{ count.rejected }})</a>
          </li>
          <li class="nav-item">
            <a
              class="$event, nav-link"
              :id="statuses.all.id"
              data-toggle="tab"
              @click="getOrders($event, 'all')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ВСЕ ЗАЯВКИ ({{ count.all }})</a>
          </li>
          <li class="nav-item">
            <a
              class="$event, nav-link"
              :id="statuses.reverted.id"
              data-toggle="tab"
              @click="getOrders($event, 'reverted')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >Возвращённые заявки ({{ count.reverted }})</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
            <div class="search">
              <input type="text" v-model="searchTerm" />
              <button></button>
            </div>
          </div>
        </transition>
        <transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
            <div class="pick-period-row">
              <div class="pick-period">
                <p>Выбрать период</p>
              </div>
              <div class="pick-period-box">
                <date-picker
                  format="YYYY-MM-DD"
                  value-type="timestamp"
                  @clear="clear"
                  v-model="searchTerm"
                  :lang="lang"
                  range
                  style="width: 100%"
                ></date-picker>
              </div>

              <div class="burger dropleft">
                <button
                  class="hamburger hamburger--collapse dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
                <div class="dropdown-menu">
                  <button @click="exportCSV" class="btn btn-secondary export-butons">Скачать как CSV</button>
                  <br />
                  <br />
                  <button @click="exportXLS" class="btn btn-secondary export-butons">Скачать как XLS</button>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="table-cont" id="table-cont">
            <vue-good-table
              ref="table"
              :columns="columns"
              :rows="rows"
              :search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
              :sort-options="{
							    enabled: true,
							    initialSortBy: {field: 'id', type: 'desc'}
							  }"
              :pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
	import DatePicker from 'vue2-datepicker'
	export default {
		components: {
			DatePicker
		},
		created: function(){
			this.countOrders();
			this.getOrders(0, 'newOrder');
		},
		data(){
			return {
				colClass: 6,
				unselected: true,
				count: [],
				SearchSelected: false,
				DateSelected: false,
				dates: [],
				lang: {
					days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
					pickers: ['Следующие 7 дней', 'Следующие 30 дней', 'Предыдущие 7 дней', 'Предыдущие 30 дней'],
					placeholder: {
						date: 'Выберите дату',
						dateRange: 'Выберите диапазон'
					}
				},
				columns: [

				],
				rows: [

				],
				loading: {
					type: Boolean,
					default: false,
				},
				searchTerm: "",
				statuses: {
					newOrder: {
						id: 'ork_new',
						int: "0"
					},
					ordered: {
						id: 'ork_ordered',
						int: "1,2,3,4,5",
					},
					prepare_to_client: {
						id: 'ork_prepare_to_client',
						int: "9",
					},
					approval: {
						id: 'ork_client_approval',
						int: "10,16",
					},
					work: {
						id: 'ork_work',
						int: "7,8,11,13,14,15,17",
					},
					rejected: {
						id: 'ork_rejected',
						int: "6,12",
					},
					pay_create: {
						id: 'ork_pay_create',
						int: ""
					},
					completed: {
						id: 'ork_completed',
						int: "19,20,21,22",
					},
					closed: {
						id: "closed",
						int: "23"
					},
					reverted: {
						id: 'ork_completed',
						int: "24"
					},
					all: {
						id: 'client_all',
						int: "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24"
					},
				},
				currentStatus:"newOrder"
			}
		},
		watch:{
			searchTerm: function(newValue, oldValue){
				if(typeof newValue  == 'object'){
					this.unselected = false
					this.SearchSelected = false;
					this.DateSelected = true;
					this.colClass = 12
				}
				if(newValue  == ""){
					this.unselected = true
					this.SearchSelected = false;
					this.DateSelected = false;
					this.colClass = 6
				}
				if(typeof newValue  == 'string' && newValue.length > 0){
					this.unselected = false
					this.DateSelected = false;
					this.SearchSelected = true;
					this.colClass = 12
				}
			}
		},
		methods:{
			countOrders() {
				this.$http.get(`${process.env.VUE_APP_SUPPLY_STORAGE_URL}api/count/orders?statuses=${ JSON.stringify(this.statuses) }`)
					.then(r => this.count = r.data);
			},
			search: function(row, col, cellValue, searchTerm) {
				if(typeof searchTerm == 'object'){
					if(parseInt((new Date(cellValue).getTime() / 1000).toFixed(0))  >= parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) && parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <= parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0))+86400){
						return cellValue
					}

				}
				else{
					if(String(cellValue).toLowerCase().includes(searchTerm.toLowerCase())){
						return cellValue
					}
				}
			},
			exportCSV: function(){
				let array = [];
				this.$refs.table.processedRows[0].children.forEach(element => {
					let singleRow = {};
					Object.keys(element).forEach((key) => {
						if(this.$te(key)){
							singleRow[this.$t(key)] = element[key];
						}
					});
					array.push(singleRow);
				});
				const xls = new XlsExport(array, 'export');
				xls.exportToCSV('export.csv')
			},
			exportXLS: function(){
				let array = [];
				this.$refs.table.processedRows[0].children.forEach(element => {
					let singleRow = {};
					Object.keys(element).forEach((key) => {
						if(this.$te(key)){
							singleRow[this.$t(key)] = element[key];
						}
					});
					array.push(singleRow);
				});
				const xls = new XlsExport(array, 'export');
				xls.exportToXLS('export.xls')
			},
			clear: function(){
				this.searchTerm = ""
			},
			ShowOrder: function(rowObj){
				let string = "";
				string += "<a href=\"/#/order/"+rowObj.id+"\">Подробнее</a>"
 			  	return string;
			},
			actDefect: function(rowObj){
				let string = "";
				if(rowObj.defect_acts){
					string += "<a href=\"/#/ork/orders/"+rowObj.id+"/defect\">Дефектный акт</a>"
				}
 			  	return string;
			},
			actEvacuated: function(rowObj) {
				let string = "";
				string += rowObj.is_evacuated ? 'Да' : 'Нет'
				return string;
            },
            showDescription: function(rowObj) {
                let string = "";
				string += `<a onclick='vm.$swal.fire("${rowObj.problem_description}")'>`+'Показать описание проблемы</a>';
				return string;
            },
			getOrders(event, status){
				vm.$children[0].loadingShow();
				if(event != 0){
					if(this.currentStatus == "newOrder"){
						this.currentStatus=document.querySelector('.active')
					}
					this.currentStatus.classList.toggle("active");
					event.target.classList.toggle("active");
					this.currentStatus=event.target
				}
				this.columns =[];
				this.rows = [];
				this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/orks/orders?status_internal='+this.statuses[status].int)
				.then(responce => {
					for (var i = 0; i < responce.data.columns.length; i++) {
						let column = {};
						switch(responce.data.columns[i]){
							case "ready_to_diagnose_at":
							case "ready_to_repair_at":
							case "planned_to_completed_at":
							case "completed_at":
								if(status != "newOrder"){
									column = {
										label: this.$t(responce.data.columns[i]),
										field: responce.data.columns[i],
									}
									this.columns.push(column);
								}
								break;
							case 'is_evacuated':
								let columnEvacuated = {
									label: this.$t(responce.data.columns[i]),
									field: rowObj => rowObj.is_evacuated ? 'Требуется' : 'Не требуется',
									html: true
								}
								this.columns.push(columnEvacuated);
								break;
							case "defect_acts":
								if(status != "newOrder"){
									column = {
										label: this.$t(responce.data.columns[i]),
										field: this.actDefect,
										html: true
									}
									this.columns.push(column);
								}
								let columnDefect = {
									label: this.$t("order_open"),
									field: this.ShowOrder,
									html: true
								}
								this.columns.push(columnDefect);
								break;
							case "station_name":
								if(status != "newOrder"){
									column = {
										label: this.$t(responce.data.columns[i]),
										field: responce.data.columns[i],
									}
									this.columns.push(column);
								}
								break;
							case "id":
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
									type: 'number'
								}
								this.columns.push(column);
								break;
							case "status_internal":
                                break;
                            case "problem_description":
                                column = {
									label: this.$t(responce.data.columns[i]),
									field: this.showDescription,
									html: true
								}
								this.columns.push(column);
								break;
							case RegExp('_at').test(responce.data.columns[i]):
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
								}
								this.columns.push(column);
								break;
							default:
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
								}
								this.columns.push(column);
								break;
						}
					}

					this.rows = responce.data.orders;
					vm.$children[0].loadingHide();
					}
				)
			}
		}
	}
</script>
<style type="text/css" scoped>
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.dropleft .dropdown-toggle::before {
  display: none;
}
.pick-period-box {
  width: 60%;
  padding: 3px;
  background: #ffffff;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
}
.export-butons {
  bg-color: #dcdfe6;
}
</style>