<template>
  <div class="grey-bg">
    <div class="container">
      <div class="inner-title">
        <h3>{{ $t("cars") }}</h3>
        <p>
          <router-link :to="'/ork/company/'+$route.params.id">Вернуться к компании</router-link>
        </p>
      </div>
      <transition name="fade">
        <CarTable v-if="table" @add="toggleView"></CarTable>
      </transition>
      <transition name="fade">
        <CarEditAdd v-if="add" @back="toggleViewBack" :carEdit="edit"></CarEditAdd>
      </transition>
    </div>
  </div>
</template>


<script>
import CarTable from "@/components/Company/CarTable.vue";
import CarEditAdd from "@/components/Company/CarEditAdd.vue";
export default {
  components: {
    CarTable,
    CarEditAdd
  },
  data() {
    return {
      table: true,
      add: false,
      edit: 0
    };
  },
  props: {},
  watch: {},
  created: function() {},
  methods: {
    toggleView(e) {
      this.edit = e;
      (this.table = false), (this.add = true);
    },
    toggleViewBack() {
      (this.table = true), (this.add = false);
    }
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>