<template>
  <div>
  	<div class="grey-bg" id="company-page">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="inner-title">
						<h3>{{ company.name }}</h3>
						<router-link to="/">Заявки</router-link>
					</div>
				</div>
				<div class="col-sm-4">
					<button @click="EditShow" v-if="!edit">Редактировать</button>
					<button @click="EditHide" v-if="edit">Отменить редактирование</button>	
				</div>
			</div>
			<form action="" @submit="SaveChanges">
				<div class="row">
					<div class="col-sm-3">
						<div class="row">
							<div class="col-sm-12 white-bg information">
								<button type="submit" v-if="edit">Сохранить изменения</button>
								<p>
									{{ $t("company") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.name }}</span>
									<input required  type="text" name="company_name" v-model="company.name" v-if="edit">
								</p>
								<p>
									{{ $t("bin") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.bin }}</span>
									<input required  type="text" name="bin" v-model="company.bin" v-if="edit">
								</p>
								<p>
									{{ $t("bik") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.bik }}</span>
									<input required  type="text" name="bik" v-model="company.bik" v-if="edit">
								</p>
								<p>
									{{ $t("iik") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.iik }}</span>
									<input required  type="text" name="iik" v-model="company.iik" v-if="edit">
								</p>
								<p>
									{{ $t("jur_address") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.jur_address }}</span>
									<input required  type="text" name="jur_address" v-model="company.jur_address" v-if="edit">
								</p>
								<p>
									{{ $t("fact_address") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.fact_address }}</span>
									<input required  type="text" name="fact_address" v-model="company.fact_address" v-if="edit">
								</p>
								<p>
									{{ $t("region") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span>{{ company.region }}</span>
								</p>
								<p>
									{{ $t("contact_person") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.contact_person }}</span>
									<input required  type="text" name="contact_person" v-model="company.contact_person" v-if="edit">
								</p>
								<p>
									{{ $t("contact_phone") }}
									<i class="fa fa-caret-down"></i>
								</p>
								<p class="data-from-db">
									<span v-if="!edit">{{ company.contact_phone }}</span>
									<input required  type="text" name="contact_phone" v-model="company.contact_phone" v-if="edit">
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 main-section-comment">
						<div class="comment-section">
							<div v-for="(message, index) in comments" :key="index" class="white-bg comment">
								{{ message.message }}
							</div>
						</div>
						<div class="send-comment">
							<textarea></textarea> <button disabled class="sendButton"><img src="@/assets/images/send.png" class="sendButtonImage"></button>
						</div>
					</div>
					<div class="col-sm-2 white-bg">
						<p>
							<router-link :to="'/ork/company/'+$route.params.id+'/contracts'">КОНТРАКТЫ</router-link>
						</p>
						<p>
							<router-link :to="'/ork/company/'+$route.params.id+'/managers'">МЕНЕДЖЕРЫ</router-link>
						</p>
						<p>
							<router-link :to="'/ork/company/'+$route.params.id+'/drivers'">ВОДИТЕЛИ</router-link>
						</p>
						<p>
							<router-link :to="'/ork/company/'+$route.params.id+'/cars'">МАШИНЫ</router-link>
						</p>
					</div>
				</div>
			</form>	
		</div>
  	</div>
  </div>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	comments: [],
	    	roles:["orks", "clients"],
	    	participants: [],
	    	company: {},
	    	edit: false
	    }
	},
	props:{

	},
	watch:{

	},
	created: function(){
		var self = this;
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'/api/'+this.roles[localStorage.getItem("role")-1]+"/companies/"+this.$route.params.id).then(function(responce){
				// self.comments = responce.data.company.chatroom.messages;
				// self.participants = responce.data.company.chatroom.participants;
				self.company = responce.data.company;
			});
	},
	methods:{
		EditShow(){
			this.edit = !(this.edit);
		},
		EditHide(){
			this.edit = !(this.edit);
			var self = this;
			this.$http.get(process.env.VUE_APP_SUPPLY_URL+'/api/'+this.roles[localStorage.getItem("role")-1]+"/companies/"+this.$route.params.id).then(function(responce){
				// self.comments = responce.data.company.chatroom.messages;
				// self.participants = responce.data.company.chatroom.participants;
				self.company = responce.data.company;
			});
		},
		SaveChanges(e){
			e.preventDefault();
			this.$http.put(process.env.VUE_APP_SUPPLY_URL+'api/orks/companies/'+this.$route.params.id, this.company).then(responce => this.EditHide());
		}
	}
  }
</script>

<style scoped>
  #company-page  	.comment-section{
    min-height: 293px;
    max-height: 300px;
		overflow: auto;
	}
	.white-bg{
		background-color: #FFFFFF;
		height: 100%;
    padding: 10px;
    border-radius: 7px;
	}
 #company-page .sendButtonImage{
		height:20px;
	}
	 #company-page  .sendButton{
		position: absolute;
	  bottom: 16px;
    right: 10px;
    background: transparent;
    border: none;
	}
 #company-page .send-comment{
		position: relative;
    transform: unset;
    border-top: 1px solid #ccc;
    background: #fafbfc;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
	}
 #company-page .comment{
		width: auto;
		height:50px;
		margin: 10px
	}
 #company-page .participant{
		width: 100%;
		height:50px;
	}
  #company-page .main-section-comment {
    background: #fff;
    padding: 0;
    border-radius: 7px;
    margin: 0 1rem;
  }
  #company-page .information p {
    margin-bottom: 10px;
  }
  #company-page .information .data-from-db {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
  }
 #company-page .send-comment textarea {
   margin-top: 20px;
   outline: 0;
   min-height: 36px;
   width: 93%;
   resize: none;
   max-height: 200px;
   overflow-y: auto;
   overflow-x: hidden;
   border-radius: 6px;
   line-height: 17px;
   padding: 20px;
   margin-bottom: 0;
   word-wrap: break-word;
   box-sizing: border-box;
   border: 1px solid #ccc;
   -o-transition: border-bottom-color 0.3s linear;
   transition: border-bottom-color 0.3s linear;
   -webkit-font-smoothing: subpixel-antialiased;
  }
</style>