<template>
  <div class="grey-bg">
    <div class="container">
      <div class="inner-title">
        <h3>{{ $t("drivers") }}</h3>
        <p>
          <router-link :to="'/ork/company/'+$route.params.id">Вернуться к компании</router-link>
        </p>
      </div>
      <transition name="fade">
        <DriversTable v-if="table" @add="toggleView"></DriversTable>
      </transition>
      <transition name="fade">
        <DriverEditAdd v-if="add" @back="toggleViewBack" :driverEdit="edit"></DriverEditAdd>
      </transition>
    </div>
  </div>
</template>


<script>
import DriversTable from "@/components/Company/DriversTable.vue";
import DriverEditAdd from "@/components/Company/DriverEditAdd.vue";
export default {
  components: {
    DriversTable,
    DriverEditAdd
  },
  data() {
    return {
      table: true,
      add: false,
      edit: 0
    };
  },
  props: {},
  watch: {},
  created: function() {
    if (this.$route.params.contract) {
      this.table = false;
      this.add = true;
    }
  },
  methods: {
    toggleView(e) {
      this.edit = e;
      (this.table = false), (this.add = true);
    },
    toggleViewBack() {
      (this.table = true), (this.add = false);
    }
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>