<template>
  <div class="grey-bg">
    <div class="container">
      <div class="inner-title">
        <h3>{{ $t("managers") }}</h3>
        <p>
          <router-link :to="'/ork/company/'+$route.params.id">Вернуться к компании</router-link>
        </p>
      </div>
      <div class="row">
        <transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
            <div class="search">
              <input type="text" v-model="searchTerm" />
              <button></button>
            </div>
          </div>
        </transition>
        <transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
            <div class="pick-period-row">
              <div class="pick-period">
                <p>Выбрать период</p>
              </div>
              <div class="pick-period-box">
                <date-picker
                  format="YYYY-MM-DD"
                  value-type="timestamp"
                  @clear="clear"
                  v-model="searchTerm"
                  :lang="lang"
                  range
                  style="width: 100%"
                ></date-picker>
              </div>

              <div class="burger dropleft">
                <button
                  class="hamburger hamburger--collapse dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
                <div class="dropdown-menu">
                  <button @click="exportCSV" class="btn btn-secondary export-butons">Скачать как CSV</button>
                  <br />
                  <br />
                  <button @click="exportXLS" class="btn btn-secondary export-butons">Скачать как XLS</button>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="table-cont" id="table-cont">
            <vue-good-table
              ref="clientTable"
              :columns="columns"
              :rows="rows"
              :search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
              :pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import DatePicker from "vue2-datepicker";
export default {
  components: {
    DatePicker
  },
  data() {
    return {
      colClass: 6,
      unselected: true,
      SearchSelected: false,
      DateSelected: false,
      dates: [],
      lang: {
        days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        months: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        pickers: [
          "next 7 days",
          "next 30 days",
          "previous 7 days",
          "previous 30 days"
        ],
        placeholder: {
          date: "Select Date",
          dateRange: "Select Date Range"
        }
      },
      columns: [],
      rows: [],
      loading: {
        type: Boolean,
        default: false
      },
      searchTerm: ""
    };
  },
  props: {},
  watch: {
    searchTerm: function(newValue, oldValue) {
      if (typeof newValue == "object") {
        this.unselected = false;
        this.SearchSelected = false;
        this.DateSelected = true;
        this.colClass = 12;
      }
      if (newValue == "") {
        this.unselected = true;
        this.SearchSelected = false;
        this.DateSelected = false;
        this.colClass = 6;
      }
      if (typeof newValue == "string" && newValue.length > 0) {
        this.unselected = false;
        this.DateSelected = false;
        this.SearchSelected = true;
        this.colClass = 12;
      }
    }
  },
  created: function() {
    this.getContracts();
  },
  methods: {
    search: function(row, col, cellValue, searchTerm) {
      if (typeof searchTerm == "object") {
        if (
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) >=
            parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) &&
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <=
            parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0)) +
              86400
        ) {
          return cellValue;
        }
      } else {
        if (
          String(cellValue)
            .toLowerCase()
            .includes(searchTerm.toLowerCase())
        ) {
          return cellValue;
        }
      }
    },
    clear: function() {
      this.searchTerm = "";
    },
    exportCSV: function() {
      const xls = new XlsExport(
        this.$refs.clientTable.processedRows[0].children,
        "export"
      );
      xls.exportToCSV("export.csv");
    },
    exportXLS: function() {
      const xls = new XlsExport(
        this.$refs.clientTable.processedRows[0].children,
        "export"
      );
      xls.exportToXLS("export.xls");
    },
    actFormat: function(rowObj) {
      let string = "";
      string += '<a href="/#/order/' + rowObj.id + '">Подробнее</a>';
      return string;
    },
    getContracts() {
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/orks/companies/${this.$route.params.id}/managers`
        )
        .then(responce => {
          for (var i = 0; i < responce.data.columns.length; i++) {
            var column = {};
            column = {
              label: this.$t(responce.data.columns[i]),
              field: responce.data.columns[i]
            };
            this.columns.push(column);
          }
          this.rows = responce.data.managers;
        });
    }
  }
};
</script>

<style scoped>
</style>