<template>
  <div>
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-5">
  				
  			</div>
  			<div class="col-sm-2">
  				<img src="@/assets/images/LoadingBasketContents.gif">
  			</div>
  			<div class="col-sm-5">
  				
  			</div>
  		</div>  		
  	</div>
  </div>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	
	    }
	},
	props:{

	},
	watch:{

	},
	created: function(){
		this.$http
		.post(`${process.env.VUE_APP_SUPPLY_URL}api/orks/orders/buy-parts-only/${this.$route.params.id}`)
		.then(responce => this.$router.push("/"))
		.catch(error => {
			this.$swal.fire("Ошибка", error.responce.data, "error");
			this.$router.push("/");
		});;
	},
	methods:{

	}
  }
</script>

<style scoped>
	img {
		margin: auto
	}
</style>