<template>
  <div>
    <div class="blue-bg">
      <div class="container">
        <div class="row">
          <div class="blue-btn">
            <a href="/#/ork">
              <div class="blue-circle">
                <img src="@/assets/images/status.png" alt />
              </div>
              <p>Статусы по заявкам</p>
            </a>
          </div>
          <div class="blue-btn">
            <a href="/#/ork/companies/create">
              <div class="blue-circle">
                <img src="@/assets/images/create.png" alt />
              </div>
              <p>Создать компанию</p>
            </a>
          </div>
          <div class="blue-btn">
            <a href="/#/ork/companies">
              <div class="blue-circle">
                <img src="@/assets/images/create.png" alt />
              </div>
              <p>Список компаний</p>
            </a>
          </div>
          <div class="blue-btn">
            <a href="/#/ork/bills/formed">
              <div class="blue-circle">
                <img src="@/assets/images/create.png" alt />
              </div>
              <p>Счета для клиента</p>
            </a>
          </div>
          <div class="blue-btn">
            <a href="/CRM_инструкция для Менеджеров.pdf">
              <div class="blue-circle">
                <img src="@/assets/images/intruction.png" alt />
              </div>
              <p>Инструкция по работе в CRM</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div class="grey-bg">
        <div class="container">
          <router-view></router-view>
        </div>
      </div>
    </transition>
  </div>
</template>
<script type="text/javascript">
// @ is an alias to /src
export default {
  components: {},
  data() {
    return {};
  },
  methods: {}
};
</script>
<style type="text/css" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>