<template>
    <div class="CreateWorkList container">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 20px;">
                <button @click="addWork">
                    Добавить работу
                </button>
            </div>
        </div>
        <div class="row">
            <Work v-for="(work, index) in act" @work-change="updateWork" :work="work" :list="works" style="padding: 20px;"></Work>
        </div>
    </div>
</template>

<script>
    import Work from "@/components/DefectAct/Work/Work.vue";
    export default {
        components: {Work},
        props: ["act", "works"],
        methods:{
            updateWork(work){
                this.$emit('work-change', work);
            },
            addWork(){
                this.$emit('work-add');
            }
        }
    };
</script>

<style lang="scss" scoped src="./_CreateWorkList.scss"></style>