<template>
  <div>
  	<br>
  	Ремонтные работы:   	
  	<br>
  	<br>
  	<table>
  		<thead>
  			<tr>
	  			<th>
	  				№
	  			</th>
	  			<th>
	  				Перечень работ
	  			</th>
	  			<th>
	  				Стоимость за ед.
	  			</th>
	  			<th>
	  				Количество
	  			</th>
	  			<th>
	  				Общая стоимость
	  			</th>
  			</tr>
  		</thead>
  		<tbody is="transition-group" name="fade">
  			<work v-for="(work, index) in act.works" :index="index" :key="index" :works="works_prepaired" @workchange="updateWork"></work>
  		</tbody>
  		<button @click="addWork">Добавить работу</button>
  	</table>

  	<br>
  	Запчасти:   	
  	<br>
  	<br>
  	<table>
  		<thead>
  			<tr>
	  			<th>
	  				№
	  			</th>
	  			<th>
	  				Перечень автозапчастей
	  			</th>
	  			<th>
	  				Стоимость за ед.
	  			</th>
	  			<th>
	  				Количество
	  			</th>
	  			<th>
	  				Общая стоимость
	  			</th>
  			</tr>
  		</thead>
  		<tbody is="transition-group" name="fade">
  				<part v-for="(part, index) in act.parts" :unknown="unknown" :index="index" :key="index" :parts="parts_prepaired" @partchange="updatePart"></part>
  		</tbody>
  		<button @click="addPart">Добавить запчасть</button> 
  		<button @click="addNewPart">Добавить новую запчасть</button>
  	</table>
  	<button @click="send">Отправить Дефектный акт</button>
  	<!-- 
	<v-select class="style-chooser" :options="parts_prepaired"  label="name"  :reduce="name => name.id" v-model="act.parts"/> -->
  </div>
</template>


<script>
	import work from '@/components/Station/work.vue'
	import part from '@/components/Station/part.vue'
	import newPart from '@/components/Station/newPart.vue'
  export default {
  	components:{
  		work,
  		part,
  		newPart
  	},
  	data() {
	    return {
	    	act: {
	    		works: [],
  				parts: [],
	    	},
	    	unknown: false,
	    	works_prepaired: [],
	    	parts_prepaired: [],
	    }
	},
	props:["orderid"],
	watch:{

	},
	created: function () {
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/works').then(responce => this.works_prepaired = responce.data.data);
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/parts').then(responce => this.parts_prepaired = responce.data.data);
	},
	methods:{
		addPart: function(){this.unknown =false; this.act.parts.push({})},
		addNewPart: function(){this.unknown =true; this.act.parts.push({})},
		addWork: function(){this.act.works.push({})},
		updateWork: function(newWork){this.act.works[newWork[0]] = newWork[1]},
		updatePart: function(newPart){this.act.parts[newPart[0]] = newPart[1]},
		updateNewPart: function(newPart){this.act.parts_unknown[newPart[0]] = newPart[1]},
		send: function(){
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/stations/orders/'+this.orderid+'/defect-acts', this.act).then(responce => console.log(responce))
		}
	}
  }
</script>

<style type="text/css" scoped>
	.fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>