<template>
  	<tr>
		<td>
			{{ index }}
		</td>
		<td>
			<input type="number" name="price" v-model="part.name">
		</td>
		<td>
			<input type="number" name="price" v-model="part.price">
		</td>
		<td>
			<input type="number" name="amount" v-model="part.amount">
		</td>
		<td>
			{{ totalPrice }}
		</td>
	</tr>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	part:{
	    		name: "",
	    		amount: 1,
	    		price: 0
	    	}
	    }
	},
	props:["parts", "index"],
	watch:{
		part: {
			handler(newValue, oldValue){
				this.$emit('partchange', [this.index, newValue])
			},
			deep: true
		}
	},
	created:{

	},
	computed:{
		totalPrice: function(){
			return this.part.price * this.part.amount;
		}
	},
	methods:{

	}
  }
</script>

<style scoped>

</style>