<template>
	<form @submit="RegisterSendClient">
		<input type="text" required placeholder="ФИО" v-model="registerStation.name">
		<select name="" required id="" v-if="!loading" v-model="registerStation.station">
			<option v-for="(station, index) in stations" v-bind:key="index" :value="station.id">
				{{ station.name }}
			</option>
		</select>
		<div v-if="loading" class="loading">
			Загружаем компании...
		</div>
		<input required type="email" placeholder="Email" v-model="registerStation.email">
		<input required type="password" placeholder="Пароль" v-model="registerStation.password">
		<input required type="password" placeholder="Пароль" v-model="registerStation.password_confirmation">
		<div class="remember-me">
			<div class="form-group">
				<input required v-model="registerStation.agreement" type="checkbox" id="css">
				<label for="css"><p>Принять <a href="">соглашение</a></p></label>
			</div>
		</div>
		<button type="submit" class="register-btn">
			ЗАРЕГИСТРИРОВАТЬСЯ
		</button>
	</form>
</template>

<script type="text/javascript">
export default {
	created: function(){
		this.getStations();
	},
	data() {
	return {
		loading: true,
			stations: [],
			registerStation:{
				name: "",
				station: 0,
				email: "",
				agreement: 0,
				password: "",
				password_confirmation: ""
			}
		}
	},
	methods: {
		getStations: function () {
			this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/stations')
			.then(responce => {this.stations = responce.data; this.loading = false;})
		},
		RegisterSendClient: function(e) {
			e.preventDefault();
			var self=this;
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/register/station', this.registerStation)
			.then(responce => {
				self.$store.commit('setUser', responce.data.user);
                localStorage.setItem('role', responce.data.role_id);
                localStorage.setItem('token', responce.data.token);
                self.$emit('successlogin')
                self.$router.push('/')		
			})
		}
	}
}
</script>