<template>
	<div>
		<div class="row">
			<transition name="bounce">
				<div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
					<div class="search">
						<input type="text" v-model="searchTerm">
						<button></button>
					</div>
				</div>
			</transition>
			<transition name="bounce">
				<div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
					<div class="pick-period-row">
						<div class="pick-period">
							<p>Выбрать период</p>
						</div>
						<div class="pick-period-box">
							<date-picker format="YYYY-MM-DD" value-type="timestamp" @clear="clear" v-model="searchTerm" :lang="lang" range style="width: 100%"></date-picker>
						</div>
						<div class="burger">
							<button class="hamburger hamburger--collapse" type="button">
						  <span class="hamburger-box">
							<span class="hamburger-inner"></span>
						  </span>
							</button>
						</div>
					</div>
				</div>
			</transition>
		</div>
		
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<div class=" table-cont" id="table-cont">
					<vue-good-table
						:columns="columns"
						:rows="rows"
						>
						<template slot="table-row" slot-scope="props">
					    <span v-if="props.column.label == 'Дефектный акт'"> <!-- && (props.row.defect_acts.length == null || props.row.defect_acts.length == 0)"> -->
					      
					    </span>
					  </template>
					</vue-good-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import DatePicker from 'vue2-datepicker'
	export default {
		components: {
			DatePicker
		},
		created: function(){
			this.getOrders(0);
		},
		data(){
			return {
				createDefectID: 0,
				DefectActCreate: false,
				colClass: 6,
				unselected: true,
				SearchSelected: false,
				DateSelected: false,
				dates: [],
				lang: {
					days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
					pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
					placeholder: {
						date: 'Select Date',
						dateRange: 'Select Date Range'
					}
				},
				columns: [

				],
				rows: [

				],
				loading: {
					type: Boolean,
					default: false,
				},
				searchTerm: "",
			}
		},
		watch:{
			searchTerm: function(newValue, oldValue){
				if(typeof newValue  == 'object'){
					this.unselected = false
					this.SearchSelected = false;
					this.DateSelected = true;
					this.colClass = 12
				}
				if(newValue  == ""){
					this.unselected = true
					this.SearchSelected = false;
					this.DateSelected = false;
					this.colClass = 6
				}
				if(typeof newValue  == 'string' && newValue.length > 0){
					this.unselected = false
					this.DateSelected = false;
					this.SearchSelected = true;
					this.colClass = 12
				}
			}
		},
		methods:{
			search: function(row, col, cellValue, searchTerm) {
				if(typeof searchTerm == 'object'){
					if(parseInt((new Date(cellValue).getTime() / 1000).toFixed(0))  >= parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) && parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <= parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0))+86400){
						return cellValue
					}
					
				}
				else{
					if(String(cellValue).toLowerCase().includes(searchTerm.toLowerCase())){
						return cellValue
					}
				}				
			},
			clear: function(){
				this.searchTerm = ""
			},
			// carFormat: function(rowObj) {
 		// 	  return rowObj.car.brand+" "+rowObj.car.model;
			// },
			actFormat: function(rowObj) {
				let string = "";
				if(rowObj.defect_acts != null){
					string += "<a href=\"/#/station/"+rowObj.id+"/defect/"+rowObj.defect_acts.id+"\">Дефектный акт#"+rowObj.defect_acts.id+"</a>, "
				}
				else{
					// console.log(rowObj.id)
					string += `<a onclick="vm.$children[0].$children[1].$children[0].$emit('defectcreate', `+rowObj.id+`)"> Создать дефектный акт</a>`;
				}
 			  	return string;
			},
			// H: Authorization: 'Bearer '+token
			getOrders(event, id){
				if(event){
					for (var i = 0; i < document.getElementsByClassName('request-list')[0].getElementsByClassName('active').length; i++) {
						document.getElementsByClassName('request-list')[0].getElementsByClassName('active')[i].classList.toggle("active")
					}
				}				
				this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/stations/orders' + (id ? '?status_internal='+id : ''))
				.then(responce => {
					this.columns =[];
					this.rows = [];
					for (var i = 0; i < responce.data.columns.length; i++) {
						let column = {};
						switch(responce.data.columns[i]) {
							case 'defect_acts':
								column = {
									label: responce.data.columns[i],
									field: this.actFormat,
									html: true
								}
								break;
						// 	case 'driver':
						// 		column = {
						// 			label: responce.data.columns[i],
						// 			field: this.driverFormat
						// 		}
						// 		break;
							default:
								column = {
									label: responce.data.columns[i],
									field: responce.data.columns[i],
								}
						}
						this.columns.push(column);
					}
					// if(responce.data.)
					let columnDefect = {
					  label: 'Дефектный акт',
					  field: this.actFormat,
					  html: true
					}
					this.columns.push(columnDefect);
					this.rows = responce.data.orders
				})
			}
		}
	}
</script>
<style type="text/css" scoped>
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
	transform: scale(0);
  }
  50% {
	transform: scale(1.5);
  }
  100% {
	transform: scale(1);
  }
}

</style>