<template>
  	<tr>
		<td>
			{{ index }}
		</td>
		<td>
			<v-select class="style-chooser" :options="works"  label="name"  :reduce="name => name.id" v-model="work.id"/>
		</td>
		<td>
			<input type="number" name="price" v-model="work.price">
		</td>
		<td>
			<input type="number" name="amount" v-model="work.amount">
		</td>
		<td>
			{{ totalPrice }}
		</td>
	</tr>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	work:{
	    		id: 0,
	    		amount: 1,
	    		price: 0
	    	}
	    }
	},
	props:["works", "index"],
	watch:{
		work: {
			handler(newValue, oldValue){
				this.$emit('workchange', [this.index, newValue])
			},
			deep: true
		}
	},
	created:{

	},
	computed:{
		totalPrice: function(){
			return this.work.price * this.work.amount;
		}
	},
	methods:{

	}
  }
</script>

<style scoped>

</style>