<template>
    <div class="Part col-sm-6" style="box-shadow: 0 0 0 1px RGBA(0,0,0,0.5);">
        <div class="row">
            <div class="col-sm-12">
                <label>
                    <input
                        @input="updatePart"
                        v-model="part.stock"
                        type="checkbox">
                    В наличии
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" v-if="part.known">
                <v-select
                    label="name"
                    @input="updatePart"
                    :options="list"
                    v-model="partIn.part_id"/>
            </div>
            <div class="col-sm-12" v-if="!part.known">
                <input
                    style="width: 100%;"
                    @input="updatePart"
                    v-model="part.name" />
            </div>
            <div class="col-sm-12">
                <label>
                    <input v-model="part.known" type="checkbox">
                    Нет в списке
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-12" >
                            Цена:
                        </div>
                        <div class="col-sm-12">
                <input
                        @input="updatePart"
                        style="width: 100%;"
                        type="number"
                        v-model="part.price" />
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-12" >
                            Количество:
                        </div>
                            <div class="col-sm-12">
                                <input
                                    type="number"
                                    style="width: 100%;"
                                    @input="updatePart"
                                    v-model="part.amount" />
                            </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button>Удалить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["list", "part"],
        data(){
            return{
                partIn: {
                    id: null,
                    stock: true,
                    known: true,
                    name: "",
                    part_id:"",
                    price: "",
                    amount: ""
                }
            }
        },
        watch: {
            part: {
                deep: true,
                handler(newValue){
                    this.partIn = newValue;
                }
            }
        },
        created() {
            this.partIn = this.part;
        },
        methods: {
            updatePart(){
                this.$emit('part-change', this.partIn);
            }
        }
    };
</script>
