<template>
  	<tr>
		<td>
			{{ index }}
		</td>
		<td>
			<input type="text" name="name" v-model="part.name" v-if="part.unknown"> 
			<v-select class="style-chooser" :options="parts"  label="name"  :reduce="name => name.id" v-model="part.id" v-if="!part.unknown"/>
		</td>
		<td>
			<input type="number" name="price" v-model="part.price">
		</td>
		<td>
			<input type="number" name="amount" v-model="part.amount">
		</td>
		<td>
			{{ totalPrice }}
		</td>
	</tr>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	part:{
	    		id: null,
	    		name: null,
	    		amount: 1,
	    		price: 0,
	    		unknown: this.unknown
	    	}
	    }
	},
	props:["parts", "index", "unknown"],
	watch:{
		part: {
			handler(newValue, oldValue){
				this.$emit('partchange', [this.index, newValue])
			},
			deep: true
		}
	},
	created:{

	},
	computed:{
		totalPrice: function(){
			return this.part.price * this.part.amount;
		}
	},
	methods:{

	}
  }
</script>

<style scoped>

</style>