<template>
    <div class="bg-gray">
        <div class="container">
            <a href="/#/orpa/shop/create" @click="toggleShopEditAdd">Создать магазин</a>
            <div class="row">
                <transition name="bounce">
                    <div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
                        <div class="search">
                            <input type="text" v-model="searchTerm">
                            <button></button>
                        </div>
                    </div>
                </transition>
                <transition name="bounce">
                    <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
                        <div class="pick-period-row">
                            <div class="pick-period">
                                <p>Выбрать период</p>
                            </div>
                            <div class="pick-period-box">
                                <date-picker format="YYYY-MM-DD" value-type="timestamp" @clear="clear" v-model="searchTerm" :lang="lang" range style="width: 100%"></date-picker>
                            </div>
                            <div class="burger">
                                <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                                </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class=" table-cont" id="table-cont">
                        <vue-good-table
                            :columns="columns"
                            :rows="rows"
                            :pagination-options="{
                                enabled: true,
                                mode: 'pages',
                                perPageDropdown: [5, 7, 10, 20, 50],
                                dropdownAllowAll: false,
                                setCurrentPage: 1,
                                nextLabel: 'next',
                                prevLabel: 'prev',
                                rowsPerPageLabel: 'Rows per page',
                                ofLabel: 'of',
                                pageLabel: 'page', // for 'pages' mode
                                allLabel: 'All',
                            }" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
export default {
    components: {
        DatePicker
    },
    data(){
        return {
            colClass: 6,
            unselected: true,
            SearchSelected: false,
            DateSelected: false,
            dates: [],
            lang: {
                days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                placeholder: {
                    date: 'Select Date',
                    dateRange: 'Select Date Range'
                }
            },
            columns: [

            ],
            rows: [

            ],
            loading: {
                type: Boolean,
                default: false,
            },
            searchTerm: "",
        }
    },
    watch:{
        searchTerm: function(newValue, oldValue){
            if(typeof newValue  == 'object'){
                this.unselected = false
                this.SearchSelected = false;
                this.DateSelected = true;
                this.colClass = 12
            }
            if(newValue  == ""){
                this.unselected = true
                this.SearchSelected = false;
                this.DateSelected = false;
                this.colClass = 6
            }
            if(typeof newValue  == 'string' && newValue.length > 0){
                this.unselected = false
                this.DateSelected = false;
                this.SearchSelected = true;
                this.colClass = 12
            }
        }
    },
    created() {
        this.fetchShops();
    },
    methods:{
        toggleShopEditAdd() {
            this.$emit('toggleShopsEditAdd');
        },
		shopViewFormat: function(rowObj){
			let string = "";
			string += "<a href=\"/#/orpa/shop/"+rowObj.id+"/edit\">Подробнее</a>"
			return string;
		},
        search: function(row, col, cellValue, searchTerm) {
            if(typeof searchTerm == 'object'){
                if(parseInt((new Date(cellValue).getTime() / 1000).toFixed(0))  >= parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) && parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <= parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0))+86400){
                    return cellValue
                }
                
            }
            else{
                if(String(cellValue).toLowerCase().includes(searchTerm.toLowerCase())){
                    return cellValue
                }
            }				
        },
        clear: function(){
            this.searchTerm = ""
        },
        fetchShops() {			
            this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/orpas/shops')
                .then(response => response.data)
                .then(data => {
					this.columns =[];
					this.rows = [];
                    
                    for(let i = 0; i < data.columns.length; i++) {
                        const column = {
                            label: data.columns[i],
                            field: data.columns[i],
                        }
                        this.columns.push(column);
                    }

                    let companyEdit = {
                        label: this.$t("company_edit"),
                        field: this.shopViewFormat,
                        html: true,
                        sortable: false,
                    }
                    this.columns.push(companyEdit);
                    this.rows = data.shops;
                });
        }
    }
}
</script>