<template>
    <div class="bg-gr">
        <div class="container">
            <h1>{{ edit ? 'Изменение магазина' : 'Создание магазина' }}</h1>
            <form class="my-2">
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.name" :placeholder="$t('shop')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.city" :placeholder="$t('shop')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.address" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.dir_name" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.dir_phone" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.specialist_name" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.specialist_phone" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.jur_address" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.fact_address" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.bin" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.bik" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.iik" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.contact_person" :placeholder="$t('company')">
                </div>
                <div class="my-2">
                    <input class="form-control" type="text" v-model="shop.contact_phone" :placeholder="$t('company')">
                </div>
                <div v-if="edit">
                    <div class="btn btn-primary" @click="editCompany">{{ $t('edit_shop') }}</div>
                </div>
                <div v-else>
                    <div class="btn btn-primary" @click="createCompany">{{ $t('create_shop') }}</div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>    
export default {
    data() {
        return {
            edit: false,
            shop: {
                name: null,
                city: null,
                address: null,
                dir_name: null,
                dir_phone: null,
                specialist_name: null,
                specialist_phone: null,
                jur_address: null,
                fact_address: null,
                bin: null,
                bik: null,
                iik: null,
                contact_person: null, 
                contact_phone: null,
            }
        }
    },
    created() {
        if(this.$route.params.id) {
            this.edit = true;
            this.fetchShop();
        }
    },
    methods: {
        fetchShop() {
            this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}/api/orpas/shops/${this.$route.params.id}`)
                .then(response => response.data.data)
                .then(data => {
                    for (const key in this.shop) {
                        if (this.shop.hasOwnProperty(key)) {
                            console.log(data)
                            this.shop[key] = data[key];
                        }
                    }
                    console.log(this.shop);
                });
        },
        createCompany() {
            const data = new FormData();
            for (const key in this.shop) {
                if (this.shop.hasOwnProperty(key)) {
                    data.append(key, this.shop[key]);
                }
            }
            this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}/api/orpas/shops`, data)
                .then(response => this.$router.push('/#/orpa') );
        },
        editCompany() {
            const data = new FormData();
            for (const key in this.shop) {
                if (this.shop.hasOwnProperty(key)) {
                    data.append(key, this.shop[key]);
                }
            }
            data.append('_method', 'PUT');
            this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}/api/orpas/shops/${this.$route.params.id}`, data)
                .then(response => console.log(response));
        }
    }
}
</script>