<template>
  <div class="grey-bg">
    <div class="container">
      <div class="inner-title">
        <h3>Заявки</h3>
      </div>
      <div class="request-list">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'ordered')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >НОВЫЕ ЗАЯВКИ ({{ count.ordered }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'onApprovalToOrk')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ЗАЯВКИ НА СОГЛАСОВАНИЕ SUPPLY ({{ count.onApprovalToOrk }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'onApprovalToClient')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ЗАЯВКИ НА СОГЛАСОВАНИЕ КЛИЕНТУ ({{ count.onApprovalToClient }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'onWork')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >В РАБОТЕ ({{ count.onWork }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'completed')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ВЫПОЛНЕННЫЕ ЗАЯВКИ ({{ count.completed }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'rejected')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ОТМЕНЕННЫЕ ЗАЯВКИ ({{ count.rejected }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'onPayment')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >НА ОПЛАТЕ ({{ count.onPayment }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'closed')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ЗАКРЫТЫЕ ЗАЯВКИ({{ count.closed }})</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              @click="getOrders($event, 'all')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >ВСЕ ЗАЯВКИ ({{ count.all }})</a>
          </li>
          <li class="nav-item">
            <a
              class="$event, nav-link"
              :id="statuses.reverted.id"
              data-toggle="tab"
              @click="getOrders($event, 'reverted')"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >Возвращённые заявки ({{ count.reverted }})</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
            <div class="search">
              <input type="text" v-model="searchTerm" />
              <button></button>
            </div>
          </div>
        </transition>
        <transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
            <div class="pick-period-row">
              <div class="pick-period">
                <p>Выбрать период</p>
              </div>
              <div class="pick-period-box">
                <date-picker
                  format="YYYY-MM-DD"
                  value-type="timestamp"
                  @clear="clear"
                  v-model="searchTerm"
                  :lang="lang"
                  range
                  style="width: 100%"
                ></date-picker>
              </div>
              <div class="burger">
                <button class="hamburger hamburger--collapse" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </transition>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="table-cont" id="table-cont">
            <vue-good-table
              :columns="columns"
              :rows="rows"
              :search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
              :sort-options="{
							    enabled: true,
							    initialSortBy: {field: 'id', type: 'desc'}
							}"
              :pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import DatePicker from "vue2-datepicker";
export default {
  components: {
    DatePicker
  },
  data() {
    return {
      shops: null,
      count: [],
      colClass: 6,
      unselected: true,
      SearchSelected: false,
      DateSelected: false,
      dates: [],
      lang: {
        days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        months: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        pickers: [
          "next 7 days",
          "next 30 days",
          "previous 7 days",
          "previous 30 days"
        ],
        placeholder: {
          date: "Select Date",
          dateRange: "Select Date Range"
        }
      },
      columns: [],
      rows: [],
      loading: {
        type: Boolean,
        default: false
      },
      searchTerm: "",
      statuses: {
        ordered: {
          id: "ordered",
          int: "3"
        },
        all: {
          id: "all",
          int: "3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24"
        },
        onApprovalToOrk: {
          id: "onApprovalToOrk",
          int: "7,8,9,15"
        },
        onApprovalToClient: {
          id: "onApprovalToClient",
          int: "10,16"
        },
        rejected: {
          id: "rejected",
          int: "6,12"
        },
        onWork: {
          id: "onWork",
          int: "2,3,4,5,11,13,14,15,17"
        },
        completed: {
          id: "completed",
          int: "19,20"
        },
        onPayment: {
          id: "onPayment",
          int: "21,22"
        },
        closed: {
          id: "closed",
          int: "23"
        },
        reverted: {
          id: "ork_completed",
          int: "24"
        }
      },
      currentStatus: "all"
    };
  },
  created() {
    // this.fetchShops();
    this.countOrders();
    this.getOrders(null, "ordered");
  },
  watch: {
    searchTerm: function(newValue, oldValue) {
      if (typeof newValue == "object") {
        this.unselected = false;
        this.SearchSelected = false;
        this.DateSelected = true;
        this.colClass = 12;
      }
      if (newValue == "") {
        this.unselected = true;
        this.SearchSelected = false;
        this.DateSelected = false;
        this.colClass = 6;
      }
      if (typeof newValue == "string" && newValue.length > 0) {
        this.unselected = false;
        this.DateSelected = false;
        this.SearchSelected = true;
        this.colClass = 12;
      }
    }
  },

  updated() {
    // if(document.getElementsByClassName('attach_shop').length > 0) {
    // 	for (const iterator of document.getElementsByClassName('attach_shop')) {
    // 		iterator.addEventListener('change', e => {
    // 			const confirmAttachment = confirm("Прикрепить магазин?");
    // 			if(confirmAttachment) {
    // 				this.attachShop(e.target.getAttribute('data-id'), e.target.value);
    // 			}
    // 		});
    // 	}
    // }
  },
  methods: {
    countOrders() {
      this.$http
        .get(
          `${
            process.env.VUE_APP_SUPPLY_STORAGE_URL
          }api/count/orders?statuses=${JSON.stringify(this.statuses)}`
        )
        .then(r => (this.count = r.data));
    },
    // attachShop(orderId, shopId) {
    // 	this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}/api/stations/orders/${orderId}/shops/${shopId}`)
    // 		.then(response => {
    // 			console.log(response)
    // 		});
    // },
    search: function(row, col, cellValue, searchTerm) {
      if (typeof searchTerm == "object") {
        if (
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) >=
            parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) &&
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <=
            parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0)) +
              86400
        ) {
          return cellValue;
        }
      } else {
        if (
          String(cellValue)
            .toLowerCase()
            .includes(searchTerm.toLowerCase())
        ) {
          return cellValue;
        }
      }
    },
    clear: function() {
      this.searchTerm = "";
    },
    // fetchShops() {
    // 	this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}/api/shops`)
    // 		.then(response => this.shops = response.data);
    // },
    // H: Authorization: 'Bearer '+token
    getOrders(event, status) {
      vm.$children[0].loadingShow();
      if (event) {
        for (
          var i = 0;
          i <
          document
            .getElementsByClassName("request-list")[0]
            .getElementsByClassName("active").length;
          i++
        ) {
          document
            .getElementsByClassName("request-list")[0]
            .getElementsByClassName("active")
            [i].classList.toggle("active");
        }
      }
      this.$http
        .get(
          process.env.VUE_APP_SUPPLY_URL +
            "api/stations/orders" +
            (status ? "?status_internal=" + this.statuses[status].int : "")
        )
        .then(response => response.data)
        .then(data => {
          this.columns = [];
          this.rows = [];
          for (const col of data.columns) {
            let column = {};
            switch (col) {
              case "defect_acts":
                column = {
                  label: this.$t(col),
                  field: row => {
                    let string = "";
                    if (row.status_internal == 3) {
                      string = "";
                    } else if (row.defect_acts) {
                      string =
                        `<a href="/#/station/orders/` +
                        row.id +
                        `/defect\">Дефектный акт</a>`;
                    } else if (row.diagnosed_at) {
                      string =
                        '<a href="/#/station/order/' +
                        row.id +
                        '/defect/create">Создать дефектный акт</a>';
                    }

                    return string;
                  },
                  html: true
                };
                this.columns.push(column);
                this.columns.push({
                  label: "Подробнее",
                  field: row => `<a href="/#/order/${row.id}">Подробнее</a>`,
                  html: true
                });
                break;
              case "number":
                col = "car_number";
                column = {
                  label: "Госномер",
                  field: col
                };
                this.columns.push(column);
                break;
              case "id":
                column = {
                  label: this.$t(col),
                  field: col,
                  type: "number"
                };
                this.columns.push(column);
                break;
              case "status_internal":
                break;
              case "is_evacuated":
                let columnEvacuated = {
                  label: this.$t(responce.data.columns[i]),
                  field: rowObj =>
                    rowObj.is_evacuated ? "Требуется" : "Не требуется",
                  html: true
                };
                this.columns.push(columnEvacuated);
                break;
              case "created_at":
                column = {
                  label: this.$t(col),
                  field: col
                };
                this.columns.push(column);
                break;
              default:
                column = {
                  label: this.$t(col),
                  field: col
                };
                this.columns.push(column);
                break;
            }
          }
          
          this.rows.push(...data.orders);
          vm.$children[0].loadingHide();
        });
    }
  }
};
</script>
<style type="text/css" scoped>
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>