<template>
  <div>
    <router-link :to="`/ork/company/${$route.params.id}/cars`">К списку машин</router-link>
    <div class="register-input register-input2">
      <form @submit="sendCar">
        <input required type="text" :placeholder="$t('number')" v-model="car.number" />
        <input required type="text" :placeholder="$t('brand')" v-model="car.brand" />
        <input required type="text" :placeholder="$t('model')" v-model="car.model" />
        <input required type="number" :placeholder="$t('year')" v-model="car.year" />
        <input required type="text" :placeholder="$t('VIN номер')" v-model="car.vin_number" />
        <!-- <input required type="text" :placeholder="$t('type')" v-model="car.type_id" /> -->
        <v-select
          class="w-100"
          label="name"
          v-model="car.type_id"
          :options="carTypes"
          :reduce="name => name.id"
        />
        <v-select
          class="w-100"
          label="number_of_сontract"
          v-model="car.contract_id"
          :options="contracts"
          :reduce="number_of_сontract => number_of_сontract.id"
        />
        <button type="submit" class="register-btn" v-if="newCar">Сохранить машину</button>
        <button type="submit" class="register-btn" v-if="!newCar">Обновить машину</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      car: {
        number: "",
        brand: "",
        model: "",
        company_id: this.$route.params.id,
        year: "",
        vin_number: "",
        type_id: 0,
        contract_id: 0
      },
      carTypes: [],
      contracts: [],
      newCar: true
    };
  },
  props: ["carEdit"],
  watch: {},
  created() {
    if (this.$route.params.car != "create") {
      this.newCar = false;
      this.$http
        .get(
          process.env.VUE_APP_SUPPLY_URL +
            "api/orks/companies/" +
            this.$route.params.id +
            "/cars/" +
            this.$route.params.car
        )
        .then(responce => {
          this.car = responce.data;
        });
    }
    this.$http
      .get(`${process.env.VUE_APP_SUPPLY_URL}api/carTypes`)
      .then(responce => (this.carTypes = responce.data));

    this.$http
      .get(
        `${process.env.VUE_APP_SUPPLY_URL}api/orks/companies/${this.$route.params.id}/contracts`
      )
      .then(responce => (this.contracts = responce.data.contracts));
  },
  methods: {
    sendCar(e) {
      e.preventDefault();

      if (!this.newCar) {
        this.$http
          .put(
            process.env.VUE_APP_SUPPLY_URL +
              "api/orks/cars/" +
              this.$route.params.car,
            this.car
          )
          .then(responce =>
            this.$router.push(`/ork/company/${this.$route.params.id}/cars`)
          )
          .catch(error => {});
      } else {
        this.$http
          .post(process.env.VUE_APP_SUPPLY_URL + "api/orks/cars", this.car)
          .then(responce =>
            this.$router.push(`/ork/company/${this.$route.params.id}/cars`)
          )
          .catch(error => {});
      }
    }
  }
};
</script>

<style scoped>
.vs__search {
  background-color: #fff !important;
}
textarea {
  width: 370px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.register-input input,
.register-input select {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-input2 .need-evo2 input {
  margin-bottom: 20px;
}
</style>