<template>
  <div>
    <router-link :to="`/ork/company/${$route.params.id}/contracts`">К списку контрактов</router-link>
    <div class="register-input register-input2">
      <form @submit="sendContract">
        <input
          type="text"
          required
          v-model="contract.number_of_сontract"
          placeholder="Номер контракта"
        />
        <input
          type="number"
          min="0"
          required
          v-model="contract.budget"
          placeholder="Бюджет контракта"
        />
        <input type="date" required v-model="contract.signed_at" placeholder="Дата подписания" />
        <input type="date" required v-model="contract.expire_at" placeholder="Дата окончания" />
        <button type="submit" class="register-btn" v-if="newContract">Сохранить контракт</button>
        <button type="submit" class="register-btn" v-if="!newContract">Обновить контракт</button>
        <button
          type="button"
          class="register-btn"
          style="background-color: red;"
          @click="disableContract"
          v-if="contract.enabled == 1"
        >Скрыть контракт от клиента</button>
        <button
          type="button"
          class="register-btn"
          style="background-color: green;"
          @click="enableContract"
          v-if="contract.enabled == 0"
        >Показывать контракт у клиента</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      contract: {
        company_id: this.$route.params.id,
        number_of_сontract: "",
        budget: 0,
        signed_at: this.moment(new Date()).format("YYYY-MM-DD"),
        expire_at: this.moment(new Date()).format("YYYY-MM-DD"),
        enabled: 1
      },
      newContract: true
    };
  },
  props: ["contractEdit"],
  watch: {},
  created() {
    if (this.$route.params.contract) {
      this.newContract = false;
      this.$http
        .get(
          process.env.VUE_APP_SUPPLY_URL +
            "api/orks/companies/" +
            this.$route.params.id +
            "/contracts/" +
            this.$route.params.contract
        )
        .then(responce => {
          this.contract = responce.data;
          this.contract.signed_at = this.moment(this.contract.signed_at).format(
            "YYYY-MM-DD"
          );
          this.contract.expire_at = this.moment(this.contract.expire_at).format(
            "YYYY-MM-DD"
          );
        });
    }
  },
  methods: {
    disableContract() {
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/orks/companies/${this.$route.params.id}/contracts/${this.$route.params.contract}/disable`
        )
        .then(responce => {
          this.$router.push(`/ork/company/${this.$route.params.id}/contracts`);
        });
    },
    enableContract() {
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/orks/companies/${this.$route.params.id}/contracts/${this.$route.params.contract}/enable`
        )
        .then(responce => {
          this.$router.push(`/ork/company/${this.$route.params.id}/contracts`);
        });
    },
    sendContract(e) {
      e.preventDefault();
      var self = this;
      if (
        this.moment(this.contract.signed_at).unix() >
        this.moment(this.contract.expire_at).unix()
      ) {
        this.$swal.fire(
          "Договор не может быть подписан позже даты его истечения"
        );
        return 0;
      }
      if (!this.newContract) {
        this.contract.company_id = this.$route.params.id;
        this.$http
          .put(
            process.env.VUE_APP_SUPPLY_URL +
              "api/orks/contracts/" +
              this.$route.params.contract,
            this.contract
          )
          .then(responce => {
            this.$router.push(
              `/ork/company/${this.$route.params.id}/contracts`
            );
          })
          .catch(error => {});
      } else {
        this.$http
          .post(
            process.env.VUE_APP_SUPPLY_URL + "api/orks/contracts",
            this.contract
          )
          .then(responce =>
            this.$router.push(`/ork/company/${this.$route.params.id}/contracts`)
          )
          .catch(error => {
            if (
              error.response.data.errors.hasOwnProperty("number_of_сontract")
            ) {
              this.$swal.fire("Данный номер контракта уже существует");
            }
          });
      }
    }
  }
};
</script>

<style scoped>
.vs__search {
  background-color: #fff !important;
}
textarea {
  width: 370px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.register-input input,
.register-input select {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-input2 .need-evo2 input {
  margin-bottom: 20px;
}
</style>