<template>
  <div>
    <router-link :to="`/ork/company/${this.$route.params.id}/drivers`">К списку водителей</router-link>
    <div class="register-input register-input2">
      <form @submit="sendDriver">
        <input type="text" required v-model="driver.name" placeholder="Имя" />
        <input type="text" required v-model="driver.phone" placeholder="Телефон" />
        <button type="submit" class="register-btn" v-if="newDriver">Сохранить водителя</button>
        <button type="submit" class="register-btn" v-if="!newDriver">Обновить водителя</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      driver: {
        name: "",
        phone: "",
        company_id: this.$route.params.id
      },
      newDriver: true
    };
  },
  props: ["driverEdit"],
  watch: {},
  created() {
    if (this.$route.params.driver != "create") {
      this.newDriver = false;
      this.$http
        .get(
          process.env.VUE_APP_SUPPLY_URL +
            "api/orks/companies/" +
            this.$route.params.id +
            "/drivers/" +
            this.$route.params.driver
        )
        .then(responce => {
          this.driver = responce.data;
        });
    }
  },
  methods: {
    sendDriver(e) {
      e.preventDefault();
      var self = this;
      if (!this.newDriver) {
        this.$http
          .put(
            process.env.VUE_APP_SUPPLY_URL +
              "api/orks/drivers/" +
              this.$route.params.driver,
            this.driver
          )
          .then(responce =>
            self.$router.push(`/ork/company/${this.$route.params.id}/drivers`)
          )
          .catch(error => {});
      } else {
        this.$http
          .post(
            process.env.VUE_APP_SUPPLY_URL + "api/orks/drivers",
            this.driver
          )
          .then(responce =>
            self.$router.push(`/ork/company/${this.$route.params.id}/drivers`)
          )
          .catch(error => {});
      }
    }
  }
};
</script>

<style scoped>
.vs__search {
  background-color: #fff !important;
}
textarea {
  width: 370px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.register-input input,
.register-input select {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-input2 .need-evo2 input {
  margin-bottom: 20px;
}
</style>