<template>
  <div>
    <div class="blue-bg">
      <div class="container">
        <div class="row">
          <div class="blue-btn">
            <a href>
              <div class="blue-circle">
                <img src="@/assets/images/intruction.png" alt />
              </div>
              <p>Инструкция по работе в CRM</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>
<script type="text/javascript">
// @ is an alias to /src

export default {
  components: {},
  data() {
    return {};
  },
  methods: {}
};
</script>
<style type="text/css" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>