<template>
    <div class="container py-4">
        <h1>Счета</h1>
        <div v-for="(bill, index) in bills" :key="index" class="my-4">
            <h4>Номер счета: {{ index }}</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Номер заявки</th>
                        <th>Итоговая цена</th>
                        <th>Оплачено</th>
                    </tr>
                    <tr v-for="(b, i) in bill" :key="i">
                        <td>
                            <router-link :to="`/client/defect/${b.defect_act.order_id}`">#{{ b.defect_act.order_id }}</router-link>
                        </td>
                        <td>
                            {{ b.overal_price }} тг.
                        </td>
                        <td>
                            {{ b.paid_at ? b.paid_at : 'Не оплачено' }}
                        </td>
                    </tr>
                    <tr>
                        <td>Итог</td>
                        <td>{{ total(bills[index]) }} тг.</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            bills: [],
        }
    },
    created() {
        this.fetchBills();
    },
    methods: {
        fetchBills() {
            this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/clients/bills`)
                .then(r => {
                    this.bills = r.data;
                });
        },
        total(bills) {
            return bills.map(item => item.overal_price)
                .reduce((prev, next) => prev + next)
        }
    },
}
</script>