<template>
	<form @submit="RegisterSend">
		<input type="text" required placeholder="Фамилия" v-model="registerClient.FamilyName">
		<input type="text" required placeholder="Имя" v-model="registerClient.name">
		<input type="text" required placeholder="Отчество" v-model="registerClient.FatherName">
		Компания
		<select name="" required id="" v-if="!loading" v-model="registerClient.company">
			<option v-for="(company, index) in companies" v-bind:key="index" :value="company.id">
				{{ company.name }}
			</option>
		</select>
		<div v-if="loading" class="loading">
			Загружаем компании...
		</div>
		<input required type="phone" placeholder="Телефон представителя" v-model="registerClient.phone">
		<input required type="email" placeholder="Email представителя" v-model="registerClient.email">
		<span v-if="incorrectEmail">Введённый e-mail не является корректным. Возможно он уже занят</span>
		<input required type="text" placeholder="Город представителя" v-model="registerClient.address">
		<input required type="password" placeholder="Пароль" v-model="registerClient.password">
		<span v-if="shortPass">Пароль должен быть более 7 символов длиной</span>
		<input required type="password" placeholder="Пароль" v-model="registerClient.password_confirmation">
		<span v-if="samePass">Пароли не совпадают</span>
		<div class="remember-me">
			<div class="form-group">
				<input required v-model="registerClient.agreement" class="agreement" type="checkbox" id="css">
				<label for="css"><p>Принять <a href="">соглашение</a></p></label>
			</div>
		</div>
		<button type="submit" class="register-btn">
			ЗАРЕГИСТРИРОВАТЬСЯ
		</button>
	</form>
</template>

<script type="text/javascript">
export default {
	created: function(){
		this.getCompanies();
	},
	data() {
		return {
			loading: true,
			companies: [],
			registerClient:{
				FamilyName: '',
				name: "",
				FatherName: "",
				company: 0,
				phone: "",
				email: "",
				agreement: false,
				address: "",
				password: "",
				password_confirmation: ""
			},
			incorrectEmail: false,
		}
	},
	methods: {
		getCompanies: function () {
			this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/companies')
			.then(responce => {this.companies = responce.data.data; this.loading = false;})
		},
		RegisterSend: function(e) {
			e.preventDefault();
			var self = this;
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/register/client', this.registerClient)
			.then(function(responce){
				// if(responce.data.role){
				self.$store.commit('setUser', responce.data.user);
                localStorage.setItem('role', responce.data.role_id);
                localStorage.setItem('token', responce.data.token);
                self.$emit('successlogin')
                self.$router.push('/')					// }
			})
			.catch(error => {
				if(error.response.data.errors.hasOwnProperty("email")){
					this.incorrectEmail = true
				}
				if(error.response.data.errors.hasOwnProperty("password")){
					this.incorrectEmail = true
				}
				if(error.response.data.errors.hasOwnProperty("email")){
					this.incorrectEmail = true
				}
			})
		}
	},
	computed:{
		shortPass: function(){
			if(this.registerClient.password.length < 8){
				return true;
			}
			else{
				return false;
			}
		},
		samePass: function(){
			if(this.registerClient.password != this.registerClient.password_confirmation){
				return true;
			}
			else{
				return false;
			}
		}
	}
}
</script>
<style scoped>
	button.register-btn {
	    font-family: Montserrat,sans-serif;
	    font-style: normal;
	    font-weight: 500;
	    font-size: 13px;
	    line-height: 16px;
	    text-align: center;
	    letter-spacing: -0.183529px;
	    color: #FFFFFF;
	}
	.agreement{
		display: block;
		width: 1px;
		height: 1px;
	}
</style>