<template>
  <div>
    <div class="grey-bg">
      <div class="container">
        <div class="inner-title">
          <h3>Создать заявку</h3>
        </div>

        <div class="register-input register-input2">
          <form @submit="sendOrder">
            Номер контракта
            <v-select
              height="10"
              class="style-chooser"
              :options="contracts"
              label="number_of_сontract"
              :reduce="number_of_сontract => number_of_сontract.id"
              v-model="request.contract_id"
              @input="getCars"
            />
            <div v-if="loadingContracts" class="loading">Загружаем контракты...</div>Госномер ТС
            <v-select
              class="style-chooser"
              :options="cars"
              label="number"
              :reduce="number => number.id"
              v-model="request.car_id"
            />
            <div v-if="loadingCars" class="loading">Загружаем машины...</div>Место поломки
            <v-select
              height="10"
              class="style-chooser"
              :options="regions"
              label="region_name"
              :reduce="region_name => region_name.id"
              v-model="request.location"
            />
            <div v-if="loadingRegions" class="loading">Загружаем регионы...</div>
            <div class="need-evo2">
              <input
                id="need-int"
                type="checkbox"
                v-model="request.is_evacuated"
                placeholder="Эвакуатор"
                style="width: 50px"
              />
              <label for="need-int">
                <p class="need-evo">Необходим эвакуатор</p>
              </label>
            </div>
            <input
              type="text"
              v-if="request.is_evacuated"
              v-model="request.actual_address"
              placeholder="Точный адрес"
            />
            Водитель
            <v-select
              class="style-chooser"
              :options="drivers"
              label="name"
              :reduce="name => name.id"
              v-if="!unknownDriver"
              v-model="request.driver_id"
            />
            <div class="remember-me">
              <div class="form-group">
                <input type="checkbox" v-model="unknownDriver" id="css" />
                <label for="css">
                  <p>Моего водителя нет в списке</p>
                </label>
              </div>
            </div>
            <div v-if="loadingDrivers" class="loading">Загружаем водителей...</div>
            <span v-if="unknownDriver">Имя водителя</span>
            <input
              type="text"
              v-model="request.driver_name"
              v-if="unknownDriver"
              placeholder="
                    Имя водителя"
            />
            <span v-if="unknownDriver">Телефон водителя</span>
            <input
              type="text"
              v-model="request.driver_phone"
              v-if="unknownDriver"
              placeholder="Телефон водителя"
            />
            Описание поломки
            <textarea v-model="request.problem_description"></textarea>

            <button type="submit" class="register-btn">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
export default {
  components: {},
  data() {
    return {
      cars: [],
      drivers: [],
      contracts: [],
      regions: [],
      unknownDriver: false,
      loadingDrivers: true,
      loadingCars: true,
      loadingContracts: true,
      loadingRegions: true,
      request: {
        car_id: "",
        location: "",
        is_evacuated: false,
        actual_address: "",
        problem_description: "",
        driver_id: 0,
        driver_phone: "",
        driver_name: "",
        contract_id: ""
      },
      clicked: false
    };
  },
  methods: {
    sendOrder: function(e) {
      e.preventDefault();
      if (!this.clicked) {
        this.$http
          .post(
            process.env.VUE_APP_SUPPLY_URL + "api/clients/orders",
            this.request
          )
          .then(() => this.$router.push("/"))
          .catch(error => {
            if (error.response.data.error) {
              if (error.response.data.error.manager) {
                this.$swal.fire(
                  "Нет ответственного менеджера",
                  error.response.data.error.manager,
                  "error"
                );
              } else {
                this.$swal.fire("Ошибка", error.response.data.error, "error");
              }
            } else {
              this.$swal.fire("Ошибка", "Не удалось отправить заявку", "error");
            }
          });
      }
      // this.clicked = true;
    },
    getCars(e) {
      console.log(e);
      this.$http
        .get(process.env.VUE_APP_SUPPLY_URL + `api/clients/contracts/${e}/cars`)
        .then(responce => {
          this.cars = responce.data;
          this.loadingCars = false;
        });
    }
  },
  watch: {
    unknownDriver: function() {
      this.request.driver_id = null;
    }
  },
  created() {
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/clients/drivers")
      .then(responce => {
        this.drivers = responce.data;
        this.loadingDrivers = false;
      });
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/clients/regions")
      .then(responce => {
        this.regions = responce.data;
        this.loadingRegions = false;
      });
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/clients/contracts")
      .then(responce => {
        this.contracts = responce.data;
        this.loadingContracts = false;
      });
  }
};
</script>
<style type="text/css" scoped>
.vs__search {
  background-color: #fff !important;
}
textarea {
  width: 370px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.register-input input,
.register-input select {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-input2 .need-evo2 input {
  margin-bottom: 20px;
}
</style>
