<template>
	<div class="grey-bg">
		<div class="container">
			<div class="inner-title">
				<h3>Заявки</h3>
			</div>
			<div class="request-list">
				<ul class="nav nav-tabs" id="client_status_tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" :id="statuses.newOrder.id" data-toggle="tab" @click="getOrders($event, 'newOrder')" role="tab" aria-controls="home" aria-selected="true">НОВЫЕ ЗАЯВКИ ({{ count.newOrder }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.diagnostics.id" data-toggle="tab" @click="getOrders($event, 'diagnostics')" role="tab" aria-controls="profile" aria-selected="false">НАЗНАЧЕНА ДИАГНОСТИКА ({{ count.diagnostics }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.ondiagnostics.id" data-toggle="tab" @click="getOrders($event, 'ondiagnostics')" role="tab" aria-controls="profile" aria-selected="false">НА ДИАГНОСТИКЕ ({{ count.ondiagnostics }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.approval.id" data-toggle="tab" @click="getOrders($event, 'approval')" role="tab" aria-controls="contact" aria-selected="false">НА СОГЛАСОВАНИЕ КЛИЕНТУ ({{ count.approval }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.work.id" data-toggle="tab" @click="getOrders($event, 'work')" role="tab" aria-controls="profile" aria-selected="false">ЗАЯВКИ В РАБОТЕ ({{ count.work }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.completed.id" data-toggle="tab" @click="getOrders($event, 'completed')" role="tab" aria-controls="profile" aria-selected="false">ВЫПОЛНЕННЫЕ ЗАЯВКИ ({{ count.completed }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.completed.id" data-toggle="tab" @click="getOrders($event, 'closed')" role="tab" aria-controls="profile" aria-selected="false">ЗАКРЫТЫЕ ЗАЯВКИ ({{ count.closed }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.completed.id" data-toggle="tab" @click="getOrders($event, 'rejected')" role="tab" aria-controls="profile" aria-selected="false">ОТМЕНЁННЫЕ ЗАЯВКИ ({{ count.rejected }})</a>
					</li>
					<li class="nav-item">
						<a class="$event, nav-link" :id="statuses.all.id" data-toggle="tab" @click="getOrders($event, 'all')" role="tab" aria-controls="contact" aria-selected="false">ВСЕ ЗАЯВКИ ({{ count.all }})</a>
					</li>
				</ul>

			</div>
			
			<div class="row">
				<transition name="bounce">
					<div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
						<div class="search">
							<input type="text" v-model="searchTerm">
							<button></button>
						</div>
					</div>
				</transition>
				<transition name="bounce">
					<div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
						<div class="pick-period-row">
							<div class="pick-period">
								<p>Выбрать период</p>
							</div>
							<div class="pick-period-box">
								<date-picker format="YYYY-MM-DD" value-type="timestamp" @clear="clear" v-model="searchTerm" :lang="lang" range style="width: 100%"></date-picker>
							</div>

							<div class="burger dropleft">
								<button class="hamburger hamburger--collapse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="hamburger-box">
								<span class="hamburger-inner"></span>
								</span>
								</button>
								<div class="dropdown-menu">
									<button @click="exportCSV" class="btn btn-secondary export-butons">Скачать как CSV</button>
									<br>
									<br>
									<button @click="exportXLS" class="btn btn-secondary export-butons">Скачать как XLS</button>
									</div>
							</div>
						</div>
					</div>
				</transition>
			</div>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class=" table-cont" id="table-cont">
						<vue-good-table
							ref="clientTable"
							:columns="columns"
							:rows="rows"
							:search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
							:sort-options="{
								enabled: true,
								initialSortBy: {field: 'id', type: 'desc'}
							}"
							:pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import DatePicker from 'vue2-datepicker'
	export default {
		components: {
			DatePicker
		},
		created: function(){
			this.countOrders();
			this.getOrders(0, 'newOrder');
		},
		data(){
			return {				
				colClass: 6,
				unselected: true,
				count: [],
				SearchSelected: false,
				DateSelected: false,
				dates: [],
				lang: {
					days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
					pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
					placeholder: {
						date: 'Select Date',
						dateRange: 'Select Date Range'
					}
				},
				columns: [

				],
				rows: [

				],
				loading: {
					type: Boolean,
					default: false,
				},
				searchTerm: "",
				statuses: {
					newOrder: {
						id: 'client_statuses',
						int: "0,1,2,3"
					},
					diagnostics: {
						id: 'client_diagnostics',
						int: "4",
					},
					rejected: {
						id: "rejected",
						int: "6,12"
					},
					ondiagnostics:{
						id: 'client_ondiagnostics',
						int: "5",
					},
					approval: {
						id: 'client_approval',
						int: "10,16",
					},
					work: {
						id: 'client_work',
						int: "7,8,9,11,13,14,15,17",		
					},
					completed: {
						id: 'client_completed',
						int: "19,20,21,22,24",
					},
					closed: {
						id: "closed",
						int: "23"
					},
					all: {
						id: 'client_all',
						int: "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24"
					},
				},
				currentStatus:"newOrder"
			}
		},
		watch:{
			// eslint-disable-next-line
			searchTerm: function(newValue, oldValue){
				if(typeof newValue  == 'object'){
					this.unselected = false
					this.SearchSelected = false;
					this.DateSelected = true;
					this.colClass = 12
				}
				if(newValue  == ""){
					this.unselected = true
					this.SearchSelected = false;
					this.DateSelected = false;
					this.colClass = 6
				}
				if(typeof newValue  == 'string' && newValue.length > 0){
					this.unselected = false
					this.DateSelected = false;
					this.SearchSelected = true;
					this.colClass = 12
				}
			}
		},
		methods:{
			countOrders() {
			this.$http.get(`${process.env.VUE_APP_SUPPLY_STORAGE_URL}api/count/orders?statuses=${ JSON.stringify(this.statuses) }`)
				.then(r => this.count = r.data);
			},
			search: function(row, col, cellValue, searchTerm) {
				if(typeof searchTerm == 'object'){
					if(parseInt((new Date(cellValue).getTime() / 1000).toFixed(0))  >= parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) && parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <= parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0))+86400){
						return cellValue
					}
					
				}
				else{
					if(String(cellValue).toLowerCase().includes(searchTerm.toLowerCase())){
						return cellValue
					}
				}				
			},
			clear: function(){
				this.searchTerm = ""
			},
			exportCSV: function(){
				// eslint-disable-next-line
				const xls = new XlsExport(this.$refs.clientTable.processedRows[0].children, 'export');
				xls.exportToCSV('export.csv')
			},
			exportXLS: function(){
				// eslint-disable-next-line
				const xls = new XlsExport(this.$refs.clientTable.processedRows[0].children, 'export');
				xls.exportToXLS('export.xls')
			},
			actFormat: function(rowObj){
				let string = "";
				string += "<a href=\"/#/order/"+rowObj.id+"\">Подробнее</a>"
					return string;
			},
			actEvacuated: function(rowObj) {
				let string = "";
				string += rowObj.is_evacuated ? 'Да' : 'Нет'
				return string;
			},
			defectAct: function(rowObj){
				if(rowObj.status_internal >= 10) {
					let string = "";
					if(rowObj.status_internal > 5){
						string += "<a href=\"/#/client/orders/"+rowObj.id+"/defect/\">Дефектный акт</a>"
					}				
					return string;
				}
				return '';
			},
			// H: Authorization: 'Bearer '+token
			problem(rowObj){
				let string = "";
				string += "<a onclick=\"vm.$swal.fire('Описание проблемы', '"+rowObj.problem_description+"')\">Нажмите чтобы прочитать описание</a>"
					return string;
			},
			contract(rowObj){
				return rowObj.number_of_сontract;
			},
			getOrders(event, status){
				vm.$children[0].loadingShow()
				if(event != 0){
					if(this.currentStatus == "newOrder"){
						this.currentStatus=document.querySelector('.active')
					}
					this.currentStatus.classList.toggle("active");
					event.target.classList.toggle("active");
					this.currentStatus=event.target
				}
				this.columns =[];
				this.rows = [];
				this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/clients/orders?status_internal='+this.statuses[status].int)
				.then(responce => {
					for (var i = 0; i < responce.data.columns.length; i++) {
						var column = {};
						switch(responce.data.columns[i]) {
							case 'id':
								column = {
									label: 'Номер заявки',
									field: responce.data.columns[i],
									type: 'number',
									sortable: true,
								}
								this.columns.push(column);
								break;
							case 'number_of_contract':
								column = {
									label: 'Номер договора',
									field: this.contract,
									sortable: true,
								}
								this.columns.push(column);
								break; 
							case 'defect_acts':
								
								if(status != "newOrder" && status != "diagnostics"){
									column = {
										label: 'Дефектные акты',
										field: this.defectAct,
										html: true
									}
									this.columns.push(column);
								}
								let columnDefect = {
									label: 'Открыть заявку',
									field: this.actFormat,
									html: true
								}
								this.columns.push(columnDefect);
								break;
							case 'is_evacuated':
								let columnEvacuated = {
									label: this.$t(responce.data.columns[i]),
									field: rowObj => rowObj.is_evacuated ? 'Требуется' : 'Не требуется',
									html: true
								}
								this.columns.push(columnEvacuated);
								break;
							case 'defect_sum':
								if(status != "newOrder" && status != "diagnostics" && status != "ondiagnostics" ){
									let columnSum = {
										label: this.$t(responce.data.columns[i]),
										field: responce.data.columns[i],
										html: true
									}
									this.columns.push(columnSum);
								}								
								break;
							case 'problem_description':
								break;
							case "ready_to_diagnose_at":
							case "ready_to_repair_at":
							case "planned_to_completed_at":
							case "completed_at":
								if(status != "newOrder"){
									column = {
										label: this.$t(responce.data.columns[i]),
										field: responce.data.columns[i],
									}
									this.columns.push(column);
								}
								break;
							case 'created_at': 
								column = {
									label: 'Дата создания заявки',
									field: responce.data.columns[i],
								}
								this.columns.push(column);
								break;
							default:
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
								}
								this.columns.push(column);
								break;
							// code block
						}
					}
					this.rows = responce.data.orders;
					vm.$children[0].loadingHide()
				})
			}
		}
	}
</script>
<style type="text/css" scoped>
.bounce-enter-active {
	animation: bounce-in .5s;
}
.bounce-leave-active {
	animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
	0% {
	transform: scale(0);
	}
	50% {
	transform: scale(1.5);
	}
	100% {
	transform: scale(1);
	}
}
</style>