<template>
  <div>
    <div class="blue-bg">
      <div class="container">
        <div class="row">
          <div class="blue-btn">
            <a>
              <div class="blue-circle">
                <img src="@/assets/images/status.png" alt />
              </div>
              <router-link to="/">Статусы по заявкам</router-link>
            </a>
          </div>
          <div class="blue-btn">
            <a href="/CRM_инструкция для Партнеров (СТО).pdf">
              <div class="blue-circle">
                <img src="@/assets/images/intruction.png" alt />
              </div>
              <p>Инструкция по работе в CRM</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="grey-bg">
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>
<script type="text/javascript">
// @ is an alias to /src

export default {
  components: {},
  data() {
    return {
      orderId: 0,
      DefectActCreate: false,
      Statuses: true
    };
  },
  methods: {
    toggleDefectActCreate: function(id) {
      this.orderId = id;
      this.DefectActCreate = true;
      this.Statuses = false;
    },
    toggleStatuses: function() {
      this.DefectActCreate = false;
      this.Statuses = true;
    }
  }
};
</script>
<style type="text/css" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.partners-page {
  background-color: #edeef0;
  padding-bottom: 0px;
  height: 100%;
}
.partners-page .partners-page-contact {
  display: flex;
  padding: 0;
  margin-top: 13px;
}
.partners-page .partners-page-contact li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>