<template>
	<div>
		<div class="blue-bg">
            <div class="container">
                <div class="row">
                    <div class="blue-btn">
                        <router-link to="/client/request">
                            <div class="blue-circle">
                                <img src="@/assets/images/create.png" alt="">
                            </div>
                            <p> Создать заявку</p>
                        </router-link>
                    </div>
                    <div class="blue-btn">
                        <router-link to="/">
                            <div class="blue-circle">
                                <img src="@/assets/images/status.png" alt="">
                            </div>
                            <p> Статусы по заявкам</p>
                        </router-link>
                    </div>
                    <div class="blue-btn">
                        <router-link to="/client/bills">
                            <div class="blue-circle">
                                <img src="@/assets/images/status.png" alt="">
                            </div>
                            <p> Счета</p>
                        </router-link>
                    </div>
                    <div class="blue-btn">
                        <a href="/CRM_инструкция для Клиентов.pdf">
                            <div class="blue-circle">
                                <img src="@/assets/images/intruction.png" alt="">
                            </div>
                            <p>Инструкция по работе в CRM</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <transition name="fade">
            <router-view></router-view>
        </transition>
	</div>
</template>
<script type="text/javascript">
	// @ is an alias to /src

	export default {
    	components: {
    	},
        data() {
            return {
                Request: false,
                Statuses: true
            }
        },
        methods: {

        }
	}
</script>
<style type="text/css" scoped>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>