<template>
  <div>
    <div v-for="(input, index) in inputs" :key="index">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 borderRow">
          <span
            v-if="
          !RegExp('_id').test(input)    && 
          input   != 'type'             && 
          input   != 'region'           && 
          input   != 'is_evacuated'     && 
          input   != 'bank'             && 
          input   != 'company'          || 
          !(input  == 'name' && $route.model == 'UserToRegion') ||
          (input  == 'name' && $route.model == 'CarType')"
          >{{ input }}</span>
        </div>
        <div class="col-sm-7 borderRow">
          <input
            class="w-100"
            v-if="
          (!RegExp('_id').test(input)    && 
          input   != 'type'               && 
          input   != 'region'             && 
          input   != 'is_evacuated'       && 
          input   != 'bank'               &&
          input   != 'location'           && 
          input   != 'company'            || 
          (input  == 'name' && ($route.model != 'UserToRegion' || $route.model == 'CarType'))) && checkedSelects[input]"
            :type="RegExp('_at').test(input) ? 'date' : 'text'"
            v-model="data[input]"
          />
          <span
            v-if="((RegExp('_id').test(input) || input == 'type') || input == 'location') && !checkedSelects[input]"
          >
            {{ (selects[(
            input == 'manager_id' ||
            input == 'ork_id' ||
            input == 'orpu_id' ||
            input == 'orpa_id' ||
            input == 'client_id')
            ? 'user_id' : input == 'location' ? 'region_id' : input].find(element => element.id == data[input])) ? selects[(
            input == 'manager_id' ||
            input == 'ork_id' ||
            input == 'orpu_id' ||
            input == 'orpa_id' ||
            input == 'client_id')
            ? 'user_id' : input == 'location' ? 'region_id' : input].find(element => element.id == data[input]).name != "undefined" ? selects[(
            input == 'manager_id' ||
            input == 'ork_id' ||
            input == 'orpu_id' ||
            input == 'orpa_id' ||
            input == 'client_id')
            ? 'user_id' : input == 'location' ? 'region_id' : input].find(element => element.id == data[input]).name : '' : "" }}
          </span>
          <span
            v-if="(!RegExp('_id').test(input)    && 
            input   != 'type'               && 
            input   != 'region'             && 
            input   != 'is_evacuated'       && 
            input   != 'bank'               &&
            input   != 'location'           && 
            input   != 'company'            || 
            (input  == 'name' && ($route.model != 'UserToRegion' || $route.model == 'CarType'))) && !checkedSelects[input]"
          >{{ data[input] }}</span>
          <v-select
            v-if="((RegExp('_id').test(input) || input == 'type') || input == 'location') && checkedSelects[input]"
            label="name"
            v-model="data[input]"
            :options="selects[(
          input == 'manager_id'     || 
          input == 'ork_id'         || 
          input == 'orpu_id'        || 
          input == 'orpa_id'        ||  
          input == 'client_id')
          ? 'user_id' : input == 'location' ? 'region_id' : input]"
            :reduce="name => name.id"
          />
        </div>
        <div class="col-sm-1">
          <label v-if="!RegExp('^id').test(input)">
            <i class="fas fa-edit"></i>
            <input type="checkbox" style="display: none" v-model="checkedSelects[input]" />
          </label>
        </div>
      </div>
      <div class="row" v-if="input == 'password'">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 borderRow">
          <span>Повторите пароль</span>
        </div>
        <div class="col-sm-7 borderRow">
          <!-- v-if="(RegExp('_id').test(input) || input == 'type') || input == 'location'" -->
          <input class="w-100" v-if="checkedSelects[input]" v-model="data['password_confirmation']" />
        </div>
        <div class="col-sm-1">
          <!-- <label v-if="!RegExp('^id').test(input)">
            <i class="fas fa-edit"></i>
            <input type="checkbox" style="display: none" v-model="checkedSelects[input]" />
          </label>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary pull-right" @click="sendData">Сохранить</button>
      </div>
      <div class="col-sm-6">
        <button
          class="btn btn-danger"
          v-if="$route.params.model == 'Order'"
          @click="rejectDefectAct"
        >Отклонить дефектный акт</button>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      urls: {},
      data: {},
      inputs: [],
      selects: {},
      checkedSelects: {}
    };
  },
  props: {},
  watch: {},
  created() {
    vm.$children[0].loadingShow();
    if (this.$route.params.model == "Region") {
      vm.$children[0].loadingHide();
    }
    this.$http
      .get(
        `${process.env.VUE_APP_SUPPLY_URL}api/models/${this.$route.params.model}`
      )
      .then(responce => {
        this.urls = responce.data[this.$route.params.model];
        this.inputs = responce.data[this.$route.params.model].fields;
        this.inputs.map(input => {
          this.$set(this.selects, input, []);
          this.$set(this.checkedSelects, input, false);
        });
        this.inputs.forEach(item => {
          if (RegExp("type").test(item)) {
            this.$http
              .get(`${process.env.VUE_APP_SUPPLY_URL}api/admin/car-types`)
              .then(responceWithCarTypes => {
                this.$set(this.selects, item, responceWithCarTypes.data);
              });
          }
          if (RegExp("_id").test(item) || RegExp("location").test(item)) {
            if (
              item == "manager_id" ||
              item == "ork_id" ||
              item == "orpu_id" ||
              item == "orpa_id" ||
              item == "client_id"
            ) {
              item = "user_id";
            } else if (item == "location") {
              item = "region_id";
            }
            let thingy =
              item.charAt(0).toUpperCase() +
              item.slice(1, item.length).replace(/_id/g, "");
            this.selects[thingy.toLowerCase() + "_id"] = [];
            vm.$children[0].loadingShow();
            this.$http
              .get(`${process.env.VUE_APP_SUPPLY_URL}api/models/${thingy}`)
              .then(responceWithSelectURLs => {
                vm.$children[0].loadingShow();
                this.$http
                  .get(responceWithSelectURLs.data[thingy].GET[0])
                  .then(responceWithData => {
                    vm.$children[0].loadingShow();
                    if (this.$route.params.model == "User") {
                      responceWithData.data.forEach(element => {
                        if (!element.region_name) {
                          element.name = this.$t(
                            "admin_user_create_" + element.name
                          );
                        }
                      });
                      this.$set(
                        this.selects,
                        thingy.toLowerCase() + "_id",
                        responceWithData.data
                      );
                    } else {
                      this.$set(
                        this.selects,
                        thingy.toLowerCase() + "_id",
                        responceWithData.data
                      );
                    }
                    vm.$children[0].loadingHide();
                  });
              });
          }
        });
        if (this.$route.name == "AdminEdit") {
          this.getData(responce.data);
        } else {
          vm.$children[0].loadingHide();
        }
      });
  },
  methods: {
    rejectDefectAct() {
      vm.$children[0].loadingShow();
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}/defect-acts/reject`,
          { comments: [] }
        )
        .then(r => {
          vm.$children[0].loadingHide();
        });
    },
    getData(urls) {
      vm.$children[0].loadingShow();
      this.$http
        .get(
          urls[this.$route.params.model].GET[1].replace(/\{\w+\}+/g, "") +
            this.$route.params.id
        )
        .then(responce => {
          Object.keys(responce.data).forEach(item => {
            if (RegExp("_at").test(item)) {
              responce.data[item] = this.moment(responce.data[item]).format(
                "YYYY-MM-DD"
              );
            }
          });
          this.data = responce.data;
          vm.$children[0].loadingHide();
        });
    },
    sendData() {
      // Object.keys(this.data).forEach(
      //   key =>
      //     (this.data[key] = RegExp("_at").test(key)
      //       ? this.moment.unix(this.data[key])
      //       : this.data[key])
      // );
      if (this.$route.name == "AdminEdit") {
        this.$http
          .put(
            this.urls.PUT[0].replace(/\{\w+\}+/g, "") + this.$route.params.id,
            this.data
          )
          .then(responce => {
            this.$router.push("/admin/" + this.$route.params.model);
          });
      } else {
        this.$http.post(this.urls.POST[0], this.data).then(responce => {
          this.$router.push("/admin/" + this.$route.params.model);
        });
      }
    }
  },
  computed: {}
};
</script>

<style scoped>
label {
  display: block;
  margin-bottom: 0.5rem;
}

.row {
  padding-bottom: 5px;
  height: 50px;
}

.borderRow {
  vertical-align: center;
  border: black;
  border-style: dashed;
  border-width: 0.05px;
}
</style>