<template>
  <div>
    <div class="row">
      <transition name="bounce">
        <div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
          <div class="search">
            <input type="text" v-model="searchTerm" />
            <button></button>
          </div>
        </div>
      </transition>
      <transition name="bounce">
        <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
          <div class="pick-period-row">
            <div class="pick-period">
              <p>{{ $t('orpu_stations_table_date_filter_text_title') }}</p>
            </div>
            <div class="pick-period-box">
              <date-picker
                format="YYYY-MM-DD"
                value-type="timestamp"
                @clear="clear"
                v-model="searchTerm"
                :lang="lang"
                range
                style="width: 100%"
              ></date-picker>
            </div>
            <div class="burger dropleft">
              <button
                class="hamburger hamburger--collapse dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
              <div class="dropdown-menu">
                <button @click="exportCSV" class="btn btn-secondary export-butons">Скачать как CSV</button>
                <br />
                <br />
                <button @click="exportXLS" class="btn btn-secondary export-butons">Скачать как XLS</button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <vue-good-table
      :columns="columns"
      :rows="rows"
      :search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
      :sort-options="{
							    enabled: true,
							    initialSortBy: {field: 'id', type: 'desc'}
							  }"
      :pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
  }"
      @on-cell-click="DeleteRow"
    ></vue-good-table>
  </div>
  <!-- <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, aut veniam error sit architecto blanditiis? Quasi, itaque reiciendis? Dolorum quisquam vero necessitatibus, eveniet iusto a consectetur quia distinctio provident error?</span> -->
</template>

<script>
import DatePicker from "vue2-datepicker";

export default {
  components: {
    DatePicker
  },
  data() {
    return {
      urls: {},
      searchTerm: "",
      rows: [],
      columns: [],
      colClass: 6,
      DateSelected: false,
      dates: [],
      unselected: true,
      SearchSelected: false,
      DateSelected: false,
      lang: {
        days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        months: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        pickers: [
          "next 7 days",
          "next 30 days",
          "previous 7 days",
          "previous 30 days"
        ],
        placeholder: {
          date: "Select Date",
          dateRange: "Select Date Range"
        }
      }
    };
  },
  created() {
    this.getUrls();
  },
  methods: {
    exportCSV: function() {
      let array = [];
      this.rows.forEach(element => {
        let singleRow = {};
        Object.keys(element).forEach(key => {
          if (this.$te(key)) {
            singleRow[this.$t(key)] = element[key];
          }
        });
        array.push(singleRow);
      });
      const xls = new XlsExport(array, "export");
      xls.exportToCSV("export.csv");
    },
    exportXLS: function() {
      let array = [];
      this.rows.forEach(element => {
        let singleRow = {};
        Object.keys(element).forEach(key => {
          if (this.$te(key)) {
            singleRow[this.$t(key)] = element[key];
          }
        });
        array.push(singleRow);
      });
      const xls = new XlsExport(array, "export");
      xls.exportToXLS("export.xls");
    },
    DeleteRow(params) {
      if (params.column.label == "Удалить") {
        this.$swal
          .fire({
            title: "Вы уверены?",
            text: "Вы собираетесь удалить строку!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Нет!",
            confirmButtonText: "Да, удалить её!"
          })
          .then(result => {
            if (result.value) {
              this.$http
                .delete(
                  this.urls.DELETE[0].replace(/\{\w+\}+/g, "") + params.row.id
                )
                .then(response => {
                  let index = this.rows
                    .map(function(item) {
                      return item.id;
                    })
                    .indexOf(params.row.id);
                  this.rows.splice(index, 1);
                  this.$swal.fire(
                    "Удалено!",
                    "Удаление прошло успешно.",
                    "success"
                  );
                });
            }
          });
      }
    },
    getUrls() {
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/models/${this.$route.params.model}`
        )
        .then(responce => {
          this.urls = responce.data[this.$route.params.model];
          this.getData();
        });
    },
    search: function(row, col, cellValue, searchTerm) {
      if (typeof searchTerm == "object") {
        if (
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) >=
            parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) &&
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <=
            parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0)) +
              86400
        ) {
          return cellValue;
        }
      } else {
        if (
          String(cellValue)
            .toLowerCase()
            .includes(searchTerm.toLowerCase())
        ) {
          return cellValue;
        }
      }
    },
    clear: function() {
      this.searchTerm = "";
    },
    getData() {
      vm.$children[0].loadingShow();
      this.$http.get(this.urls.GET[0]).then(response => {
        let data = response.data;
        response.data.forEach(item => {
          Object.keys(item).forEach(key => {
            // RegExp("_at").test(key)
            // ? (item[key] = this.moment.unix(item[key]).format("YYYY-MM-DD"))
            // : (item[key] = item[key]);
            if (item[key] == "1970-01-01") {
              item[key] = "";
            }
          });
        });
        for (const col of this.urls.fields) {
          let column = {};
          let type = "text";
          // if (RegExp("_at").test(col)) {
          // type = "date";
          // }

          if (RegExp("^id").test(col)) {
            type = "number";
          }
          if (RegExp("budget").test(col)) {
            type = "number";
          }
          if (RegExp("_id").test(col) && (RegExp("region_id").test(col) && this.$route.params.model == 'Station')) {
            continue;
          }
          if (RegExp("password").test(col)) {
            continue;
          }
          if (RegExp("internal").test(col)) {
            continue;
          }
          if (RegExp("year").test(col)) {
            type = "number";
          }
          column = {
            label: this.$t(
              "admin_show_" + this.$route.params.model + "_" + col
            ),
            field: col,
            type: type
            // dateInputFormat: RegExp("_at").test(col) ? "yyyy-MM-dd" : ""
          };
          this.columns.push(column);
        }
        this.columns.push({
          label: "Изменить",
          field: row =>
            `<a href="/#/admin/${this.$route.params.model}/${row.id}">Подробнее</a>`,
          html: true
        });
        this.columns.push({
          label: "Удалить",
          field: row =>
            `<i class="fa fa-trash" style="margin-left: 50%;" aria-hidden="true"></i>`,
          html: true
        });
        this.rows.push(...data);
        vm.$children[0].loadingHide();
      });
    }
  },
  watch: {
    searchTerm: function(newValue, oldValue) {
      if (typeof newValue == "object") {
        this.unselected = false;
        this.SearchSelected = false;
        this.DateSelected = true;
        this.colClass = 12;
      }
      if (newValue == "") {
        this.unselected = true;
        this.SearchSelected = false;
        this.DateSelected = false;
        this.colClass = 6;
      }
      if (typeof newValue == "string" && newValue.length > 0) {
        this.unselected = false;
        this.DateSelected = false;
        this.SearchSelected = true;
        this.colClass = 12;
      }
    }
  }
};
</script>

<style>
</style>