
@font-face {
    font-family: exo regular;
    src: url('~@/assets/fonts/exo2.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic');

body, html {
    font-size: 16px;
    background-color: #FFFFFF;
}
.container{
    max-width: 1170px !important; ;}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.header{
    padding: 20px 0;
}
.head-description {
    border-left: 1px solid #ABB2BE;
    padding-left: 40px;
}
.head-description p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.254118px;

    color: #5B6981;
}
.logo img{
    width: 202px;
}
.enter{
    float: right;
    display: flex;
}
.enter a {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #5b6981;
    text-decoration: none;
    margin-left: 10px;
}
.enter img{
    margin-right: 10px;
}
.enter a:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.big-circle{
    position: relative;
    display: block;
    margin: 100px auto;
    height: 580px;
    width: 580px;
    line-height: 580px;
    border-radius: 50%;
    border: 1px solid #DDE2EA;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    letter-spacing: -0.762353px;
    color: #5B6981;
}
@media only screen and (max-width: 576px){
    .big-circle{
        display: none;
    }
}

.small-circle{
    height: 112px;
    width: 112px;
    line-height: 112px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #DDE2EA;
    box-sizing: border-box;
	transition: all .8s;
}


.small-circle img{

	transition: all .8s;
}

.small-circle:hover img{
    transform: scale(1.2);
}


.small-circle p{
    margin-top: 10px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #5B6981;
}

.pos1{
    position: absolute;
    top: -5%;
    left: 20%;
    z-index: 5;
}
.pos2{
    position: absolute;
    top: -5%;
    right: 20%;
    z-index: 5;
}
.pos3{
    position: absolute;
    top: 20%;
    right: -5%;
    z-index: 5;
}
.pos4{
    position: absolute;
    top: 60%;
    right: -5%;
    z-index: 5;
}
.pos5{
    position: absolute;
    top: 85%;
    right: 20%;
    z-index: 5;
}
.pos6{
    position: absolute;
    top: 85%;
    left: 20%;
    z-index: 5;
}
.pos7{
    position: absolute;
    top: 60%;
    left: -5%;
    z-index: 5;
}
.pos8{
    position: absolute;
    top: 20%;
    left: -5%;
    z-index: 5;
}
.login{
    margin-top: 250px;
}
.login input{
    border: 1px solid #D3D9E4;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
    outline: none;
}
.login input:focus{
    border: 1px solid #8CC63F;
    transition: all .3s ease-in-out;
}
.login input::placeholder{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #ABB2BE;
}
.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    display: flex;
    position: relative;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #5B6981;
}

.form-group label:before {
    height: 10px;
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #D3D9E4;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid #8CC63F;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.enter-btn button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #8CC63F;
    outline: none;
}
.enter-btn button:hover{
    background:#599D00;
}
.enter-btn a button {
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.183529px;
    color: #FFFFFF;
    text-decoration: none;
}
.forgot-pass{
    margin: 20px 0;
    text-align: center;
}
.forgot-pass a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.211765px;
    color: #53637C;
}
.pre-footer{
    background-color: #F9F9F9;
    padding: 56px 10% 66px;
}
.main-title h4{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.310588px;
    color: #5B6981;
    margin-bottom: 40px;
}
.main-title h5{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.310588px;
    color: #ABB2BE;
    min-height: 54px;
    margin-bottom: 28px;
}
.main-text p,
.main-text p a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #5B6981;
    margin-bottom: 10px;
}
.main-text img{
    width: 16px;
    margin-right: 10px;
}
.footer{
    background-color: #5B6981;
    padding: 40px 0;
}
.copyright p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #FFFFFF;
}
.socials{
    float: right;
}
.socials a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #FFFFFF;
    text-decoration: none;
}

.socials a:first-child{
    padding-right: 2rem;
}

.socials a:hover{
    transition: all .3s ease-in-out;
    color: #79c471;
}
.blue-bg{
    background-color: #5B6981;
    padding: 20px 0;
}
.blue-btn{
    margin-right: 20px;
}
.blue-btn a{
    display: flex;
    vertical-align: center;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #FFFFFF;
}
.blue-btn p{
    margin-top: 10px;
    margin-left: 10px;
}
.blue-circle{
    border: 3px solid #53637C;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-btn a:hover .blue-circle{
    transition: all .3s ease-in-out;
    border: 3px solid #FFFFFF;
}
.grey-bg{
    background-color: #EDEEF0;
    padding: 20px 0;
	
}
.request-list ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
}
.request-list ul li a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #5B6981;
}
.request-list .back a{
    text-decoration: none;
    background-color: #5b6981;
    padding: 10px 30px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #FFFFFF;
}
.inner-title h3{
    margin: 30px 0;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.310588px;
    color: #000000;
}
.search{
    display: flex;
}
.search input{
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #D3D9E4;
    border-right: none;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    height: 40px;
    padding-left: 20px;
}
.search input::placeholder{
    color: #bbbcbe;
}
.search button{
    height: 40px;
    border: 1px solid #D3D9E4;
    border-left: none;
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.4s;
    background: url(~@/assets/images/search.png);
    width: 33px;
    background-repeat: no-repeat;
    background-position: center;
}
.search button:hover{
    background: url(~@/assets/images/search-green.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius:0 30px 30px 0;
}
.pick-period-row{
    display: flex;
    justify-content: space-between;
}
.pick-period p{
    margin-top: 10px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #ABB2BE;
}
.pick-period-box{
    width: 60%;
    padding: 10px;
    background: #FFFFFF;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}

.pick-period-box a{
    width: 33px;
    background: url(~@/assets/images/calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
} 

.pick-period-box a:hover{
    background: url(~@/assets/images/calendar-green.png);
    background-repeat: no-repeat;
    background-position: center;
} 

.pick-period-box img{
    width: 60%;
    padding: 10px;
    background: #FFFFFF;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}

.pick-period-box img:hover {
    width: 60%;
    padding: 10px;
    background: #FFFFFF;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}


.pick-period-box p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #5B6981;
}
.burger{
    height: 40px;
    width: 40px;
    background: #FFFFFF;
    border-radius: 2px;
}
.burger button{
    outline: none;
}
.hamburger {
    padding: 8px 10px!important;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px !important;
    height: 2px !important;
    background-color: #ABB2BE !important;
    border-radius: 2px !important;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-box:hover .hamburger-inner,.hamburger-box:hover  .hamburger-inner::before,.hamburger-box:hover  .hamburger-inner::after {
    background: #8cc63f !important;
}
.table{
    background: #FFFFFF;
}
.table-cont{
       min-height: 500px;
    overflow: auto;
    overflow-y: hidden;
   margin: 10px 0;
}
.table-head{
    width: 100%;
    overflow: hidden;
}
.table-head thead tr th {
    background: #79c471;
    padding: 10px;
    text-align: center;
}
.table-head thead tr th a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}
.table-head thead tr th:first-child{
    border-radius: 10px  0 0 10px;

}
.table-head thead tr th:nth-child(2){
    background: #f39d77;
}
.table-head thead tr th:nth-child(3){
    background: #737373;
}
.table-head thead tr th:nth-child(4){
    background: #515db0;
}
.table-head thead tr th:last-child{
    border-radius: 0 10px  10px 0;
    background: #a96930;
}

.table-width tr th{
    width: 200px;
    transition: all .3s;
    overflow: all hidden;

}

.table-width tr th a{
    text-decoration: none;
    
}

.table-width tr th:hover{
    transform: scale(1.1)
    
}
.table thead tr th{
    border: 1px solid #F2F3F5;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #ABB2BE;
    background: #FFFFFF;
}
.table tbody tr td{
    border: 1px solid #F2F3F5;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #5B6981;
}
.text-green {
    color: #8CC63F !important;
}
.request-list{
    margin: 20px 0;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-bottom: 1px solid #8CC63F ;
    transition: all .3s ease-in-out;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #5B6981;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #8CC63F ;
}
.nav-tabs .nav-link{
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.nav-tabs{
    border: none;
}
.register-input{
    width: 370px;
    display: block;
    margin: 50px auto;
}
.register-input input,
.register-input select{
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer !important;
}

.register-input input::placeholder, .register-input select{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #A2A8AB;

}
.remember-me a p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #515151;
}
.register-btn{
    width: 100%;
    height: 40px;
    background: #3790C3;
    border-radius: 2px;
    text-align: center;
    padding: 7px 30px;
    margin: 30px 0;
    cursor: pointer;

}
.register-btn a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.183529px;
    color: #FFFFFF;
}
.register-btn a:hover{
    text-decoration: none;
}
.register-btn:hover{
    background:#266488;
}
.send-btn{
    width: 160px;
    height: 40px;
    float: right;
    background: #8CC63F;
    border-radius: 2px;
    text-align: center;
    padding: 7px;
    margin-top: 20px;
}

.send-btn a{
    font-family: Montserrat,sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #FFFFFF;
}
.fade:not(.show) {
    opacity: 0;
    display: none;
}
.request-tab ul{
    list-style-type: none;
    display: flex;
}
.request-tab ul li a{
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #5B6981;
    padding: 10px 30px;
    border: 1px solid #5B6981 !important;
    box-sizing: border-box !important;
    border-radius: 2px !important;
    margin-right: 20px;
    cursor: pointer;
}
.request-tab ul li .active{
    color: #8cc63f !important;
    background-color: #FFFFFF !important;
    border: transparent !important;
}
.filter-down-wrap{
    position: relative;
}
.filter-down{
    border: 1px solid #D3D9E4;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 2px;
    height: 40px;
    padding-left: 20px;
    padding-top: 8px;
    color: #bbbcbe;
    cursor: pointer;
}
.img{
    cursor: pointer;
}
.img img{
    padding-right: 5px;
    cursor: pointer;
}
.filter-down-list{
    width: 100%;
    position: absolute;
    top: 40px;
    background-color: #FFFFFF;
    padding: 10px;
    left: 0;
    z-index: 99;
}
.filter-down-list a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.211765px;
    color: #5B6981;
}
.rotate{
  /*  transform: rotate(180deg);*/
    transition: .3s ease-in-out;
}
.cancel-filter-btn{
    height: 40px;
    background-color: #79c471;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
}
.cancel-filter-btn a{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.cancel-filter-btn:hover a{
    transition: all .3s ease-in-out;
    color: #79c471;
}
.cancel-filter-btn:hover {
    background-color: #FFFFFF;
}
.btn-group{
    width: 100%;
}
.dropdown-toggle{
    border: 1px solid #D3D9E4;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 2px;
    height: 40px;
    padding: 10px;
    color: #bbbcbe;
    cursor: pointer;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 5px;
    cursor: pointer;
}
.dropdown-menu {
    min-width: 100%;
    padding: 10px;
}
.selectpicker{
    border-radius: 2px;
    color: #525764;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    border:1px solid #D3D9E4;
    outline: none;
    cursor: pointer;
}
.selectpicker option{
    cursor: pointer;
}
.filter-select select{
    border-radius: 2px;
    color: #bbbcbe;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border:1px solid #D3D9E4;
    outline: none;
    cursor: pointer;
}
/* payment */
.payment{
    background-color: #edeef0;
    padding: 30px 0 70px;
}
.payment .payment-title{
    color: #020204;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    padding-top:40px;
    padding-bottom: 30px;
}
.payment span{
    color: #636a74;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    display: inline-block;
    padding-bottom: 20px;
}
.payment .card{
    border: 1px dashed #5b6a81;
    background-color: #edeef0;
}
.payment .card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 97px 0 73px 0;
    background: url(~@/assets/images/download-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 5rem;
    transition: all .3s;
}

.payment .card .card-body:hover{

    background: url(~@/assets/images/download-green-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 5rem;

}
.payment .card-body .card-text{
    color: #636a74;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    padding-top: 20px;
}
.payment-title-body{
    color: #636a74;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    padding-top: 31px;
    padding-bottom: 20px;
}
.payment .btn-payment{
    background-color: #79c471;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    padding: 17px 67px;
    margin-top: 45px;
    border:1px solid #79c471;
}
.payment .btn-payment:hover{
    background-color: #edeef0;
    color: #79c471;
}
@media only screen and (max-width: 576px){
    .payment .card{
        margin-top: 2rem;
    }
    .payment .btn-payment{
        width: 100%;
    }
    .base-auto-icon-body{
        padding-top: 1rem;
    }
    .cancel-filter-btn{
        margin-top: 1rem;
    }
    .filter-down{
        margin-top: 1rem;
    }
    .dropdown-toggle{
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .cancel-filter-btn{
        padding: 5px 15px;
    }
    .cancel-filter-btn a{
        font-size: 12px;
    }
    .dropdown-toggle{
        font-size: x-small;
    }
    .filter-select select{
        font-size:x-small;
    }
}
/*
/* end payment */

/* request */
.request{
    background-color: #edeef0;
    padding-bottom: 70px;
    height: 100%;
}
.request .request-title{
    color: #020204;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    padding-top:40px;
    padding-bottom: 30px;
}
.request-title-body{
    color: #636a74;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    display: inline-block;
    padding-bottom: 20px;
}
.request-icon-body{
    display: flex;
    justify-content: flex-end;
}
.request-icon-body li:first-child{
    margin-right: 1rem;
}
.request-icon-body li{
    list-style-type: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    height: 40px;
}
.request-icon-body .burger {
    margin-left: 1rem;
}
.table{
    margin: 0;
}
.btn-request-def,
.btn-request-sub{
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    padding: 17px 67px;
    margin-top: 35px;
}
.btn-request-def{
    background-color: #3690c4;
    border-radius: 2px;
    border: 1px solid #3690c4;
}
.btn-request-def:hover{
    color: #3690c4;
    background-color: #edeef0;
}
.btn-request-sub{
    background-color: #79c471;
    border-radius: 2px;
    border:1px solid #79c471;
}
.btn-request-sub:hover{
    color : #79c471;
    background-color: #edeef0;
}
@media only screen and (max-width:576px){
    .request .btn-request-def,
    .request .btn-request-sub{
        width: 100%;
    }
}
/* end request */

/* base auto */
.base-auto{
    background-color: #edeef0;
    padding-bottom: 70px;

}
.base-auto-title{
    color: #020204;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    padding-top:40px;
    padding-bottom: 30px;
}
.base-auto .base-auto-icon-body{
    display: flex;
    justify-content: flex-end;
}

.base-auto-icon-body li:nth-child(1) a{
    background: url(~@/assets/images/request-dow.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
   
}

 .base-auto-icon-body li:nth-child(2) a{
    background: url(~@/assets/images/print-icon.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

 .base-auto-icon-body li:nth-child(1):hover a {
    background: url(~@/assets/images/download-green.png);
    background-position: center;
    background-repeat: no-repeat;
}

 .base-auto-icon-body li:nth-child(2):hover a {
    background: url(~@/assets/images/print-green.png);
    background-position: center;
    background-repeat: no-repeat;
}



 .base-client-icon-body li:nth-child(1) a{
    background: url(~@/assets/images/request-dow.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
   
}

.base-client-icon-body li:nth-child(2) a{
    background: url(~@/assets/images/print-icon.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

 .base-client-icon-body li:nth-child(1):hover a {
    background: url(~@/assets/images/download-green.png);
    background-position: center;
    background-repeat: no-repeat;
}

 .base-client-icon-body li:nth-child(2):hover a {
    background: url(~@/assets/images/print-green.png);
    background-position: center;
    background-repeat: no-repeat;
}




.request-icon-body li:nth-child(1) a{
    background: url(~@/assets/images/request-dow.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
   
}

.request-icon-body li:nth-child(2) a{
    background: url(~@/assets/images/print-icon.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

 .request-icon-body li:nth-child(1):hover a {
    background: url(~@/assets/images/download-green.png);
    background-position: center;
    background-repeat: no-repeat;
}

 .request-icon-body li:nth-child(2):hover a {
    background: url(~@/assets/images/print-green.png);
    background-position: center;
    background-repeat: no-repeat;
}


.defective-icon-body li:nth-child(1) a{
    background: url(~@/assets/images/request-dow.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
   
}

.defective-icon-body li:nth-child(2) a{
    background: url(~@/assets/images/print-icon.png);
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

 .defective-icon-body li:nth-child(1):hover a {
    background: url(~@/assets/images/download-green.png);
    background-position: center;
    background-repeat: no-repeat;
}

 .defective-icon-body li:nth-child(2):hover a {
    background: url(~@/assets/images/print-green.png);
    background-position: center;
    background-repeat: no-repeat;
}


.base-auto .base-auto-icon-body li:first-child{
    margin-right: 1rem;
    width: 45px;
}
.base-auto .base-auto-icon-body li{
    list-style-type: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    width: 45px;
}
.base-auto-icon-body{
    display: flex;
    justify-content: flex-end;
}
 .base-auto-icon-body li:first-child{
    margin-right: 1rem;
}
.base-auto-icon-body li{
    list-style-type: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
}
@media only screen and (max-width:576px){
    .base-auto .base-auto-icon-body{
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .base-auto .search input{
        width: 100%;
    }
    .base-auto .base-auto-icon-body{
        margin-top: 1rem;
    }
    .big-circle{
        width: 460px;
        height: 460px;   
    }
    .small-circle p{
        font-size: 14px;
    }
}
/* end base auto */

/* base client */
.base-client{
    background-color: #edeef0;
    padding-bottom: 70px;
}
.base-client-title{
    color: #020204;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    padding-top:40px;
    padding-bottom: 30px;
}
.base-client .base-client-icon-body{
    display: flex;
    justify-content: flex-end;
}
.base-client .base-client-icon-body li:first-child{
    margin-right: 1rem;
}
.base-client .base-client-icon-body li{
    list-style-type: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
}

.base-client .base-client-icon-body li a:hover img{
    transform: scale(1.2)
}

.base-client .base-client-icon-body li img{
    transition: all .3s;
}



@media only screen and (max-width:576px){
    .base-client .base-client-icon-body{
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .base-client .search input{
        width: 100%;
    }
    .base-client .base-client-icon-body{
        margin-top: 1rem;
    }
}
/* end base client */

/* partners */
.partners-page{
    background-color: #edeef0;
    padding-bottom: 70px;
    height: 100%;
}
.partners-page .pick-period-box{
    width: 40%;
}
.partners-page .partners-link-download{
    color: #6381cd;
    font-family: Montserrat;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.52px;
    font-family: Montserrat,sans-serif;
    display: block;
    margin-top: 35px;
}
.partners-page .partners-link-download img{
    padding-left: 1rem;
}
.partners-page .partners-page-job{
    color: #999ca2;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    margin-top: 27px;
}
.partners-page .partners-page-name{
    color: #636a74;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    margin-top: 10px;
}
.partners-page .partners-page-contact{
    display: flex;
    padding: 0;
    margin-top: 13px;
}
.partners-page .partners-page-contact li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners-page .partners-page-contact li:last-child{
    padding-left: 20px;
}
.partners-page .partners-page-contact li a{
    background-color: #606579;
    padding:9px 11px;
    border-radius: 50%;
}
.partners-page .partners-page-contact li p{
    padding-left: 11px;
    color: #636a74;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
}
/* end partners */

/* defective */
.defective{
    background-color: #edeef0;
    padding-bottom: 70px;
}
.defective .defective-title{
    color: #020204;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    padding-top:40px;
    padding-bottom: 30px;
}
.defective .defective-title-body{
    color: #636a74;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    display: inline-block;
    padding-bottom: 20px;
}
.defective .defective-icon-body{
    display: flex;
    justify-content: flex-end;
}
.defective .defective-icon-body li:first-child{
    margin-right: 1rem;
}
.defective .defective-icon-body li{
    list-style-type: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
}
.defective .table{
    margin: 0;
}
.defective .defective-text-body{
    color: #525764;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    line-height: 24px;
    margin-top: 32px;
}
.defective .defective-link-body{
    display: flex;
    justify-content: space-around;
}
.defective .defective-link-body a{
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    padding: 17px 67px;
    margin-top: 35px;
    border-radius: 2px;
}
.defective .defective-link-body .defective-link1{
    background-color: #5b6981;
    border:1px solid #5b6981;
}
.defective .defective-link-body .defective-link1:hover{
    background-color: #edeef0;
    color: #5b6981;
    text-decoration: none;
}
.defective .defective-link-body .defective-link2{
    background-color: #3690c4;
    border:1px solid #3690c4;
}
.defective .defective-link-body .defective-link2:hover{
    background-color: #edeef0;
    color: #3690c4;
    text-decoration: none;
}
.defective .defective-link-body .defective-link3{
    background-color: #79c471;
    border:1px solid #79c471;
}
.defective .defective-link-body .defective-link3:hover{
    background-color: #edeef0;
    color: #79c471;
    text-decoration: none;
}
@media only screen  and (max-width:576px){
    .defective .defective-link-body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .defective .defective-link-body a{
        width: 100%;
        text-align: center;
    }
}
/* end defective */
