<template>
    <div class="container my-4">
        <h1>Создание дефектного акта</h1>
        <div>
            <form v-if="parts_prepaired">
                <div>
                    <ShopField v-for="n in range" :key="n" :parts="parts_prepaired" :iteration="n" :edit="false" :act="act" @shopChanged="shopChanged"></ShopField>
                </div>
                <button type="button" class="btn btn-primary" @click="addShop">Добавить магазин</button>
                <div class="my-2">
                    <button class="btn btn-primary" @click.prevent="createDefectAct">Создать дефектый акт</button>
                </div>
            </form>
        </div>
    </div>
</template>


<script>
  import ShopField from '@/components/ShopField.vue'
  export default {
  	components:{
        ShopField
  	},
  	data() {
	    return {
            range: 0,
	    	act: {
                parts: []
            },
	    	unknownParts: [],
	    	parts_prepaired: [],
	    }
	},
	props:["orderid"],
	watch:{

    },
	created: function () {
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/works').then(responce => this.works_prepaired = responce.data);
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/parts').then(responce => this.parts_prepaired = responce.data);
	},
	methods:{
        createDefectAct() {
            console.log(this.act)
            // this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}/api/orpas/orders/${this.$route.params.id}/defect-acts`,{data: this.act})
            //     .then(response => this.$router.push(`/orpa/orders/${this.$route.params.id}/defect-act`));
        },
        shopChanged(e) {
            this.act.push(e.shop);
        },
        addShop(e) {
            this.range += 1;
        },
		addPart: function(){this.unknown =false; this.act.parts.push({})},
		addNewPart: function(){this.unknown =true; this.act.parts.push({})},
		addWork: function(){this.act.works.push({})},
		updateWork: function(newWork){this.act.works[newWork[0]] = newWork[1]},
		updatePart: function(newPart){this.act.parts[newPart[0]] = newPart[1]},
		updateNewPart: function(newPart){this.act.parts_unknown[newPart[0]] = newPart[1]},
		send: function(){
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/stations/orders/'+this.orderid+'/defect-acts/store', this.act).then(responce => console.log(responce))
		}
	}
  }
</script>

<style type="text/css" scoped>
	.fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>