<template>
  <div class="bg-gr">
    <div class="container">
      <h1>{{ edit ? 'Изменение магазина' : 'Создание магазина' }}</h1>
      <form class="my-2">
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.name"
            :placeholder="$t('orpa_shop_name')"
          />
        </div>
        <div class="my-2">
          <select v-model="shop.region_id" :placeholder="$t('orpa_shop_city')">
            <option
              v-for="(region, index) in regions"
              v-bind:key="index"
              v-bind:value="region.id"
            >{{ region.region_name }}</option>
          </select>
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.address"
            :placeholder="$t('orpa_company_address')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.dir_name"
            :placeholder="$t('orpa_company_dir_name')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.dir_phone"
            :placeholder="$t('orpa_company_dir_phone')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.specialist_name"
            :placeholder="$t('orpa_company_specialist_name')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.specialist_phone"
            :placeholder="$t('orpa_company_specialist_phone')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.jur_address"
            :placeholder="$t('orpa_company_jur_address')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.fact_address"
            :placeholder="$t('orpa_company_fact_address')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.bin"
            :placeholder="$t('orpa_company_bin')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.bik"
            :placeholder="$t('orpa_company_bik')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.iik"
            :placeholder="$t('orpa_company_iik')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.contact_person"
            :placeholder="$t('orpa_company_contact_person')"
          />
        </div>
        <div class="my-2">
          <input
            class="form-control"
            type="text"
            v-model="shop.contact_phone"
            :placeholder="$t('orpa_company_contact_phone')"
          />
        </div>
        <div v-if="edit">
          <div class="btn btn-primary" @click="editCompany">{{ $t('edit_shop') }}</div>
        </div>
        <div v-else>
          <div class="btn btn-primary" @click="createCompany">{{ $t('create_shop') }}</div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      edit: false,
      regions: [],
      loadingRegions: true,
      shop: {
        name: null,
        region_id: null,
        address: null,
        dir_name: null,
        dir_phone: null,
        specialist_name: null,
        specialist_phone: null,
        jur_address: null,
        fact_address: null,
        bin: null,
        bik: null,
        iik: null,
        contact_person: null,
        contact_phone: null
      }
    };
  },
  created() {
    if (this.$route.params.id) {
      this.edit = true;
      this.fetchShop();
    }
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/regions")
      .then(responce => {
        this.regions = responce.data;
        this.loadingRegions = false;
      });
  },
  methods: {
    fetchShop() {
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}/api/orpas/shops/${this.$route.params.id}`
        )
        .then(response => response.data.data)
        .then(data => {
          for (const key in this.shop) {
            if (this.shop.hasOwnProperty(key)) {
              console.log(data);
              this.shop[key] = data[key];
            }
          }
          console.log(this.shop);
        });
    },
    createCompany() {
      const data = new FormData();
      for (const key in this.shop) {
        if (this.shop.hasOwnProperty(key)) {
          data.append(key, this.shop[key]);
        }
      }
      this.$http
        .post(`${process.env.VUE_APP_SUPPLY_URL}/api/orpas/shops`, data)
        .then(response => this.$router.push("/#/orpa/shop"));
    },
    editCompany() {
      const data = new FormData();
      for (const key in this.shop) {
        if (this.shop.hasOwnProperty(key)) {
          data.append(key, this.shop[key]);
        }
      }
      data.append("_method", "PUT");
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}/api/orpas/shops/${this.$route.params.id}`,
          data
        )
        .then(response => this.$router.push("/#/orpa/shop"));
    }
  }
};
</script>

<style scoped>
select {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.211765px;
  color: #a2a8ab;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding-left: 20px;
  cursor: pointer !important;
  background-color: #fff;
}
</style>