<template>
	<div class="grey-bg">
		<div class="container">
			<div class="inner-title">
				<h3>Заявки</h3>
			</div>
			<div class="request-list">
				<ul class="nav nav-tabs" id="client_status_tabs" role="tablist">
					<li class="nav-item">
						<a class="$event, nav-link" :id="statuses.all.id" data-toggle="tab" @click="getOrders($event, 'newOrder')" role="tab" aria-controls="contact" aria-selected="false">НОВЫЕ ЗАЯВКИ ({{ count.newOrder }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" :id="statuses.work.id" data-toggle="tab" @click="getOrders($event, 'work')" role="tab" aria-controls="profile" aria-selected="false">ЗАЯВКИ В РАБОТЕ ({{ count.work }})</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" :id="statuses.completed.id" data-toggle="tab" @click="getOrders($event, 'completed')" role="tab" aria-controls="profile" aria-selected="false">ВЫПОЛНЕННЫЕ ЗАЯВКИ ({{ count.completed }})</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" :id="statuses.rejected.id" data-toggle="tab" @click="getOrders($event, 'rejected')" role="tab" aria-controls="profile" aria-selected="false">ОТМЕНЁННЫЕ ЗАЯВКИ ({{ count.rejected }})</a>
					</li>
                    <li class="nav-item">
						<a class="$event, nav-link" :id="statuses.closed.id" data-toggle="tab" @click="getOrders($event, 'closed')" role="tab" aria-controls="contact" aria-selected="false">ЗАКРЫТЫЕ ЗАЯВКИ ({{ count.closed }})</a>
					</li>
					<li class="nav-item">
						<a class="$event, nav-link" :id="statuses.all.id" data-toggle="tab" @click="getOrders($event, 'all')" role="tab" aria-controls="contact" aria-selected="false">ВСЕ ЗАЯВКИ ({{ count.all }})</a>
					</li>
					<li class="nav-item">
						<a class="$event, nav-link" :id="statuses.reverted.id" data-toggle="tab" @click="getOrders($event, 'reverted')" role="tab" aria-controls="contact" aria-selected="false">Возвращённые заявки ({{ count.reverted }})</a>
					</li>
				</ul>
			</div>
			
			<div class="row">
				<transition name="bounce">
					<div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
						<div class="search">
							<input type="text" v-model="searchTerm">
							<button></button>
						</div>
					</div>
				</transition>
				<transition name="bounce">
					<div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
						<div class="pick-period-row">
							<div class="pick-period">
								<p>Выбрать период</p>
							</div>
							<div class="pick-period-box">
								<date-picker format="YYYY-MM-DD" value-type="timestamp" @clear="clear" v-model="searchTerm" :lang="lang" range style="width: 100%"></date-picker>
							</div>

							<div class="burger dropleft">
								<button class="hamburger hamburger--collapse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  <span class="hamburger-box">
								<span class="hamburger-inner"></span>
							  </span>
								</button>
								<div class="dropdown-menu">
							    	<button @click="exportCSV" class="btn btn-secondary export-butons">Скачать как CSV</button>
							    	<br>
							    	<br>
							    	<button @click="exportXLS" class="btn btn-secondary export-butons">Скачать как XLS</button>
							  	</div>
							</div>
						</div>
					</div>
				</transition>
			</div>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class=" table-cont" id="table-cont">
						<vue-good-table
							ref="clientTable"
							:columns="columns"
							:rows="rows"
							:search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
							:sort-options="{
							    enabled: true,
							    initialSortBy: {field: 'id', type: 'desc'}
							  }"
							:pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import DatePicker from 'vue2-datepicker'
	export default {
		components: {
			DatePicker
		},
		created: function(){
			this.countOrders();
			this.getOrders(0, 'work');
		},
		data(){
			return {				
				colClass: 6,
				unselected: true,
				count: [],
				SearchSelected: false,
				DateSelected: false,
				dates: [],
				lang: {
					days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
					pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
					placeholder: {
						date: 'Select Date',
						dateRange: 'Select Date Range'
					}
				},
				columns: [

				],
				rows: [

				],
				loading: {
					type: Boolean,
					default: false,
				},
				searchTerm: "",
				statuses: {
					newOrder: {
						id: 'ork_new',
						int: "19"
					},
					work: {
						id: 'work',
						int: "20,21,22",		
					},
					rejected: {
						id: 'ork_rejected',
						int: "6,12",
					},
					completed: {
						id: 'completed',
						int: "23",
					},
					// onPayment: {
					// 	id: "onPayment",
					// 	int: "21,22"
					// },
					all: {
						id: 'all',
						int: "19,20,21,22,23,24"
                    },
                    closed: {
                        id: 'closed',
                        int: '23'
					},
					reverted: {
						id: "ork_completed",
						int: "24"
					 }
				},
				currentStatus:"newOrder"
			}
		},
		watch:{
			searchTerm: function(newValue, oldValue){
				if(typeof newValue  == 'object'){
					this.unselected = false
					this.SearchSelected = false;
					this.DateSelected = true;
					this.colClass = 12
				}
				if(newValue  == ""){
					this.unselected = true
					this.SearchSelected = false;
					this.DateSelected = false;
					this.colClass = 6
				}
				if(typeof newValue  == 'string' && newValue.length > 0){
					this.unselected = false
					this.DateSelected = false;
					this.SearchSelected = true;
					this.colClass = 12
				}
			}
		},
		methods:{
			countOrders() {
				this.$http.get(`${process.env.VUE_APP_SUPPLY_STORAGE_URL}api/count/orders?statuses=${ JSON.stringify(this.statuses) }`)
					.then(r => this.count = r.data);
			},
			search: function(row, col, cellValue, searchTerm) {
				if(typeof searchTerm == 'object'){
					if(parseInt((new Date(cellValue).getTime() / 1000).toFixed(0))  >= parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) && parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <= parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0))+86400){
						return cellValue
					}
					
				}
				else{
					if(String(cellValue).toLowerCase().includes(searchTerm.toLowerCase())){
						return cellValue
					}
				}				
			},
			exportCSV: function(){
				const xls = new XlsExport(this.$refs.clientTable.processedRows[0].children, 'export');
				xls.exportToCSV('export.csv')
			},
			exportXLS: function(){
				const xls = new XlsExport(this.$refs.clientTable.processedRows[0].children, 'export');
				xls.exportToXLS('export.xls')
			},
			clear: function(){
				this.searchTerm = ""
			},
			actOrder: function(rowObj){
				let string = "";
                string += "<a class=\"actBtnMore\" href=\"/#/order/"+rowObj.id+"\">Подробнее</a>"
 			  	return string;
			},
			actORPA: function(rowObj){
				let string = "";
				string += "<a href=\"/#/order/"+rowObj.id+"/orpa\">Отправить в отдел по работе с партнерами</a>"
 			  	return string;
			},
			actORPU: function(rowObj){
				let string = "";
				string += "<a href=\"/#/order/"+rowObj.id+"/orpu\">Отправить в отдел снабжения автозапчастей</a>"
 			  	return string;
            },

            actDefect: function(row){
				let string = "";
				string += row.defect_acts
                      ? `<a href="/#/pay/orders/` +
                        row.id +
                        `/defect\">Дефектный акт</a>`
                      : "";
 			  	return string; 
			},
			// H: Authorization: 'Bearer '+token
			getOrders(event, status){
				if(event != 0){
					if(this.currentStatus == "work"){
						this.currentStatus=document.querySelector('.active')
					}
					// console.log(event);
					// this.currentStatus.classList.toggle("active");
					event.target.classList.toggle("active");
					this.currentStatus=event.target
				}
				this.columns =[];
				this.rows = [];
				this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/ops/orders?status_internal='+this.statuses[status].int)
				.then(responce => {						
					for (var i = 0; i < responce.data.columns.length; i++) {
						let column = {};
                        switch(responce.data.columns[i]){
							case "ready_to_diagnose_at":
							case "ready_to_repair_at":
							case "planned_to_completed_at":
							case "completed_at":
								if(status != "newOrder"){
									column = {
										label: this.$t(responce.data.columns[i]),
										field: responce.data.columns[i],
										type: "date",
										dateInputFormat: "X",
										dateOutputFormat: 'YYYY-MM-DD',
									}
									this.columns.push(column);
								}
								break;
							case "defect_acts":
									column = {
										label: this.$t(responce.data.columns[i]),
										field: this.actDefect,
										html: true
									}
									this.columns.push(column);
								let columnDefect = {
									label: this.$t("order_open"),
									field: this.actOrder,
									html: true
								}
								this.columns.push(columnDefect);
								break;
							case "station_name":
								if(status != "newOrder"){
									column = {
										label: this.$t(responce.data.columns[i]),
										field: responce.data.columns[i],
									}
									this.columns.push(column);
								}
								break;
							case "id":
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
									type: 'number'
								}
								this.columns.push(column);
								break;
							case "status_internal":
								break;
							case "is_evacuated":
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
									type: 'boolean'
								}
								this.columns.push(column);
								break;
							case RegExp('_at').test(responce.data.columns[i]):
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
									type: "date",
									dateInputFormat: "t",
									dateOutputFormat: 'YYYY-MM-DD',
								}
								this.columns.push(column);
								break;
							default:
								column = {
									label: this.$t(responce.data.columns[i]),
									field: responce.data.columns[i],
								}
								this.columns.push(column);
								break;
						}
					}
					// let columnDefect = {
					//   label: this.$t("order_open"),
					//   field: this.actFormat,
					//   html: true
                    // }
                    
                    // this.columns.push(columnDefect);
					this.rows = responce.data.orders;
				})
			}
		}
	}
</script>
<style type="text/css" scoped>
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
	transform: scale(0);
  }
  50% {
	transform: scale(1.5);
  }
  100% {
	transform: scale(1);
  }
}
.dropleft .dropdown-toggle::before{
	display: none;
}
.pick-period-box{
    width: 60%;
    padding: 3px;
    background: #FFFFFF;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}
.export-butons{
	background-color: #dcdfe6;
}
</style>