<template>
  <div class="admin">
    <SideBar />
  </div>
</template>

<script>
// @ is an alias to /src
import SideBar from '@/components/admin/SideBar.vue'

export default {
  name: 'admin',
  components: {
    SideBar
  }
}
</script>
