<template>
	<div class="grey-bg defective">
		<div class="container">
		    <div class="row">
		        <div class="request-list">
		            <ul class="nav nav-tabs" id="myTab" role="tablist">
		                <li class="nav-item">
		                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">НОВЫЕ ЗАЯВКИ</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ЗАЯВКИ В РАБОТЕ</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">ЗАЯВКИ НА СОГЛАСОВАНИЕ КЛИЕНТУ</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="profile" aria-selected="false">ВЫПОЛНЕННЫЕ ЗАЯВКИ</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact" aria-selected="false">ВСЕ ЗАЯВКИ</a>
		                </li>
		                <li class="back">
		                    <a href="request.php">Назад к заявке </a>
		                </li>
		            </ul>
		        </div>
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <p class="defective-title">
		                Дефектный акт
		            </p>
		        </div>
		        <div class="col-lg-6 col-md-12 col-sm-12">
		            <p class="defective-title-body">
		            Автозапчасти:
		            </p>
		        </div>
		        <div class="col-lg-6 col-md-12 col-sm-12">
		            <ul class="defective-icon-body">
		                <li><a href="#"></a></li>
		                <li><a href="#"></a></li>
		            </ul>
		        </div>
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div class=" table-cont" id="table-cont">
		                <div class="table-responsive">
<!-- 		                    <vue-good-table
		                    	v-if="act.parts.length != 0"
								:columns="Object.keys(act.parts[0])"
								:rows="act.parts"
								>
							</vue-good-table> -->
		                </div>
		            </div>
		        </div>

		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div style="background-color: #606579; height: 1px; width: 100%; margin: 30px 0;"></div>
		        </div>

		        <div class="col-lg-6 col-md-12 col-sm-12">
		            <p class="defective-title-body">
		            Работы:
		            </p>
		        </div>
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div class=" table-cont" id="table-cont">
		                <div class="table-responsive">
		                	<vue-good-table
		                    	v-if="act.works.length != 0"
								:columns="act.works.columns"
								:rows="act.works"
								>
							</vue-good-table>
		            	</div>
		            </div>
		        </div>
		    </div>
		    
		    <div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div style="background-color: #606579; height: 1px; width: 100%; margin: 30px 0;"></div>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div class="defective-link-body">
		                <a class="defective-link1" href="#">Изменить дефектный акт</a>
		                <a class="defective-link2" href="#">Отправить на согласование</a>
		                <a class="defective-link3" href="#">Ремонт выполнен</a>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	act: {}
	    }
	},
	props:{

	},
	watch:{

	},
	created: function(){
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+"api/stations/orders/"+this.$route.params.order+"/defect-acts/"+this.$route.params.id).then(responce => { 
				this.act = responce.data.data;
				for (var i = Object.keys(act.works[0]).length - 1; i >= 0; i--) {
					this.act.works.columns.push({
						label: Object.keys(act.works[0])[i],
						field: Object.keys(act.works[0])[i],
					}) 
				}
				
		 })
	},
	methods:{

	}
  }
</script>

<style scoped>
.defective {
    background-color: #edeef0;
    padding-bottom: 70px;
}
.defective-icon-body li:nth-child(1) a {
    background: url('/assets/images/request-dow.png');
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}
.table-cont {
    min-height: 0px;
}
.defective .defective-link-body {
    display: flex;
    justify-content: space-around;
}
.defective .defective-link-body .defective-link2 {
    background-color: #3690c4;
    border: 1px solid #3690c4;
}
.defective .defective-link-body .defective-link1 {
    background-color: #5b6981;
    border: 1px solid #5b6981;
}
.defective .defective-link-body .defective-link3 {
    background-color: #79c471;
    border: 1px solid #79c471;
}
</style>