<template>
    <div>
    
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <!-- <div class="big-circle wow fadeIn"> -->
                        <!-- CRM
                        <div class="wow rollIn small-circle pos1" data-wow-delay=".1s">
                            <img src="@/assets/images/partnership.png" alt="">
                            <p>{{ $t('login_page_clients_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos2" data-wow-delay=".3s">
                            <img src="@/assets/images/high-five.png" alt="">
                            <p>{{ $t('login_page_parthners_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos3" data-wow-delay=".6s">
                            <img src="@/assets/images/community.png" alt="">
                            <p>{{ $t('login_page_employees_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos4" data-wow-delay=".9s">
                            <img src="@/assets/images/call.png" alt="">
                            <p>{{ $t('login_page_phone_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos5" data-wow-delay="1.2s">
                            <img src="@/assets/images/paper-plane.png" alt="">
                            <p>{{ $t('login_page_email_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos6" data-wow-delay="1.5s">
                            <img src="@/assets/images/clock.png" alt="">
                            <p>{{ $t('login_page_fast_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos7" data-wow-delay="1.8s">
                            <img src="@/assets/images/idea.png" alt="">
                            <p>{{ $t('login_page_comfortable_bubble') }}</p>
                        </div>
                        <div class="wow rollIn small-circle pos8" data-wow-delay="2.1s">
                            <img src="@/assets/images/hired.png" alt="">
                            <p>{{ $t('login_page_effective_bubble') }}</p>
                        </div> -->
                    <!-- </div> -->
                </div>
                <div class="col-sm-3">
                    <div class="login wow fadeInRight">
                        <form @submit="signin">
                            <input type="email" v-model="login.email" :placeholder="$t('login_page_email_placeholder')">
                            <input type="password" v-model="login.password" :placeholder=" $t('login_page_password_placeholder')">
                            <div class="remember-me">
                                <div class="form-group">
                                    <input v-model="login.remember" type="checkbox" id="css">
                                    <label for="css">{{ $t('login_page_remember_me') }}</label>
                                </div>
                            </div>
                            <div class="enter-btn">
                                <button type="submit">{{ $t('login_page_log_in') }}</button>
                            </div>
                            <div class="forgot-pass">
                                <router-link to="/password/email">{{ $t('login_page_forgot_password') }}</router-link>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="pre-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-title wow fadeInUp">
                            <h4>{{ $t('login_page_footer_motto') }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-delay=".25s">
                        <div class="main-title">
                            <h5>{{ $t('login_page_footer_address_title') }}</h5>
                        </div>
                        <div class="main-text">
                            <p><img src="@/assets/images/place.png" alt="">{{ $t('login_page_footer_address_country') }}, {{ $t('login_page_footer_address_city') }}</p>
                            <p><img src="@/assets/images/place.png" alt="">{{ $t('login_page_footer_address_address') }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-delay=".5s">
                        <div class="main-title">
                            <h5>{{ $t('login_page_footer_client_department_title') }}</h5>
                        </div>
                        <div class="main-text">
                            <p><img src="@/assets/images/call-sm.png" alt=""><a href="tel:+118 (92) 123-40-81">+118 (92) 123-40-81</a></p>
<!--                            <p><img src="@/assets/images/email.png" alt=""><a href="mailto:clients@supplygroupkz.com">clients@supplygroupkz.com</a></p>-->
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-delay=".75s">
                        <div class="main-title">
                            <h5>{{ $t('login_page_footer_parthner_department_title') }}</h5>
                        </div>
                        <div class="main-text">
                            <p><img src="@/assets/images/call-sm.png" alt=""><a href="tel:+380 (91) 291-51-25">+380 (91) 291-51-25</a></p>
<!--                            <p><img src="@/assets/images/email.png" alt=""><a href="mailto:clients@supplygroupkz.com">partners@supplygroupkz.com</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script type="text/javascript">
    export default {
        // components: {
                
        // },
        data() {
            return {
                login:{
                    email: "",
                    password: "",
                    remember: false
                }
            }
        },
        // props:{

        // },
        // watch:{

        // },
        // mounted: function(){
            
        // }, 
        methods:{ 
            signin: function(e){ 
                e.preventDefault(); 
                var self=this;
                this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/login', this.login).then(responce => {
                    localStorage.setItem('role', responce.data.role);
                    localStorage.setItem('name', responce.data.user.name);
                    localStorage.setItem('token', responce.data.token);
                    localStorage.setItem('user', JSON.stringify(responce.data.user));
                    self.$emit('successlogin')
                    self.$router.push('/')
                }).catch(error => {
                    if(error.response.data == "Password missmatch"){
                        this.$swal.fire(this.$t('login_page_incorrect_password'))
                    }
                    if(error.response.data == "User does not exist"){
                        this.$swal.fire(this.$t('login_page_incorrect_email'))
                    }
                })
            } 
        } 
    } 
</script>