<template>
  <div>
  	<div class="grey-bg" id="order-page">
		<div class="container">
			<div class="inner-title">
				<h3>Заявка №{{$route.params.id}}</h3>
				<router-link to="/">Все заявки</router-link>
			</div>
      	<div class="row mt-4">
				<div class="col-sm-3">
						<div class="col-sm-12 white-bg information">
							<p>
								Компания
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">
								{{ order.client.company.name ? order.client.company.name : "" }}
							</p>
							<p>
								Менеджер
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">
								{{ order.client.name ? order.client.name : "" }}
							</p>
							<p>
								Машина
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">
								{{ order.car.brand ? order.car.brand : "" }}<br />
								{{ order.car.model ? order.car.model : "" }}<br />
								{{ order.car.number ? order.car.number : "" }}<br />
								{{ order.car.vin_number ? order.car.vin_number : "" }}
							</p>
							<p>
								Дата создания
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">
								{{ order.created_at }}
							</p>
							<p>
								Адрес СТО
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">
								{{ order.station ? order.station.fact_address ? order.station.fact_address : "" : "" }}
							</p>
							<p>
								Дата диагностики
                			<i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">
								<span v-if="ready_to_diagnose_at">{{ order.ready_to_diagnose_at }} </span>
								<br />
								<button  @click="approveDiagnostics" class="btn btn-success w-50 mt-2" v-if="role == 2 && order.status_internal == 4">Принять</button><button @click="notApprove" class="btn btn-danger w-50 mt-2" v-if="role == 2 && order.status_internal == 4">Отклонить</button>
							</p>
							<p>
								Водитель
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db" v-if="order.driver">
								{{ order.driver.name ? order.driver.name: "" }}
								<br />
								{{ order.driver.phone ? order.driver.phone: "" }}
							</p>
							<div v-if="order.is_evacuated">Эвакуирована из {{ order.location ? order.location : "" }}</div>
							<p>
								Описание проблемы
                <i class="fa fa-caret-down"></i>
							</p>
							<p class="data-from-db">	
								<a @click="showDescription">Показать описание проблемы</a>
							</p>
						</div>
					</div>

				<div class="col-sm-6 main-section-comment">
					<chat-messages :user="user" :messages="messages" @load-messages="loadMessages"></chat-messages>
					<chat-form :user="user" @message-send="messageSendEvent"></chat-form>
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-sm-12 white-bg" v-if="role != 2">
							<div v-for="(participant, index) in participants" :key="index" class="white-bg participant">
								{{ participant.user ? participant.user.name : '' }}
							</div>
						</div>
						<div class="col-sm-12 mt-3 white-bg" v-if="role == 1 && order.status_internal == 0">
							<div class="row">
								<div class="col-md-12">
									<router-link :to="`/ork/order/${$route.params.id}/orpu`">Отправить в отдел по работе с партнерами</router-link>
								</div>
							</div>
						</div>
						<div class="col-sm-12 mt-3 white-bg" v-if="role == 1 && order.status_internal == 0">
							<div class="row">
								<div class="col-md-12">
									<router-link :to="`/ork/order/${$route.params.id}/orpa`">Отправить в отдел снабжения автозапчастей</router-link>
								</div>
							</div>
						</div>
						<div v-if="role == 5" class="col-sm-12 mt-3 white-bg">
							<div>
								Назначить дату диагностики
								<input :min="moment(new Date()).format('YYYY-MM-DD')" type="date" v-model="ready_to_diagnose_at" :disabled="showReadyToDiagnose" class="form-control">
								<button v-if="ready_to_diagnose_at && !showReadyToDiagnose" class="btn btn-success w-100 mt-2" @click="setDiagnoseAt">Назначить</button>
						    </div>
							<div v-if="order.status_internal == 5">
								Установить дату прибытия авто на диагностику
								<input type="date" v-model="diagnosed_at" :disabled="showDiagnosed" class="form-control">
								<button v-if="diagnosed_at && !showDiagnosed" class="btn btn-success w-100 mt-2" @click="setDiagnosedAt">Установить</button>
						    </div>
						</div>
						<div class="col-sm-12 mt-3 white-bg" v-if="false">
							<div v-for="(bill, index) in bills" :key="index" class="bill-links-bar">
								<a :href="api+'storage/'+bill.link" target="_blank">Счет {{bill.id}}</a>
							</div>
						</div>
						<div v-if="role == 3" class="col-sm-12 mt-3 white-bg">
							<div>
								Назначенное СТО<i v-if="role == 3" @click="change = !change;" class="fas fa-edit"></i>
								<div v-if="(order.station_id && !change) || role != 3">{{ stations.find(element => element.id == order.station_id) ? stations.find(element => element.id == order.station_id).name : "" }}</div>
								<v-select
									v-if="change"
						            label="name"
									class="w-100"
						            :options="stations"
									:reduce="name => name.id" 
									v-model="order.station_id"
						            @input="setStation"/>
						    </div>
						</div>
						<div v-if="role == 3" class="col-sm-12 mt-3 white-bg">
							<div>
								Назначенный эвакуатор<i v-if="role == 3" @click="change = !change;" class="fas fa-edit"></i>
								<div v-if="(order.evacuator_id && !change) || role != 3">{{ evacuators.find(element => element.id == order.evacuator_id).name }}</div>
								<v-select
									v-if="change"
						            label="name"
									class="w-100"
						            :options="evacuators"
									:reduce="name => name.id" 
									v-model="order.evacutor_id"
						            @input="setEvacuator"/>
						    </div>
						</div>
						<div v-if="canSeeDefectAct && order.diagnosed_at" class="col-sm-12 mt-3 white-bg">
							<router-link :to="`/${roleRoute}/orders/${$route.params.id}/defect`">Дефектный акт</router-link>
						</div>
						<div v-if="role == 5 && order.status_internal >= 11" class="col-sm-12 mt-3 white-bg">
							<div>
								Назначить дату ремонта
								<input type="date" v-model="ready_to_repair_at" :disabled="showReadyToRepair" class="form-control">
								<button v-if="ready_to_repair_at && !showReadyToRepair" class="btn btn-success w-100 mt-2" @click="setRepairAt">Назначить</button>
						    </div>
						</div>
						<div v-if="role == 5 && order.status_internal >= 11" class="col-sm-12 mt-3 white-bg">
							<div>
								Назначить запланированную дату окончания ремонта
								<input type="date" v-model="planned_to_completed_at" :disabled="showPreComplete" class="form-control">
								<button v-if="planned_to_completed_at && !showPreComplete" class="btn btn-success w-100 mt-2" @click="setPlannedToCompleteAt">Назначить</button>
						    </div>
							<div>
						    </div>
						</div>
						<div v-if="role == 5 && order.status_internal == 24" class="col-sm-12 mt-3 white-bg">
							<form id="filesForm">
								<div class="mb-1" v-if="role == 5">
									Видеофайлы
									<input type="file" name="videos[]" class="form-control" multiple>
								</div>
								<div class="mb-1" v-if="role == 5">
									Фотоматериалы
									<input type="file" name="images[]" class="form-control" multiple>
								</div>
							</form>
							<button class="btn btn-success" @click="attachFiles">Прикрепить файлы</button>
						</div>
					</div>
				</div>
      </div>
    </div> 
		</div>
  </div>
</template>


<script>
import ChatForm from '@/components/Chatroom/ChatForm.vue'
import ChatMessages from '@/components/Chatroom/ChatMessages.vue'
  export default {
  	components:{
		  ChatForm,
		  ChatMessages
  	},
  	data() {
	    return {
			change: false,
			ready_to_repair_at: null,
			planned_to_completed_at: null,
			ready_to_diagnose_at: null,
			diagnosed_at: null,
			messages: [],
			chatroomId: null,
			lastTimestamp: null,
	    	comments: [],
			roles: ["orks", "clients", "orpus", 'orpas','stations','ops', 'accountants'],
			bills: [],
			api: process.env.VUE_APP_SUPPLY_URL,
	    	participants: [{
	    		user:{	    			
	    			name:""
	    		}
			}],
			evacuators: [],
	    	order: {
	    		client:{
	    			company:{
	    				name: ""
	    			},
	    			name:""
	    		},
	    		driver:{
	    			name:""
				},
				car:{
					brand: "",
					model: "",
					number: ""
				}
			},
			user: localStorage.getItem('user'),
			audio: new Audio(require('../assets/sounds/for-sure.mp3')),
			stations: [],
			showPreComplete: false,
			showReadyToRepair: false,
			showReadyToDiagnose: false,
			showDiagnosed: false
	    }
	},
	props:[],
	watch:{
		"order.station_id": function(newValue, oldValue){
			console.log(newValue);
		}
	},
	mounted() {
	},
	updated() {
		const messageBlock = document.getElementsByClassName("comment-section")[0];
		let percent = this.scrollPercentage(messageBlock);
		if(100 - percent <= 20) {
			messageBlock.scrollTop = messageBlock.scrollHeight + 60;
		}
	},
	created: function(){
		this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/orpus/evacuators`)
			.then(r => this.evacuators = r.data.evacuators)
		const messageBlock = document.getElementsByClassName("comment-section")[0];
		var self = this;
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/'+this.roles[localStorage.getItem("role")-1]+"/orders/"+this.$route.params.id).then(function(responce){
				self.comments = responce.data.order.chatroom.messages;
				self.participants = responce.data.order.chatroom.participants;
				self.chatroomId = responce.data.order.chatroom.id;
				self.order = responce.data.order;
				if(self.role == 3){
					self.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/orpus/stations?region_id='+self.order.location).then(responce => self.stations = responce.data.stations)
				}
				if(self.order.planned_to_completed_at){
					self.planned_to_completed_at = self.moment(self.order.planned_to_completed_at).format('YYYY-MM-DD')
					self.showPreComplete = true;
				}
				if(self.order.ready_to_repair_at){
					self.ready_to_repair_at = self.moment(self.order.ready_to_repair_at).format('YYYY-MM-DD')
					self.showReadyToRepair = true;
				}
				if(self.order.ready_to_diagnose_at){
					self.ready_to_diagnose_at = self.moment(self.order.ready_to_diagnose_at).format('YYYY-MM-DD')
					self.showReadyToDiagnose = true;
				}
				if(self.order.diagnosed_at){
					self.diagnosed_at = self.moment(self.order.diagnosed_at).format('YYYY-MM-DD')
					self.showDiagnosed = true;
				}
				self.bills = responce.data.order.bills;
				self.fetchMessages();
				
				window.Echo
					.private(`chatroom.${self.chatroomId}`)
					.listen("SendMessage", function(event) {
						self.messages.push(event.message);
						self.audio.play();
					});
				
				window.Echo
					.private(`system.${self.chatroomId}`)
					.listen("SystemMessage", function(event) {
						self.messages.push(event.message);
						self.audio.play();
					})
			});		
	},
	computed:{
		canSeeDefectAct: function() {
			switch(localStorage.getItem("role")) {
				case "1":
					return this.order.status_internal >= 9;
					break;
				case "3":
					return this.order.status_internal >= 7;
					break;
				case "4":
					return this.order.status_internal >= 2;
					break;
				case "5":
					return this.order.status_internal >= 5;
					break;
				default:
					return this.order.status_internal >= 10;
					break;
			}
		},
		role: () => localStorage.getItem("role"),
		roleRoute: () => {
			switch (localStorage.getItem("role")) {
				case "1":
					return 'ork'
					break;
				case "2":
					return 'client'
					break;
				case "3":
					return 'orpu'
					break;
				case "4":
					return 'orpa'
					break;
				case "5":
					return 'station'
					break;
				case "6":
					return 'pay'
					break;
				case 7:
					
					break;
				default:
					break;
			}
		}
	},
	methods:{
		setDiagnoseAt() {
			if(this.moment(new Date()).format('YYYY-MM-DD') > this.moment(new Date(this.ready_to_diagnose_at)).format('YYYY-MM-DD')) {
				this.$swal.fire(
					'Ошибка',
					'Некоректная дата диагностики',
					'error'
				)
			}else {
			this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/stations/orders/' + this.$route.params.id + '/diagnose-at', { ready_to_diagnose_at: this.ready_to_diagnose_at })
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Сохранено`,
						'success'
					)
					this.showReadyToDiagnose = true
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Не сохранено`,
						'error'
					)
				)
			}
		},
		showDescription() {
			this.$swal.fire({
				title: 'Описание проблемы', 
				text: this.order.problem_description,
				confirmButtonText: 'Закрыть'
			});
		},
		attachFiles() {
			const data = new FormData(document.getElementById('filesForm'));

			let response;
			if(this.role == 4) {
				response = this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/attach-files`, data);
			} else {
				response = this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/attach-files`, data);
			}

			response
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Сохранено`,
						'success'
					)
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Не сохранено`,
						'error'
					)
				)
		},
		setDiagnosedAt() {
			if(this.moment(new Date()).format('YYYY-MM-DD') > this.moment(new Date(this.diagnosed_at)).format('YYYY-MM-DD')) {
				this.$swal.fire(
					'Ошибка',
					'Некоректная дата',
					'error'
				)
			}else {
			this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/stations/orders/' + this.$route.params.id + '/diagnosed-at', { diagnosed_at: this.diagnosed_at })
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Сохранено`,
						'success'
					)
					this.showDiagnosed = true
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Не сохранено`,
						'error'
					)
				)
			}
		},
		setPlannedToCompleteAt() {
			this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/stations/orders/' + this.$route.params.id + '/planned-to-complete-at', { planned_to_completed_at: this.planned_to_completed_at })
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Сохранено`,
						'success'
					)
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Не сохранено`,
						'error'
					)
				)
		},
		setRepairAt() {
			this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/stations/orders/' + this.$route.params.id + '/repair-at', { ready_to_repair_at: this.ready_to_repair_at })
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Сохранено`,
						'success'
					)
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Не сохранено`,
						'error'
					)
				)
		},
		setStation(e){
			let obj = {
				name: "",
				id: e
			}
			obj.name = (this.stations.find(element => element.id == e)).name
			this.$swal.fire({
				title: 'Подтвердите действие',
				text: `Вы назначаете ${obj.name} ответственными за ремонт`,
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				cancelButtonText: "Закрыть",
				confirmButtonText: 'Назначить!'
			}).then((result) => {
				if (result.value) {
					this.$http.put(process.env.VUE_APP_SUPPLY_URL + 'api/orpus/orders/' + this.$route.params.id + '/set-station', {station_id: obj.id})
					.then(responce => {
						this.change = false;
						this.$swal.fire(
							'Успешно!',
							`СТО "${obj.name}" было назначено на заявку #${this.$route.params.id}`,
							'success'
						)
					})
					.catch(error => this.$swal.fire(
							'Неудача!',
							`СТО "${obj.name}" не было назначено на заявку #${this.$route.params.id}`,
							'error'
						)
					)
				}
			})
		},
		setEvacuator(e){
			let obj = {
				name: "",
				id: e
			}
			obj.name = (this.evacuators.find(element => element.id == e)).name
			this.$swal.fire({
				title: 'Подтвердите действие',
				text: `Вы назначаете ${obj.name} ответственными за эвакуцию`,
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				cancelButtonText: "Закрыть",
				confirmButtonText: 'Назначить!'
			}).then((result) => {
				if (result.value) {
					this.$http.put(process.env.VUE_APP_SUPPLY_URL + 'api/orpus/orders/' + this.$route.params.id + '/set-evacuator', {evacuator_id: obj.id})
					.then(responce => {
						this.change = false;
						this.$swal.fire(
							'Успешно!',
							`Эвакуатор "${obj.name}" был назначен на заявку #${this.$route.params.id}`,
							'success'
						)
					})
					.catch(error => this.$swal.fire(
							'Неудача!',
							`Эвакуатор "${obj.name}" не был назначен на заявку #${this.$route.params.id}`,
							'error'
						)
					)
				}
			})
		},
		approveDiagnostics(){
			this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/clients/orders/${this.$route.params.id}/diagnose-at/apply`)
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Вы приняли дату диагностики`,
						'success'
					),
					this.order.status_internal = responce.data.status_changed;
					//this.order = responce.data
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Что то произошло и сервер не смог обработать ваш запрос`,
						'error'
					)
				)
		},
		notApprove(){
			this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/clients/orders/${this.$route.params.id}/reject`)
				.then(responce => {
					this.$swal.fire(
						'Успешно!',
						`Вы отклонили дату диагностики`,
						'success'
					),
					this.order.status_internal = responce.data.status_changed;
					//this.order = responce.data
				})
				.catch(error => this.$swal.fire(
						'Неудача!',
						`Что то произошло и сервер не смог обработать ваш запрос`,
						'error'
					)
				)
		},
		payBill(){
			this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/ops/orders/' + this.$route.params.id + '/defect-acts/apply')
			.then(responce => {
				this.$swal.fire(
					'Успешно!',
					`Сохранено`,
					'success'
				)
			})
			.catch(error => this.$swal.fire(
					'Неудача!',
					`Не сохранено`,
					'error'
				)
			)
		},
		scrollPercentage: e => {
			let height = e.clientHeight;
			let scrollHeight = e.scrollHeight - height;
			let scrollTop = e.scrollTop;
			return  Math.floor(scrollTop / scrollHeight * 100);
		},
		messageSendEvent(message){
			const user = JSON.parse(message.user);
			const messageObject = {
				message: message.message,
				user: user,
				user_id: user.id,
				created_at: new Date(),
				type: 1
			};
			
			this.messages.push(messageObject);
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/send-message', {
				user_id: user.id,
				chatroom: this.chatroomId,
				message: message.message
			},{
				headers: { "X-Socket-Id" : window.Echo.socketId() }
			})
			.then(response => {
			});
		},
		loadMessages() {
			this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/messages/${this.chatroomId}?lastTimestamp=${ this.lastTimestamp }`)
				.then(response => response.data)
				.then(data => {
					this.messages = data.concat(this.messages);
					this.lastTimestamp = data[0].created_at;
				})
				.then(() => {
					const messageBlock = document.getElementsByClassName("comment-section")[0];
					return messageBlock.scrollTop = 400;
				});
		},
		fetchMessages(){
			this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/messages/${this.chatroomId}${this.lastTimestamp ? '?lastTimestamp=' + this.lastTimestamp : ''}`)
			.then(response => response.data)
			.then(data => {
				this.messages = data;
				this.lastTimestamp = data[0].created_at;
			})
			.then(() => {
				const messageBlock = document.getElementsByClassName("comment-section")[0];
				return messageBlock.scrollTop = messageBlock.scrollHeight + 150;
			});
		},
	}
  }
</script>

<style scoped>
	.white-bg{
		background-color: #FFFFFF;
		height: 100%;
    padding: 10px;
    border-radius: 7px;
	}
 #order-page .comment{
		width: auto;
		height:50px;
		margin: 10px
	}
 #order-page .participant{
		width: 100%;
		height:50px;
	}
  #order-page .main-section-comment {
    background: #fff;
    padding: 0;
    border-radius: 7px;
    margin: 0 1rem;
  }
  #order-page .information p {
    margin-bottom: 10px;
  }
  #order-page .information .data-from-db {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
  }
  .inner-title a{
	color: #5b6981;
	text-decoration: underline;
	padding-bottom: 1rem;
  }
  .bill-links-bar{
	display: flex;
	justify-content: center;
  }
  .bill-links-bar a{
	color: #5b6981;
	text-decoration: underline;
  }
  .bill-links-bar a:hover{
	color: #5b6981;
	text-decoration: none;
  }
  .btn-pay-order{
	  background-color: #627df5;
	  border:1px solid #627df5;
	  color: #fff;
  }
  .btn-pay-order:hover{
	  color: #627df5;
	  background-color: #fff;
	  cursor: pointer;
  }
  .btn-pay-wrapper{
	  display: flex;
	  justify-content: center;
  }
</style>
