<template>
  <div>
  	<form @submit="sendEmail">
  		<div class="main">
	        <div class="grey-bg">
	            <div class="container">
	                <div class="inner-title">
	                    <h3>Восстановление пароля</h3>
	                </div>
	                <div class="register-input">
				  		<input required type="email" name="email" v-model="request.email" placeholder="Ваш e-mail">
				  		<input required type="password" v-model="request.password" name="password" placeholder="Новый пароль">
				  		<span v-if="passwordEmpty">Введите пароль</span>
				  		<input required type="password" v-model="request.password_confirmation" name="password_confirmation"  placeholder="Подтвердите пароль">
				  		<span v-if="!PasswordsMatch">Пароли не совпадают<br></span>
				  		<button type="submit" :disabled="!PasswordsMatch">Сменить пароль</button>
				  	</div>
				</div>
			</div>
		</div>
  	</form>
  </div>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	request:{
		    	email: "",
		    	password: "",
				password_confirmation: "",
				token: this.$route.params.token
			},
			passwordEmpty: false
	    }
	},
	props:{

	},
	watch:{

	},
	created:{

	},
	methods:{
		sendEmail: function(e) {
			e.preventDefault();
			if(this.request.password.length > 0){
				var self=this;
				this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/password/reset', this.request).then(function(responce){
					self.$store.commit('setUser', responce.data.user);
                    localStorage.setItem('role', responce.data.role);
                    localStorage.setItem('token', responce.data.token);
                    self.$emit('successlogin')
                    self.$router.push('/')
				})
			}
			else{
				this.passwordEmpty = true;
			}			
		}
	},
	computed: {
		PasswordsMatch: function (){
			if(this.request.password != this.request.password_confirmation){ 
				return false 
			}
			else{
				return true
			} 
		}
	}
  }
</script>

<style scoped>
	.main{
		height: 74vh
	}
	.grey-bg{
		height: 100%;
	}
</style>