<template>
  <div>
  	<form @submit="sendEmail">
  		<div class="main">
	        <div class="grey-bg">
	            <div class="container">
	                <div class="inner-title">
	                    <h3>Восстановление пароля</h3>
	                </div>
	                <div class="register-input">
				  		<input required type="email" name="email" v-model="request.email" placeholder="Ваш e-mail">
				  		<button type="submit">Запросить восстановление пароля</button>
				  	</div>
				</div>
			</div>
		</div>
  	</form>
  </div>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	request: {
	    		email: ""
	    	}
	    }
	},
	props:{

	},
	watch:{

	},
	created:{

	},
	methods:{
		sendEmail: function(e){
			e.preventDefault();
			var self = this;
			this.$http.post(process.env.VUE_APP_SUPPLY_URL+'api/password/create', this.request).then(function(responce){
				self.$swal.fire("На вашу почту отправлена ссылка на страницу восстановления пароля")
			})
		}
	}
  }
</script>

<style scoped>
	.main{
		height: 74vh
	}
	.grey-bg{
		height: 100%;
	}
</style>