<template>
  <div class="grey-bg">
    <div class="container">
      <div class="inner-title">
        <h3>Заявки</h3>
      </div>
      <!-- <div class="request-list">
				<ul class="nav nav-tabs" id="client_status_tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" :id="statuses.newOrder.id" data-toggle="tab" @click="getOrders($event, 'pay')" role="tab" aria-controls="home" aria-selected="true">НА ОПЛАТУ ({{ count.pay }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :id="statuses.diagnostics.id" data-toggle="tab" @click="getOrders($event, 'finished')" role="tab" aria-controls="profile" aria-selected="false">ЗАВЕРШЁННЫЕ ЗАЯВКИ ({{ count.finished }})</a>
					</li>
				</ul>

      </div>-->

      <div class="row">
        <!-- <transition name="bounce"> -->
        <div :class="'col-sm-12'" v-if="(unselected || SearchSelected)">
          <div class="search">
            <input type="text" v-model="searchTerm" />
            <button></button>
          </div>
        </div>
      </div>
      <!-- </transition> -->
      <!--<transition name="bounce">
          <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
            <div class="pick-period-row">
              <div class="pick-period">
                <p>Выбрать период</p>
              </div>
              <div class="pick-period-box">
                <date-picker
                  format="YYYY-MM-DD"
                  value-type="timestamp"
                  @clear="clear"
                  v-model="searchTerm"
                  :lang="lang"
                  range
                  style="width: 100%"
                ></date-picker>
              </div>

              <div class="burger dropleft">
                <button
                  class="hamburger hamburger--collapse dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
                <div class="dropdown-menu">
                  <button @click="exportCSV" class="btn btn-secondary export-butons">Скачать как CSV</button>
                  <br />
                  <br />
                  <button @click="exportXLS" class="btn btn-secondary export-butons">Скачать как XLS</button>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>-->

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="table-cont" id="table-cont">
            <!-- 
                :sort-options="{
                  enabled: true,
                  initialSortBy: {field: 'bill', type: 'desc'}
                }"
            }"-->
            <vue-good-table
              ref="clientTable"
              :columns="columns"
              :rows="rows"
              :search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
              }"
              :groupOptions="{
								enabled: true,
								headerPosition: 'top'
							}"
              :pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
							}"
            >
              <!-- <template slot="table-header-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                  <button class="fancy-btn">Action</button>
                </span>
                <span v-else>{{props.formattedRow[props.column.field]}}</span>
              </template>-->
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import DatePicker from "vue2-datepicker";
export default {
  components: {
    DatePicker
  },
  created: function() {
    this.countOrders();
    this.getOrders(0, "pay");
  },
  data() {
    return {
      colClass: 6,
      unselected: true,
      count: [],
      SearchSelected: false,
      DateSelected: false,
      dates: [],
      lang: {
        days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        months: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        pickers: [
          "next 7 days",
          "next 30 days",
          "previous 7 days",
          "previous 30 days"
        ],
        placeholder: {
          date: "Select Date",
          dateRange: "Select Date Range"
        }
      },
      columns: [],
      rows: [],
      loading: {
        type: Boolean,
        default: false
      },
      searchTerm: "",
      statuses: {
        pay: {
          id: "pay",
          int: "21"
        },
        finished: {
          id: "finished",
          int: "23"
        },
        all: {
          id: "client_all",
          int: "21,23"
        }
      },
      currentStatus: "pay"
    };
  },
  watch: {
    // eslint-disable-next-line
    searchTerm: function(newValue, oldValue) {
      if (typeof newValue == "object") {
        this.unselected = false;
        this.SearchSelected = false;
        this.DateSelected = true;
        this.colClass = 12;
      }
      if (newValue == "") {
        this.unselected = true;
        this.SearchSelected = false;
        this.DateSelected = false;
        this.colClass = 6;
      }
      if (typeof newValue == "string" && newValue.length > 0) {
        this.unselected = false;
        this.DateSelected = false;
        this.SearchSelected = true;
        this.colClass = 12;
      }
    }
  },
  methods: {
    countOrders() {
      this.$http
        .get(
          `${
            process.env.VUE_APP_SUPPLY_STORAGE_URL
          }api/count/orders?statuses=${JSON.stringify(this.statuses)}`
        )
        .then(r => (this.count = r.data));
    },
    search: function(row, col, cellValue, searchTerm) {
      if (typeof searchTerm == "object") {
        if (
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) >=
            parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) &&
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <=
            parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0)) +
              86400
        ) {
          return cellValue;
        }
      } else {
        if (
          String(cellValue)
            .toLowerCase()
            .includes(searchTerm.toLowerCase())
        ) {
          return cellValue;
        }
      }
    },
    clear: function() {
      this.searchTerm = "";
    },
    exportCSV: function() {
      // eslint-disable-next-line
      const xls = new XlsExport(
        this.$refs.clientTable.processedRows[0].children,
        "export"
      );
      xls.exportToCSV("export.csv");
    },
    exportXLS: function() {
      // eslint-disable-next-line
      const xls = new XlsExport(
        this.$refs.clientTable.processedRows[0].children,
        "export"
      );
      xls.exportToXLS("export.xls");
    },
    // H: Authorization: 'Bearer '+token
    getOrders(event, status) {
      vm.$children[0].loadingShow();
      this.countOrders();
      if (event != 0) {
        if (this.currentStatus == "newOrder") {
          this.currentStatus = document.querySelector(".active");
        }
        this.currentStatus.classList.toggle("active");
        event.target.classList.toggle("active");
        this.currentStatus = event.target;
      }
      this.columns = [
        {
          label: "Номера заявок",
          field: "orders",
          html: true,
          sortable: true
        },
        {
          label: "Дефектный акт",
          field: "defects",
          html: true,
          sortable: false
        },
        {
          label: "Подробнее",
          field: "mores",
          html: true,
          sortable: false
        }
      ];
      this.rows = [];
      this.$http
        .get(process.env.VUE_APP_SUPPLY_URL + "api/accountants/orders")
        .then(responce => {
          let bills = [];
          let i = 0;
          for (const bill in responce.data) {
            let orders = [];
            let defects = [];
            let mores = [];
            let canClose = responce.data[bill].canClose;
            let closed = responce.data[bill].closed
              ? responce.data[bill].closed
              : false;
            delete responce.data[bill]["canClose"];
            let children = [];
            let order_ids = [];
            for (const index in responce.data[bill]) {
              // orders.push(
              order_ids.push(responce.data[bill][index].defect_act.order_id);
              children.push({
                orders: `Заявка #${responce.data[bill][index].defect_act.order_id}`,
                // );
                // defects.push(
                defects: `<a href="/#/accountant/order/${responce.data[bill][index].defect_act.order_id}/defect">Дефектный акт</a>`,
                // );
                // mores.push(
                mores: `<a href="/#/order/${responce.data[bill][index].defect_act.order_id}">Подробнее</a>`
              });
              // );
            }
            let billTemp = {
              mode: "span", // span means this header will span all columns
              label: `<div class="row"><div class ="col-md-6">Счёт: ${bill}</div>
              <div class ="col-md-6 text-right">
                <button onclick="vm.$children[0].getData('${JSON.stringify(
                  order_ids
                )}', 'ACW')">Общий АВР</button>
                <button onclick="vm.$children[0].getData('${JSON.stringify(
                  order_ids
                )}', 'Attachment', '${bill}')">Приложение к АВР</button>
                <button class="btn btn-primary" style="margin-right: 10px;" onclick="vm.$children[0].showParthnerBills('${bill}')">
                  Счета от поставщиков
                </button>
                ${
                  closed
                    ? ""
                    : canClose
                    ? `<button class="btn btn-primary" onclick="vm.$children[0].payBill('${bill}')">
                  Оплачено клиентом
                  </button>
                  
              </div>`
                    : "</div>"
                }`, // this is the label that'll be used for the header
              html: true, // if this is true, label will be rendered as html
              children: children
              // [
              //   { orders: orders[i], defects: defects[i], mores: mores[i] }
              // ]
            };

            bills.push(billTemp);
          }
          this.rows = bills.reverse();
          vm.$children[0].loadingHide();
        });
    }
  }
};
</script>
<style type="text/css" scoped>
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>