<template>
  <div class="container my-4">
    <h1>Дефектный акт на заявку #{{ $route.params.orderId }}</h1>
    <div class="row">
      <div class="col-md-6">
        <div>
          <a class="btn btn-primary mx-1" :href="changeLink" v-if="canChange">Изменить</a>
          <span v-if="onApprove" class="text-success">Дефектный акт на рассмотрении</span>
          <button
            class="btn btn-primary mx-1"
            @click="approveDefectAct"
            v-if="canApprove"
          >Отправить на рассмотрение</button>
          <button
            class="btn btn-primary mx-1"
            @click="RevertToStation"
            v-if="act.status_internal == 7 && !act.hasStation && role_id == 3"
          >Вернуть СТО</button>
          <button
            class="btn btn-primary mx-1"
            @click="revertToORPU"
            v-if="act.status_internal == 9 && role_id == 1"
          >Вернуть менеджеру Отдела по Работе с Партнёрами</button>
          <button
            class="btn btn-primary mx-1"
            @click="sendToOrpa"
            v-if="role_id == 3  && act.status_internal == 7 && !hasOrpa"
          >Отправить в отдел снабжения автозапчастей</button>
          <span v-if="completed" class="text-success">Счета загружены</span>
          <button
            class="btn btn-success mx-1"
            @click="complete"
            v-else-if="
                        (act.status_internal == 14 || act.status_internal == 17) && 
                        role_id == 5
                        "
          >Завершить ремонт</button>
          <button
            class="btn btn-success mx-1"
            @click="begin"
            v-else-if="
                        act.status_internal == 13 && 
                        role_id == 5
                        "
          >Начать ремонт</button>
          <button
            class="btn btn-success mx-1"
            @click="payBill"
            v-else-if="(act.status_internal == 19 || act.status_internal == 24) &&  role_id == 6"
          >Готов к оплате</button>
          <button
            class="btn btn-success mx-1"
            @click="tellOP"
            v-else-if="act.status_internal == 24 &&  (role_id == 4 || role_id == 5)"
          >Оповестить менеджера Отдела Платежей</button>
          <button
            class="btn btn-success mx-1"
            @click="revertBill"
            v-if="act.status_internal == 19 &&  role_id == 6"
          >Вернуть заявку поставщикам</button>
          <button
            class="btn btn-success mx-1"
            @click="downloadACW"
            v-if="act.status_internal >= 20 && role_id == 1
                        "
          >Скачать АВР</button>
          <button
            class="btn btn-success mx-1"
            @click="AddBillORPA"
            v-if="act.status_internal != 24 && role_id == 4 && !act.hasStation"
          >Загрузить счета</button>
          <button
            class="btn btn-success mx-1"
            @click="AddBillForRevert"
            v-if="act.status_internal == 24 && (role_id == 4 || role_id == 5)"
          >Загрузить счета</button>

          <button
            class="btn btn-success mx-1"
            @click="completeORPA"
            v-if="
                        (act.status_internal == 11) && 
                        (role_id == 4 && act.hasStation)
                        "
          >Завершить продажу деталей</button>
        </div>
      </div>
      <div class="col-md-6" v-if="act.car">
        <div class="row">
          <div class="col-md-6">
            Производитель:
            <br />
            {{ act.car.brand}}
          </div>
          <div class="col-md-6">
            Модель:
            <br />
            {{ act.car.model }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            VIN-номер:
            <br />
            {{ act.car.vin_number}}
          </div>
          <div class="col-md-6">
            Госномер:
            <br />
            {{ act.car.number }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Запчасти</h3>
      <div class="col-md-6 offset-md-6 d-flex" v-if="role_id == 1 &&  canApprove">
        <input
          type="number"
          min="0"
          class="form-control mr-2"
          style="width: 80px"
          placeholder="%"
          v-model="markupPercentage"
        />
        <button
          class="btn btn-primary mr-2"
          v-if="role == 1"
          @click="computeMarkup"
        >Расчитать наценку</button>
        <button
          class="btn btn-primary"
          @click="computeMarkupManually"
          v-if="markupComputed"
        >Расчитать наценку вручную</button>
      </div>
      <div class="col-md-6 offset-md-6 d-flex" v-if="role_id == 2">
        <button
          class="btn btn-primary mr-2"
          @click="applyDefectAct"
          v-if="!approved"
        >Принять дефектный акт</button>
        <button
          class="btn btn-danger"
          @click="rejectDefectAct"
          v-if="!approved"
        >Отклонить дефектный акт</button>
      </div>
      <div v-if="(act.status_internal == 9 || act.status_internal == 15) && role_id == '1'">
        Отметить все
        <input type="checkbox" @click="chooseAll" :checked="checked" />
      </div>
    </div>
    <div v-for="(i, index) in act.parts" :key="index" class="my-3">
      <div v-if="i.shop && role == 4">Магазин {{ i.shop.name }}</div>
      <div v-if="!i.shop && role != 2">СТО: {{ i.station }}</div>
      <div class="table-responsive table-bordered">
        <table class="table">
          <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th v-if="role_id != 2">Цена</th>
            <th v-if="role_id != 2">Итоговая цена</th>
            <th v-if="role_id != 5 && role_id != 3 && role_id != 4">
              Цена
              <span v-if="role_id != 2">с наценкой</span>
            </th>
            <th v-if="role_id != 5 && role_id != 3 && role_id != 4">
              Итоговая цена
              <span v-if="role_id != 2">с наценкой</span>
            </th>
            <th v-if="role_id != 5 && act.status_internal >= 10">Комментарий</th>
            <th v-if="(role_id == 1 || role_id == 2) && !(role_id == 2 && approved)">Принять</th>
          </tr>
          <tr
            v-for="(j, subIndex) in i.parts"
            :key="subIndex"
            :style="rowLine(j)"
          >
            <td><span v-if="(j.rejected_at || !j.applied_at) && act.status_internal">Дата отказа: <br />{{ j.rejected_at }} </span><br /> {{ j.name }}</td>
            <td>{{ j.amount }} шт.</td>
            <td v-if="role_id != 2">{{ j.price }} тг.</td>
            <td v-if="role_id != 2">{{ j.amount * j.price }} тг.</td>
            <td v-if="role_id != 5 && role_id != 4 && j.price_with_markup != null">
              <input
                v-if="role_id == 1 && canApprove"
                class="form-control"
                type="number"
                min="0"
                v-model="j.price_with_markup"
              />
              <span v-else>{{ j.price_with_markup }}</span>
            </td>
            <td
              v-if="role_id != 5 && role_id != 4 && j.price_with_markup != null"
            >{{ j.price_with_markup * j.amount }} тг.</td>

            <td v-if="act.status_internal >= 10 && role_id != 5">
              <div v-if="!j.comment">
                <input
                  type="text"
                  v-if="role_id == 2"
                  class="form-control"
                  v-model="comments.parts[j.defectPartId]"
                />
              </div>
              <div v-else-if="j.comment && role_id != 5">{{ j.comment }}</div>
            </td>
            <td v-if="(role_id == 1) && !(role_id == 2 && approved)">
              <input
                :ref="`checkbox_apply_${j.defectPartId}`"
                :id="`checkbox_apply_${j.defectPartId}`"
                type="checkbox"
                :partId="j.defectPartId"
                :checked="j.applied_at ? true : false"
                @click="applyPart"
              />
            </td>
            <td v-if="role_id == 2 && !approved">
              <input
                type="checkbox"
                :partId="j.defectPartId"
                :checked="j.rejected_at ? false : true"
                @click="applyPart"
              />
            </td>
          </tr>
          <tr>
            <td>Итого:</td>
            <td>{{ totalAmount[index] }} шт.</td>
            <td v-if="role_id != 2"></td>
            <td v-if="role_id != 2">{{ totalPrice[index] }} тг.</td>
            <td v-if="role_id != 5 && role_id != 4 && role_id != 3" style="border-right: none"></td>
            <td
              v-if="role_id != 5 && role_id != 4 && role_id != 3"
              style="border-left: none; text-align: right"
            >{{ totalPriceWithMarkUp[index] }} тг.</td>
          </tr>
        </table>
      </div>
    </div>
    <div v-if="act.works && act.works.length > 0">
      <h3>Работы</h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th v-if="role_id != 2">Цена</th>
            <th v-if="role_id != 2">Итоговая цена</th>
            <th v-if="role_id != 5 && role_id != 3">
              Цена
              <span v-if="role_id != 2">с наценкой</span>
            </th>
            <th v-if="role_id != 5 && role_id != 3">
              Итоговая цена
              <span v-if="role_id != 2">с наценкой</span>
            </th>
            <th v-if="role_id != 5 && act.status_internal >= 10">Комментарий</th>
            <th v-if="(role_id == 1 || role_id == 2) && !(role_id == 2 && approved)">Принять</th>
          </tr>
          <tr
            v-for="(i, index) in act.works"
            :key="index"
            :style="rowLine(i)"
          >
            <td>{{ i.name }}</td>
            <td>{{ i.amount }} шт.</td>
            <td v-if="role_id != 2">{{ i.price }} тг.</td>
            <td v-if="role_id != 2">{{ i.amount * i.price }} тг.</td>
            <td v-if="role_id != 5 && i.price_with_markup != null">
              <input
                class="form-control"
                type="number"
                min="0"
                v-model="i.price_with_markup"
                v-if="role_id == 1 && canApprove"
              />
              <div v-else>{{ Math.round(i.price_with_markup) }}</div>
            </td>
            <td
              v-if="role_id != 5 && i.price_with_markup != null"
            >{{ Math.round(i.price_with_markup * i.amount) }} тг.</td>
            <td v-if="act.status_internal >= 10 && role_id != 5">
              <div v-if="!i.comment">
                <input
                  type="text"
                  v-if="role_id == 2"
                  class="form-control"
                  v-model="comments.works[i.defectWorkId]"
                />
              </div>
              <div v-else-if="i.comment && (role_id == 1 || role_id == 2)">{{ i.comment }}</div>
            </td>
            <td v-if="role_id == 1 && !approved">
              <input
                :ref="`checkbox_apply_${i.defectWorkId}`"
                :id="`checkbox_apply_${i.defectWorkId}`"
                type="checkbox"
                :workId="i.defectWorkId"
                :checked="i.applied_at ? true : false"
                @click="applyWork"
              />
            </td>
            <td v-if="role_id == 2 && !approved">
              <input
                type="checkbox"
                :workId="i.defectWorkId"
                :checked="i.rejected_at ? false : true"
                @click="applyWork"
              />
            </td>
          </tr>
          <tr>
            <td>Итого:</td>
            <td>{{ totalAmountWorks }} шт.</td>
            <td v-if="role_id != 2"></td>
            <td v-if="role_id != 2">{{ totalPriceWorks }} тг.</td>
            <td v-if="role_id != 5 && role_id != 3" style="border-right: none"></td>
            <td
              v-if="role_id != 5 && role_id != 3"
              style="border-left: none; text-align: right"
            >{{ totalPriceWithMarkUpWorks }} тг.</td>
          </tr>
        </table>
        <div class="mt-2">
          <span v-if="parseInt(role_id, 10) != 2">Итого: {{ overalWithoutMarkup }} тг.</span>
          <br />
          <span
            v-if="parseInt(role_id, 10) != 5 && parseInt(role_id, 10) != 3"
          >Итого <span v-if="parseInt(role_id, 10) != 2">с наценкой</span>: {{ overalWithMarkup }} тг.</span>
        </div>
      </div>
    </div>
    <div
      v-if="(role_id == 3 || role_id == 4 || role_id == 5 || role_id == 6 || role_id == 7) && bills.length > 0"
    >
      Счета:
      <br />
      <div v-for="(bill, i) in bills" :key="i">
        <a
          :href="`${ url }storage/${ JSON.parse(bill.link).download_link }`"
        >{{ JSON.parse(bill.link).original_name }}</a> &nbsp;
        <i
          class="fas fa-ban"
          @click="removeBill(bill)"
          v-if="role_id == 5 || role_id == 4"
        >удалить</i>
        <!-- <i class="fas fa-edit" @click="changeBill(bill)"></i> -->
        Оплачено: {{ bill.paid_at }}
      </div>
    </div>
  </div>
</template>

<script>
import { truncate } from "fs";

export default {
  components: {},
  data() {
    return {
      overalWithMarkup: 0,
      overalWithoutMarkup: 0,
      bills: [],
      url: process.env.VUE_APP_SUPPLY_STORAGE_URL,
      comments: {
        parts: {},
        works: {}
      },
      hasOrpa: false,
      changeLink: `#/order/${this.$route.params.orderId}/defect/edit`,
      act: {},
      completed: false,
      approved: false,
      role_id: localStorage.getItem("role"),
      roles: ["orks", "clients", "orpus", "orpas", "stations", "ops"],
      markupPercentage: null,
      markupComputed: false,
      rejected: false,
      status_internal: 0,
      totalAmount: [],
      totalPrice: [],
      totalPriceWithMarkUp: [],
      totalAmountWorks: 0,
      totalPriceWorks: 0,
      totalPriceWithMarkUpWorks: 0,
      checked: false,
      status_internal: null
    };
  },
  created: function() {
    this.fetchDefectAct();
  },
  methods: {
    rowLine(i){
      let style = ''
      if(i.rejected_at && this.act.status_internal >= 10){
        style += 'text-decoration: line-through;';
      }
      if(!i.applied_at && this.act.status_internal >=10){
        style += 'text-decoration: wavy red;';
      }
      return style;
    },
    tellOP(){
      this.$swal({
        title: 'Вы уверены?',
        text: `Вы собираетесь сообщить Отделу Платежей что исправили данные по заявке ${this.$route.params.orderId}`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Да, уверен',
      })
      .then(() => {
        this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/op/${this.role_id}/${this.$route.params.orderId}`)
          .then(response => {
            this.$swal.fire(
              'Уcпешно!',
              'Менеджер менеджер Отдела Платежей был оповещён',
              'success'
            );
          })
          .catch(error => {
            this.$swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        })
    },
    RevertToStation(){
      this.$swal({
        title: 'Вы уверены?',
        text: `Вы собираетесь вернуть заявку ${this.$route.params.orderId} на СТО`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Да, вернуть',
      })
      .then(() => {
        this.$http.put(`${process.env.VUE_APP_SUPPLY_URL}api/orpus/orders/revert/${this.$route.params.orderId}`)
          .then(response => {
            this.$swal.fire(
              'Уcпешно!',
              'Заявка была возвращена.',
              'success'
            );
            this.act.status_internal = response.data.status_changed;
          })
          .catch(error => {
            this.$swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        })
    },
    revertToORPU(){
      this.$swal({
        title: 'Вы уверены?',
        text: `Вы собираетесь вернуть заявку ${this.$route.params.orderId} на СТО`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Да, вернуть',
      })
      .then(() => {
        this.$http.put(`${process.env.VUE_APP_SUPPLY_URL}api/orks/orders/revert/${this.$route.params.orderId}`)
          .then(response => {
            this.$swal.fire(
              'Уcпешно!',
              'Заявка была возвращена',
              'success'
            );
            this.act.status_internal = response.data.status_changed;
          })
          .catch(error => {
            this.$swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        })
    },
    removeBill(bill){
      this.$swal({
        title: 'Вы уверены?',
        text: 'Вы собираетесь удалить счёт ' + JSON.parse(bill.link).original_name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Да, удалить его',
      })
      .then(() => {
        this.$http.delete(`${process.env.VUE_APP_SUPPLY_URL}api/media/${bill.id}`)
          .then(response => {
            this.$swal.fire(
              'Уcпешно удалено!',
              'Счёт был успешно удалён.',
              'success'
            )
          })
          .catch(error => {
            this.$swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        })
    },
    changeBill(bill){
      this.$swal({
        title: 'Вы уверены?',
        text: 'Вы собираетесь изменить счёт ' + JSON.parse(bill.link).original_name,
        input: "file",
        inputAttributes: {
          id: "billsChange"
        },
        showCancelButton: true,
        confirmButtonText: "Завершить",
        preConfirm: data => {
          const files = document.querySelector("input#billsChange.swal2-file")
            .files;          
          let dForm = new FormData();
          // for (let i = 0; i < files.length; i++) {
            dForm.append(`bill`, files[0]);
          // }

          return this.$http
            .put(
              `${process.env.VUE_APP_SUPPLY_URL}api/media/${bill.id}`,
              dForm,
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              if (!response.status == 200) {
                throw new Error(response.statusText);
              }
            })
            .catch(error => {
              this.$swal.showValidationMessage(`Request failed: ${error}`);
            });
        },
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Да, изменить его',
      })
    },
    getTextForACW(row, column, works, parts){
      let table = [
        { 39: "Приложение 50" },
        { 39: "к приказу Министра финансов" },
        { 39: "Республики Казахстан" },
        { 39: "от 20 декабря 2012 года № 562" },
        {},
        { 46: "Форма Р-1" },
        {},
        { 44: "ИИН/БИН" },
        { 0: "Заказчик", 4: this.act.company.name+", "+this.act.company.jur_address, 42: this.act.company.bin },
        { 4: "полное наименование, адрес, данные о средствах связи" },
        { 0: "Исполнитель", 4: 'Товарищество с ограниченой ответственностью "Supply Group KZ",050000, Республика Казахстан, г.Алматы, Бостандыкский р-н, мкр. Коктем-3, д.13, кв.61', 42: "170740034598" },
        { 4: "полное наименование, адрес, данные о средствах связи" },
        { 0: "Договор (контракт)", 5: "Договор №"+this.act.contract.number_of_сontract+" от "+ this.moment(this.act.contract.signed_at).format('YYYY-MM-DD'), 33: "Номер документа", 38: "Дата составления" },
        {},
        { 0: "АКТ ВЫПОЛНЕННЫХ РАБОТ (ОКАЗАННЫХ УСЛУГ) по машине " + this.act.car.model + " " +  this.act.car.number, 33: "", 38: "" },
        {},
        { 0: "Номер по порядку", 2: "Наименование работ (услуг) (в разрезе их подвидов в соответствии с технической спецификацией, заданием, графиком выполнения работ (услуг) при их наличии)", 15: "Дата выполнения работ (оказания услуг)", 20: "Сведения об отчете о научных исследованиях, маркетинговых, консультационных и прочих услугах (дата, номер, количество страниц) (при их наличии)", 29: "Единица измерения", 32: "Выполнено работ (оказано услуг)" },
        { 32: "количество", 37: "цена за единицу", 43: "стоимость" },
        { 0: "1", 2: "2", 15: "3", 20: "4", 29: "5", 32: "6", 37: "7", 43: "8" },

        ...works,
        ...parts,

        { 30: "Итого", 32: this.totalAmountWorks+this.totalAmount.reduce((a, b) => a + b, 0), 43: this.totalPriceWithMarkUpWorks+this.totalPriceWithMarkUp.reduce((a, b) => a + b, 0)},
        {},
        {},
        { 0: "Сведения об использовании запасов, полученных от заказчика" },
        { 18: "наименование, количество, стоимость" },
        {},
        { 0: "Приложение: Перечень документации, в том числе отчет(ы) о маркетинговых, научных исследованиях, консультационных и прочих услугах (обязательны при его" },
        { 3: "(их) наличии) на _____________ страниц" },
        {},
        {},
        { 0: "Сдал (Исполнитель)", 10: "/", 15: "/", 25: "Принял (Заказчик)", 35: "/", 41: "/" },
        { 5: "должность", 11: "подпись", 17: "расшифровка подписи", 31: "должность", 37: "подпись", 43: "расшифровка подписи" },
        {},
        { 1: "М.П.", 26: "Дата подписания (принятия) работ (услуг)", 38: "" },
        {},
        { 27: "М.П." }
      ]
      return table[row] ? (table[row][column] ? table[row][column] : "") : "";
    },
    payBill(){
			this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/ops/orders/' + this.$route.params.orderId + '/defect-acts/apply')
			.then(responce => {
				this.$swal.fire(
					'Успешно!',
					`Сохранено`,
					'success'
        )
        this.act.status_internal=20;
			})
			.catch(error => this.$swal.fire(
					'Неудача!',
					`Не сохранено`,
					'error'
				)
			)
    },
    revertBill(){
      vm.$children[0].loadingShow();
      this.$http.post(process.env.VUE_APP_SUPPLY_URL + 'api/ops/orders/' + this.$route.params.orderId + '/defect-acts/reject')
			.then(responce => {
				this.$swal.fire(
					'Успешно!',
					`Сохранено`,
					'success'
        )
        this.act.status_internal = 24;
			})
			.catch(error => this.$swal.fire(
					'Неудача!',
					`Не сохранено`,
					'error'
				)
			)
    },
    downloadACW(){
      let formed_works =[];
      let formed_parts =[];
      let indexRows = 0;
      let merge = [{ s: { r: 0, c: 39 }, e: { r: 0, c: 48 } }, { s: { r: 1, c: 39 }, e: { r: 1, c: 48 } }, { s: { r: 2, c: 39 }, e: { r: 2, c: 48 } }, { s: { r: 3, c: 39 }, e: { r: 3, c: 48 } }, { s: { r: 5, c: 46 }, e: { r: 5, c: 48 } }, { s: { r: 7, c: 44 }, e: { r: 7, c: 46 } }, { s: { r: 8, c: 0 }, e: { r: 8, c: 3 } }, { s: { r: 8, c: 4 }, e: { r: 8, c: 35 } }, { s: { r: 8, c: 42 }, e: { r: 8, c: 48 } }, { s: { r: 9, c: 4 }, e: { r: 9, c: 35 } }, { s: { r: 10, c: 0 }, e: { r: 10, c: 3 } }, { s: { r: 10, c: 4 }, e: { r: 10, c: 35 } }, { s: { r: 10, c: 42 }, e: { r: 10, c: 48 } }, { s: { r: 11, c: 4 }, e: { r: 11, c: 35 } }, { s: { r: 12, c: 0 }, e: { r: 12, c: 4 } }, { s: { r: 12, c: 5 }, e: { r: 12, c: 28 } }, { s: { r: 12, c: 33 }, e: { r: 13, c: 37 } }, { s: { r: 12, c: 38 }, e: { r: 13, c: 42 } }, { s: { r: 14, c: 0 }, e: { r: 14, c: 32 } }, { s: { r: 14, c: 33 }, e: { r: 14, c: 37 } }, { s: { r: 14, c: 38 }, e: { r: 14, c: 42 } }, { s: { r: 16, c: 0 }, e: { r: 17, c: 1 } }, { s: { r: 16, c: 2 }, e: { r: 17, c: 14 } }, { s: { r: 16, c: 15 }, e: { r: 17, c: 19 } }, { s: { r: 16, c: 20 }, e: { r: 17, c: 28 } }, { s: { r: 16, c: 29 }, e: { r: 17, c: 31 } }, { s: { r: 16, c: 32 }, e: { r: 16, c: 48 } }, { s: { r: 17, c: 32 }, e: { r: 17, c: 36 } }, { s: { r: 17, c: 37 }, e: { r: 17, c: 42 } }, { s: { r: 17, c: 43 }, e: { r: 17, c: 48 } }, { s: { r: 18, c: 0 }, e: { r: 18, c: 1 } }, { s: { r: 18, c: 2 }, e: { r: 18, c: 14 } }, { s: { r: 18, c: 15 }, e: { r: 18, c: 19 } }, { s: { r: 18, c: 20 }, e: { r: 18, c: 28 } }, { s: { r: 18, c: 29 }, e: { r: 18, c: 31 } }, { s: { r: 18, c: 32 }, e: { r: 18, c: 36 } }, { s: { r: 18, c: 37 }, e: { r: 18, c: 42 } }, { s: { r: 18, c: 43 }, e: { r: 18, c: 48 } }];
      if(this.act.works){
        this.act.works.forEach((element, index) => {
          if(!(element.rejected_at || !element.applied_at)){
            formed_works.push({0: indexRows+1, 2: element.name, 15: this.moment(this.act.order.completed_at).format('YYYY-MM-DD'), 29: "Усл.", 32 : element.amount, 37: element.price_with_markup, 43: element.amount*element.price_with_markup })
            merge.push({ s: { r: 18+indexRows+1, c: 0 }, e: { r: 18+indexRows+1, c: 1 } }, { s: { r: 18+indexRows+1, c: 2 }, e: { r: 18+indexRows+1, c: 14 } }, { s: { r: 18+indexRows+1, c: 15 }, e: { r: 18+indexRows+1, c: 19 } }, { s: { r: 18+indexRows+1, c: 20 }, e: { r: 18+indexRows+1, c: 28 } }, { s: { r: 18+indexRows+1, c: 29 }, e: { r: 18+indexRows+1, c: 31 } }, { s: { r: 18+indexRows+1, c: 32 }, e: { r: 18+indexRows+1, c: 36 } }, { s: { r: 18+indexRows+1, c: 37 }, e: { r: 18+indexRows+1, c: 42 } }, { s: { r: 18+indexRows+1, c: 43 }, e: { r: 18+indexRows+1, c: 48 } })
            indexRows = indexRows + 1;
          }
        })
      }
      if(this.act.parts){        
        for (let i = 0; i < this.act.parts.length; i++) {
          this.act.parts[i].parts.forEach((element, index) => {
            if(!(element.rejected_at || !element.applied_at)){
              formed_parts.push({
              0: indexRows+1, 
              2: element.name, 
              15: '', 
              29: "Усл.", 
              32: element.amount, 
              37: element.price_with_markup, 
              43: element.amount*element.price_with_markup })
            merge.push({ s: { r: 18+indexRows+1, c: 0 }, e: { r: 18+indexRows+1, c: 1 } }, { s: { r: 18+indexRows+1, c: 2 }, e: { r: 18+indexRows+1, c: 14 } }, { s: { r: 18+indexRows+1, c: 15 }, e: { r: 18+indexRows+1, c: 19 } }, { s: { r: 18+indexRows+1, c: 20 }, e: { r: 18+indexRows+1, c: 28 } }, { s: { r: 18+indexRows+1, c: 29 }, e: { r: 18+indexRows+1, c: 31 } }, { s: { r: 18+indexRows+1, c: 32 }, e: { r: 18+indexRows+1, c: 36 } }, { s: { r: 18+indexRows+1, c: 37 }, e: { r: 18+indexRows+1, c: 42 } }, { s: { r: 18+indexRows+1, c: 43 }, e: { r: 18+indexRows+1, c: 48 } })
            indexRows = indexRows + 1;
            }
          })
        }
      }
      let firstRowAfterWorks = 19+indexRows;
      merge.push(
        { s: { r: firstRowAfterWorks, c: 30 }, e: { r: firstRowAfterWorks, c: 31 } }, 
        { s: { r: firstRowAfterWorks, c: 32 }, e: { r: firstRowAfterWorks, c: 36 } }, 
        { s: { r: firstRowAfterWorks, c: 37 }, e: { r: firstRowAfterWorks, c: 42 } }, 
        { s: { r: firstRowAfterWorks, c: 43 }, e: { r: firstRowAfterWorks, c: 48 } },
        { s: { r: firstRowAfterWorks+3, c: 0 }, e: { r: firstRowAfterWorks+3, c: 17 } },
        { s: { r: firstRowAfterWorks+3, c: 18 }, e: { r: firstRowAfterWorks+3, c: 48 } },
        { s: { r: firstRowAfterWorks+4, c: 18 }, e: { r: firstRowAfterWorks+4, c: 48 } },
        { s: { r: firstRowAfterWorks+6, c: 0 }, e: { r: firstRowAfterWorks+6, c: 45 } },
        { s: { r: firstRowAfterWorks+7, c: 3 }, e: { r: firstRowAfterWorks+7, c: 15 } },
        { s: { r: firstRowAfterWorks+7, c: 16 }, e: { r: firstRowAfterWorks+7, c: 48 } },
        { s: { r: firstRowAfterWorks+10, c: 0 }, e: { r: firstRowAfterWorks+10, c: 5 } },
        { s: { r: firstRowAfterWorks+10, c: 25 }, e: { r: firstRowAfterWorks+10, c: 30 } },
        { s: { r: firstRowAfterWorks+11, c: 5 }, e: { r: firstRowAfterWorks+11, c: 8 } },
        { s: { r: firstRowAfterWorks+11, c: 11 }, e: { r: firstRowAfterWorks+11, c: 14 } },
        { s: { r: firstRowAfterWorks+11, c: 17 }, e: { r: firstRowAfterWorks+11, c: 24 } },
        { s: { r: firstRowAfterWorks+11, c: 31 }, e: { r: firstRowAfterWorks+11, c: 35 } },
        { s: { r: firstRowAfterWorks+11, c: 37 }, e: { r: firstRowAfterWorks+11, c: 40 } },
        { s: { r: firstRowAfterWorks+11, c: 43 }, e: { r: firstRowAfterWorks+11, c: 48 } },
      );
      var wb = XLSX.utils.book_new();
        let test = [];
        for (let row = 0; row < (firstRowAfterWorks + formed_parts.length+10); row++) {
            let temp = {};
            for (let column = 0; column < 49; column++) {
                temp[column] = this.getTextForACW(row,column, formed_works, formed_parts);
            }
            test.push(temp);
        }
        let ws = XLSX.utils.json_to_sheet(test, { skipHeader: true });
        

        ws["!merges"] = merge;
        var wscols = [
            { wch: 3 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 3 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 },
        ];

        ws['!cols'] = wscols;
        XLSX.utils.book_append_sheet(wb, ws, "ACW");
        for (const cell in wb.Sheets.ACW) {
            if (wb.Sheets.ACW.hasOwnProperty(cell) && cell != "!cols" && cell != "!merges" && cell != "!ref") {
                const element = wb.Sheets.ACW[cell];
                element.s = {
                    alignment: {
                        wrapText: true, // any truthy value here
                    },
                };
            }
        } 
        XLSX.writeFile(wb, 'АВР по заявке '+ this.act.order.id +'.xlsb');
    },
    getBills() {
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/${
            this.roles[this.role_id - 1]
          }/orders/${this.$route.params.orderId}/bills`
        )
        .then(r => {
          this.bills = r.data;
        });
    },
    chooseAll() {
      for (const i in this.$refs) {
        this.$refs[i][0].click();
      }
    },
    overalPrice() {
      if(this.act.parts){
        for (const item of this.act.parts) {
          for (const part of item.parts) {
            if(!part.rejected_at) {
              switch(this.role_id) {
                case '2':
                  this.overalWithMarkup += part.applied_at ? part.price_with_markup * part.amount : 0;
                  break;
                case '5':
                  this.overalWithoutMarkup += part.applied_at ? part.price * part.amount : 0;
                  break;
                default:
                  this.overalWithMarkup += part.applied_at ? part.price_with_markup * part.amount : 0;
                  this.overalWithoutMarkup += part.applied_at ? part.price * part.amount : 0;
              }
            } 
          }
        }
      }
      
      if(this.act.works){
        for (const work of this.act.works) {
          if(!work.rejected_at) {
            switch(this.role_id) {
              case '2':
                this.overalWithMarkup += work.applied_at ?  work.price_with_markup * work.amount : 0;
                break;
              case '5':
                this.overalWithoutMarkup += work.applied_at ?  work.price * work.amount : 0;
                break;
              default:
                this.overalWithMarkup += work.applied_at ?  work.price_with_markup * work.amount : 0;
                this.overalWithoutMarkup += work.applied_at ?  work.price * work.amount : 0;
            }
          }
        }
      }
    },
    sendToOrpa() {
      this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/orpus/orders/${this.$route.params.orderId}/send-to-orpa`)
        .then(r => this.act.status_internal = r.data.status);
    },
    applyPart(e) {
      const partId = e.target.getAttribute("partId");
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/${
            this.roles[this.role_id - 1]
          }/defect-acts/parts/${partId}/apply`
        )
        .then(r => {
          let findPart = this.act.parts[0].parts.filter(
            item => item.defectPartId == r.data.id
          )[0];
          if (this.role_id == 1) {
            findPart.applied_at = r.data.applied_at;
          } else {
            findPart.rejected_at = r.data.rejected_at;
          }
          
          if(!e.target.checked) {
            this.checked = false;
          }
        });
    },
    applyWork(e) {
      const workId = e.target.getAttribute("workId");
      const tr = e.target.parentNode.parentNode;
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/${
            this.roles[this.role_id - 1]
          }/defect-acts/works/${workId}/apply`
        )
        .then(r => {
          let findWork = this.act.works.filter(
            item => item.defectWorkId == r.data.id
          )[0];
          if (this.role_id == 1) {
            findWork.applied_at = r.data.applied_at;
          } else {
            findWork.rejected_at = r.data.rejected_at;
            const tr = e.target.parentNode.parentNode;
            if (r.data.rejected_at) {
              tr.style.textDecoration = "line-through";
            } else {
              tr.style = "";
            }
          }
        });
    },
    applyDefectAct() {
      vm.$children[0].loadingShow();
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/clients/orders/${this.$route.params.orderId}/defect-acts/apply`, { comments: this.comments }
        )
        .then(r => {
          this.act.status_internal = r.data.status_changed;
          this.approved = true;
          vm.$children[0].loadingHide();
        });
    },
    rejectDefectAct() {
      vm.$children[0].loadingShow();
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/clients/orders/${this.$route.params.orderId}/defect-acts/reject`, { comments: this.comments }
        )
        .then(r => {
          this.act.status_internal = r.data.status_changed;
          this.rejected = true;
          vm.$children[0].loadingHide();
        });
    },
    approveDefectAct() {
      if (localStorage.getItem("role") == 4) {
        this.$swal
          .fire({
            title: "Подтвердите действие",
            text: `Отправить на рассмотрение`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Закрыть",
            confirmButtonText: "Отправить!"
          })
          .then(result => {
            if (result.value) {
              vm.$children[0].loadingShow();
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.orderId}/defect-acts/approve`
                )
                .then(response => {
                  this.approved = true;
                  this.act.status_internal = response.data.status;
                  vm.$children[0].loadingHide();
                  this.$swal.fire("Успех", "Успешно отправлено", "success");
                });
            }
          });
      } else if (this.role == 3) {
        this.$swal
          .fire({
            title: "Подтвердите действие",
            text: `Отправить на рассмотрение`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Закрыть",
            confirmButtonText: "Отправить!"
          })
          .then(result => {
            if (result.value) {
              vm.$children[0].loadingShow();
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/orpus/orders/${this.$route.params.orderId}/approve`
                )
                .then(response => {
                  this.act.status_internal = response.data.status_changed;
                  this.approved = true;
                  vm.$children[0].loadingHide();
                  this.$swal.fire("Успех", "Успешно отправлено", "success");
                });
            }
          });
      } else if (this.role == 5) {
        this.$swal
          .fire({
            title: "Подтвердите действие",
            text: `Отправить на рассмотрение`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Закрыть",
            confirmButtonText: "Отправить!"
          })
          .then(result => {
            if (result.value) {
              vm.$children[0].loadingShow();
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.orderId}/defect-acts/approve`
                )
                .then(response => {
                  this.approved = true;
                  this.act.status_internal = response.data.status_changed;
                  vm.$children[0].loadingHide();
                  this.$swal.fire("Успех", "Успешно отправлено", "success");
                });
            }
          });
      } else {
        this.$swal
          .fire({
            title: "Подтвердите действие",
            text: `Отправить на рассмотрение`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Закрыть",
            confirmButtonText: "Отправить!"
          })
          .then(result => {
            if (result.value) {
              vm.$children[0].loadingShow();
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/orks/orders/${this.$route.params.orderId}/approve`
                )
                .then(response => {
                  this.act.status_internal = response.data.status_changed;
                  this.approved = true;
                  vm.$children[0].loadingHide();
                  this.$swal.fire("Успех", "Успешно отправлено", "success");
                });
            }
          });
      }
    },
    completeORPA() {
      this.$swal.fire({
        title: "Прикрепите счет",
        input: "file",
        inputAttributes: {
          name: "bills[]",
          multiple: "multiple",
          id: "billsUpload"
        },
        showCancelButton: true,
        confirmButtonText: "Завершить",
        preConfirm: data => {
          const files = document.querySelector("input#billsUpload.swal2-file")
            .files;
          const d = new FormData();
          for (let i = 0; i < files.length; i++) {
            d.append(`bill[${i}]`, files[i]);
          }
          return this.$http
            .post(
              `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.orderId}/attach-files`,
              d,
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              if (!response.status == 200) {
                throw new Error(response.statusText);
              }
              this.completed = true;
            })
            .catch(error => {
              this.$swal.showValidationMessage(`Request failed: ${error}`);
            });
        }
      });
    },
    AddBillORPA() {
      this.$swal.fire({
        title: "Прикрепите счет",
        input: "file",
        inputAttributes: {
          name: "bills[]",
          multiple: "multiple",
          id: "billsUpload"
        },
        showCancelButton: true,
        confirmButtonText: "Завершить",
        preConfirm: data => {
          const files = document.querySelector("input#billsUpload.swal2-file")
            .files;
          const d = new FormData();
          for (let i = 0; i < files.length; i++) {
            d.append(`bill[${i}]`, files[i]);
          }
          d.append('hasStation', true);
          return this.$http
            .post(
              `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.orderId}/attach-files`,
              d,
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              if (!response.status == 200) {
                throw new Error(response.statusText);
              }
              this.completed = true;
            })
            .catch(error => {
              this.$swal.showValidationMessage(`Request failed: ${error}`);
            });
        }
      });
    },
    AddBillForRevert() {
      this.$swal.fire({
        title: "Прикрепите счет",
        input: "file",
        inputAttributes: {
          name: "bills[]",
          multiple: "multiple",
          id: "billsUpload"
        },
        showCancelButton: true,
        confirmButtonText: "Завершить",
        preConfirm: data => {
          const files = document.querySelector("input#billsUpload.swal2-file")
            .files;
          const d = new FormData();
          for (let i = 0; i < files.length; i++) {
            d.append(`bill[${i}]`, files[i]);
          }
          d.append(`order`, this.$route.params.orderId);
          return this.$http
            .post(
              `${process.env.VUE_APP_SUPPLY_URL}api/media`,
              d,
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              if (!response.status == 200) {
                throw new Error(response.statusText);
              }
              this.completed = true;
            })
            .catch(error => {
              this.$swal.showValidationMessage(`Request failed: ${error}`);
            });
        }
      });
    },
    complete() {
      this.$swal.fire({
        title: "Прикрепите счёт",
        html:
          'Документы <input type="file" id="billsUpload" name="bills[]" multiple="multiple" class="swal2-file">' +
          'Видео до <input type="file" id="videosUpload" name="videos[]" multiple="multiple" class="swal2-file">' +
          'Видео после <input type="file" id="imagesUpload" name="images[]" multiple="multiple" class="swal2-file">',
        showCancelButton: true,
        confirmButtonText: "Завершить",
        preConfirm: data => {
          const bills = document.querySelector(
            "input#billsUpload.swal2-file"
          ).files;
          const videos = document.querySelector('input#videosUpload.swal2-file').files;
          const photos = document.querySelector('input#imagesUpload.swal2-file').files;
          
          const d = new FormData();
          for (let i = 0; i < bills.length; i++) {
            d.append(`bill[${i}]`, bills[i]);
          }

          for(let i = 0; i < videos.length; i++) {
            d.append(`videos[${i}]`, videos[i]);
          }

          for(let i = 0; i < photos.length; i++) {
            d.append(`images[${i}]`, photos[i]);
          }

          return this.$http
            .post(
              process.env.VUE_APP_SUPPLY_URL +
                "api/stations/orders/" +
                this.$route.params.orderId +
                "/complete",
                d
            )
            .then(response => {
              this.completed = true;
            })
            .catch(error => {
              this.$swal.showValidationMessage(`Request failed: ${error}`);
            });
        }
      });
    },
    begin () {
      vm.$children[0].loadingShow();
      this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.orderId}/start`).then(response => {
        this.act.status_internal = 14;
        vm.$children[0].loadingHide();
      })
    },
    totalPricesParts(){
        this.act.parts.forEach(element => {
          this.totalAmount.push(
            element.parts
              .map(item => this.act.status_internal > 10 ? (item.rejected_at || !item.applied_at ? 0 : item.amount) : item.amount)
              .reduce((prev, next) => prev + next)
          );
          this.totalPrice.push(
            element.parts
              .map(item => this.act.status_internal > 10 ? (item.rejected_at || !item.applied_at ? 0 : item.price * item.amount) : item.price * item.amount)
              .reduce((prev, next) => prev + next)
          );
          this.totalPriceWithMarkUp.push(
            element.parts
              .map(item => this.act.status_internal > 10 ? (item.rejected_at || !item.applied_at ? 0 : item.price_with_markup * item.amount) : 0)
              .reduce((prev, next) => prev + next)
          );
          if(parseInt(this.role_id, 10) == 1 || parseInt(this.role_id, 10) == 7){
            this.isChecked();
          }
      })
    },
    totalPricesWorks(){
      this.totalAmountWorks = this.act.works
        .map(item => this.act.status_internal > 10 ? (item.rejected_at || !item.applied_at ? 0 : item.amount) : item.amount)
        .reduce((prev, next) => prev + next);

      this.totalPriceWorks = this.act.works
        .map(item => this.act.status_internal > 10 ? (item.rejected_at || !item.applied_at ? 0 : item.price * item.amount) : item.price * item.amount)
        .reduce((prev, next) => prev + next);

      this.totalPriceWithMarkUpWorks = this.act.works
        .map(item => this.act.status_internal > 10 ? (item.rejected_at || !item.applied_at ? 0 : item.price_with_markup * item.amount) : 0)
        .reduce((prev, next) => prev + next);
    },
    fetchDefectAct() { 
      //vm.$children[0].loadingShow();
      if (localStorage.getItem("role") == 4) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.orderId}/defect-acts`
          )
          .then(response => {
            this.act = response.data;
            this.overalPrice();
            if(this.act.parts){
              this.totalPricesParts();
            }            
            
            if(this.act.works){
              this.totalPricesWorks();
            }
            this.getBills();
            vm.$children[0].loadingHide();
          });
      }
      if (localStorage.getItem("role") == 3) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/orpus/orders/${this.$route.params.orderId}/defect-acts`
          )
          .then(response => {
            this.hasOrpa = response.data.hasOrpa;
            this.act = response.data;
            this.overalPrice();
            this.getBills();

            if(this.act.parts){
              this.totalPricesParts();
            }
            if(this.act.works){
              this.totalPricesWorks();
            }

            vm.$children[0].loadingHide();
          });
      }
      if (localStorage.getItem("role") == 5) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.orderId}/defect-acts`
          )
          .then(response => {
            this.act = response.data;
            this.overalPrice();
            if(this.act.parts){
              this.totalPricesParts();
            }            
            
            if(this.act.works){
              this.totalPricesWorks();
            }
            this.getBills();
          });
      }
      if (localStorage.getItem("role") == 2) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/clients/orders/${this.$route.params.orderId}/defect-acts`
          )
          .then(response => {
            this.act = response.data;
            this.overalPrice();
            this.approved = response.data.approved;
            this.rejected = response.data.rejected;
            if(this.act.parts){
              this.totalPricesParts();
            }            
            
            if(this.act.works){
              this.totalPricesWorks();
            }   

            vm.$children[0].loadingHide();
          });
      }
      if (localStorage.getItem("role") == 6) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/ops/orders/${this.$route.params.orderId}/defect-acts`
          )
          .then(response => {
            this.act = response.data;
            this.overalPrice();
            this.getBills();            
            if(this.act.parts){
              this.totalPricesParts();
            }            
            
            if(this.act.works){
              this.totalPricesWorks();
            }        

            vm.$children[0].loadingHide();
          });
      }
      if (localStorage.getItem("role") == 1) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/orks/orders/${this.$route.params.orderId}/defect-acts`
          )
          .then(response => {
            this.act = response.data;
            this.overalPrice();
            this.markupPercentage = response.data.percentage;
            this.markupComputed = response.data.percentage ? true : false;
            if(this.act.parts){
                this.totalPricesParts();
            }
            
            if(this.act.works){
              this.totalPricesWorks();
            }
            
            vm.$children[0].loadingHide();
          });
      }
      if (localStorage.getItem("role") == 7) {
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/accountants/orders/${this.$route.params.id}/defect-acts`
          )
          .then(response => {
            this.act = response.data;
            this.overalPrice();
            this.markupPercentage = response.data.percentage;
            this.markupComputed = response.data.percentage ? true : false;

            if(this.act.parts){
                this.totalPricesParts();
            }
            
            if(this.act.works){
              this.totalPricesWorks();
            }
            vm.$children[0].loadingHide();
          });
      }
    },
    isChecked() {
      if(this.act.parts){
        for (const iterator of this.act.parts) {
          for (const part of iterator.parts) {
            if(!part.applied_at) {
              this.checked = false;
              break;
            }
            this.checked = true;
          }
        }
      }
      
      if(this.act.works){
        for (const work of this.act.works) {
        if(!work.applied_at) {
            this.checked = false;
            break;
          }
          this.checked = true; 
        }
      }
    },
    computeMarkup() {
      vm.$children[0].loadingShow();
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/orks/orders/${this.$route.params.orderId}/compute-markup`,
          { markup_percent: this.markupPercentage }
        )
        .then(r => {

          if(this.act.parts){
            for (let entity of this.act.parts) {
              for (const exactPart of r.data.parts) {
                let findPart = entity.parts.filter(
                  item => item.defectPartId == exactPart.id
                )[0];

                findPart ? findPart.price_with_markup = exactPart.price_with_markup : null; 
              }
            }
          }          

          if(r.data.works){
            for (const work of r.data.works) {
              let findWork = this.act.works.filter(
                item => item.defectWorkId == work.id
              )[0];
              findWork.price_with_markup = work.price_with_markup;
            }
          }          

          this.markupComputed = true;
          vm.$children[0].loadingHide();
        });
    },
    computeMarkupManually() {
      vm.$children[0].loadingShow();

      let parts = [];
      if(this.act.parts){
        parts = this.act.parts[0].parts.filter(
          item => item.applied_at != null
        );
      }

      let works = [];
      if(this.act.works){
        works = this.act.works.filter(item => item.applied_at != null);
      }
 
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/orks/orders/${this.$route.params.orderId}/compute-markup-manually`,
          { parts, works }
        )
        .then(r => {
          vm.$children[0].loadingHide(); 
          this.$swal.fire("Успех", "Изменения сохранены", "success")
        })
        .catch(error =>{
          vm.$children[0].loadingHide(); 
          this.$swal.fire("Неудача", "Изменения не сохранены", "error")
        });
    }
  },
  computed: {
    role: () => localStorage.getItem("role"),
    canChange: function() {
      switch(this.role_id) {
        case "4": 
          return this.act.status_internal == 2 || this.act.status_internal == 8 || this.act.status_internal == 11;
          break;
        case "5":
          return (this.act.status_internal == 5 || this.act.status_internal == 14) && !this.completed;
          break;
        default:
          return false;
          break;
      }
    },
    canApprove: function() {
      switch(this.role_id) {
        case "1": 
          return this.act.status_internal == 9 || this.act.status_internal == 15;
          break;
        case "3":
          return this.act.status_internal == 7;
          break;
        case "4":
          return this.act.status_internal == 2 || this.act.status_internal == 8;
          break;
        case "5":
          return (this.act.status_internal == 5 || this.act.status_internal == 14) && !this.completed;
          break;
        default:
          return false;
          break;
      }
    },
    onApprove: function() {
      if(this.act.status_internal) {
        switch(this.role_id) {
          case "1": 
            return this.act.status_internal == 10 || this.act.status_internal == 16;
            break;
          case "3":
            return this.act.status_internal == 9;
            break;
          case "4":
            return this.act.status_internal == 7 || this.act.status_internal == 9;
            break;
          case "5":
            return this.act.status_internal == 7 || this.act.status_internal == 15;
            break;
          default:
            return false;
            break;
        }
      }
    }
  }
};
</script>

<style type="text/css" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>