<template>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo wow fadeInLeft">
                       <router-link to="/"><img src="@/assets/images/logo.png" class="img-fluid" alt=""></router-link>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="enter wow fadeInRight">
                        <router-link to="/register"><img src="@/assets/images/enter.png" alt="">{{ $t('header_unregistered_registration') }}</router-link>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>