<template>
  <header class="header">
    <div class="container">
      <div class="row" style="display:flex; align-items: center;">
        <div class="col-sm-2">
          <div class="logo wow fadeInLeft">
            <router-link to="/">
             <img src="@/assets/images/logo.png" class="img-fluid" alt />
            </router-link>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="head-description">
            <p>{{ username }}, {{ role }}</p>
          </div>
        </div>
        <div class="col-sm-4 d-flex" style="justify-content: flex-end;">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle d-flex"
              type="button"
              id="notifications"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <font-awesome-icon icon="bell" class="header-notification" size="lg" />
              <div
                class="notifications-counter"
              >{{ notifications ? Object.keys(this.notifications).length : 0 }}</div>
            </button>
            <div class="dropdown-menu">
              <div
                class="dropdown-item"
                v-if="this.notifications != null && Object.keys(this.notifications).length > 0"
                @click="markAllAsRead"
              >{{ $t('header_registered_mark_all_notifications') }}</div>
              <div class="dropdown-item" v-else>{{ $t('header_registered_no_notifications') }}</div>
              <div
                class="dropdown-item"
                v-for="(notification, index) in notifications"
                :key="index"
              >
                <div @click="markAsRead(notification.id)">
                  <a
                    v-if="!notification.data.has_bill"
                    :href="`/#/order/${notification.data.order_id}`"
                  >{{ notification.data.notification }}</a>
                  <a v-else href="/#/client/bills">{{ notification.data.notification }}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="enter">
            <a id="settings" @click="settings">
              <img src="@/assets/images/settings.png" alt />
              {{ $t('header_registered_settings') }}
            </a>
          </div>
          <div class="enter wow fadeInRight">
            <!-- <a href>
              <img src="@/assets/images/settings.png" alt />
              {{ $t('header_registered_settings') }}
            </a>-->
            <a @click="logout">
              <img src="@/assets/images/logout.png" alt />
              {{ $t('header_registered_logout') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script type="text/javascript">
export default {
  props: ["notifications"],
  methods: {
    logout: function() {
      this.$http
        .post(process.env.VUE_APP_SUPPLY_URL + "api/logout")
        .then(responce => {
          localStorage.removeItem("token");
          localStorage.removeItem("role");
          this.$emit("changeHeader");
          this.$router.push("/");
          this.notifications = [];
        });
    },
    settings: function() {
      this.$swal.fire({
        title: "Настройки",
        html: `Сменить пароль
          <div class="row">
            <div class="col-md-6">
              ФИО
            </div>
            <div class="col-md-6">
              <input type="text" id="username" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Пароль
            </div>
            <div class="col-md-6">
              <input type="password" id="password" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Повторите пароль
            </div>
            <div class="col-md-6">
              <input type="password" id="password_confirm" />
            </div>
          </div>`,
        preConfirm: () => {
          if (
            document.getElementById("username").value != "" ||
            (document.getElementById("password").value < 8 &&
              document.getElementById("password").value ==
                document.getElementById("password_confirm").value)
          ) {
            return this.changePassword(
              document.getElementById("username").value,
              document.getElementById("password").value
            );
          } else {
            return false;
          }
        }
      });
    },
    markAsRead(id) {
      const index = this.notifications.findIndex(i => i.id == id);
      this.notifications.splice(index, 1);
      this.$http
        .post(process.env.VUE_APP_SUPPLY_URL + "api/notifications/mark/" + id)
        .then(response => {
          //To do after read one
        });
    },
    markAllAsRead() {
      this.notifications.splice(0);
      this.$http
        .post(process.env.VUE_APP_SUPPLY_URL + "api/notifications/mark")
        .then(response => {
          // To do after read all
        });
    },
    changePassword(username, password) {
      this.$http
        .post(`${process.env.VUE_APP_SUPPLY_URL}api/update/password`, {
          name: username,
          password: password
        })
        .then(response =>
          this.$swal
            .fire("Успех!", "Пароль успешно изменён", "success")
            .catch(error =>
              this.$swal.fire("Неудача!", "Пароль не изменён", "error")
            )
        );
    }
  },
  data: () => {
    return {
      username: localStorage.getItem("name"),
      password: "",
      password_confirm: ""
    };
  },
  computed: {
    passwordsMatch() {
      return this.password == this.password_confirm;
    },
    passwordLengthValidation() {
      return this.password.length >= 8;
    },
    role() {
      switch (localStorage.getItem("role")) {
        case "1":
          return this.$t("header_registered_ork");
          break;
        case "2":
          return this.$t("header_registered_client");
          break;
        case "3":
          return this.$t("header_registered_orpu");
          break;
        case "4":
          return this.$t("header_registered_orpa");
          break;
        case "5":
          return this.$t("header_registered_station");
          break;
        case "6":
          return this.$t("header_registered_op");
          break;
        case "7":
          return this.$t("header_registered_accountant");
          break;
        case "8":
          return this.$t("header_registered_admin");
          break;
      }
    }
  }
};
</script>
<style scoped>
#notifications {
  max-width: 70px;
}
.notifications-counter {
  background-color: #627df5;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #fff;
  font-size: 11px;
  margin-left: -7px;
  margin-top: 7px;
}
.enter a:last-child:hover {
  cursor: pointer;
}
.enter a:last-child {
  color: #5b6981;
}
.header-notification {
  color: #5b6981;
}
</style>