<template>
    <div v-if="act.parts[shopIteration-1].parts[iteration]" class="d-flex flex-wrap my-2" :id="iteration">
        <input v-model="act.parts[shopIteration-1].parts[iteration].part_name" type="text" class="form-control w-25">
        <div class="d-flex">
            <input v-model="act.parts[shopIteration-1].parts[iteration].amount" type="text" class="col-md-2 mx-1 form-control">
            <input v-model="act.parts[shopIteration-1].parts[iteration].price" type="text" class="col-md-2 mx-1 form-control">
            <button type="button" class="btn btn-danger" @click="deletePart">Удалить</button>
        </div>
    </div>
</template>
<script>
export default {
    props: ['act', 'shopIteration', 'iteration', 'edit'],
    data() {
        return {
        }
    },
    created() {
    },
    methods: {
        deletePart(e) {
            const toDelete = this.act.parts[this.shopIteration-1].parts[this.iteration];
            const index = this.act.parts[this.shopIteration-1].parts.indexOf(toDelete);
            this.act.parts[this.shopIteration-1].parts.splice(index, 1);
            
            this.$emit('deleteUnknownPart', { component: this });
        }
    }
}
</script>