<template>
    <div class="d-flex flex-wrap my-2" v-if="act.parts[shopIteration-1].parts[iteration-1]">
        <v-select class="w-25" 
            label="name" 
            @input="setSelected"
            :options="parts"
            :value="activePart" />
        <div class="d-flex">
            <input v-model="act.parts[shopIteration-1].parts[iteration-1].amount" type="text" class="col-md-2 mx-1 form-control">
            <input v-model="act.parts[shopIteration-1].parts[iteration-1].price" type="text" class="col-md-2 mx-1 form-control">
            <button type="button" class="btn btn-danger" @click="deletePart">Удалить</button>
        </div>
    </div>
</template>
<script>
export default {
    props: ['parts', 'edit', 'act', 'shopIteration', 'iteration','partPrepared'],
    data() {
        return {
            part: {
                amount: 1,
                price: 0
            },
            activePart: null,
        }
    },
    created() {
        if(this.edit) {
            if(this.act.parts[this.shopIteration-1].parts[this.iteration-1].part_id) {
                const index = this.parts.map(e => e.id).indexOf(this.act.parts[this.shopIteration-1].parts[this.iteration-1].part_id);
                this.activePart = this.parts[index].name;
            }
        }
    } ,
    methods: {
        deletePart(e) {
            const toDelete = this.act.parts[this.shopIteration-1].parts[this.iteration-1];
            const index = this.act.parts[this.shopIteration-1].parts.indexOf(toDelete);
            this.act.parts[this.shopIteration-1].parts.splice(index, 1);
            // this.$emit('deletePart', { component: this });
        },
        setSelected(e) {
            if(this.act.parts[this.shopIteration-1].parts[this.iteration-1]) {
                this.act.parts[this.shopIteration-1].parts[this.iteration-1] = { part_id: e.id, amount: this.part.amount, price: this.part.price };
            }else {
                this.act.parts[this.shopIteration-1].parts.push({ part_id: e.id, amount: this.part.amount, price: this.part.price });
            }
            this.activePart = e.name;
        },
    }
}
</script>