<template>
    <div>
        <div class="d-flex">
            <v-select class="w-25" 
                label="name" 
                @input="setSelected"
                :options="shops" 
                :value="activeStore" />
        </div>
        <div class="my-2">
            <div v-if="act.parts[iteration-1] && act.parts[iteration-1].parts.length > 0">
                <PartField v-for="i in partCounter" :key="i" :parts="parts" :act="act" :edit="edit" :shopIteration="iteration" :iteration="i" @deletePart="deletePart"></PartField>
            </div>
            <PartFieldUnknown v-for="j in partCounterUnknown" :key="j+100" :act="act" :edit="edit" :shopIteration="iteration" :iteration="j+partCounter-1" @deleteUnknownPart="deleteUnknown"></PartFieldUnknown>
            <div v-if="activeStore">
                <button type="button" class="btn btn-primary mx-1" @click="addPart">Добавить запчасть</button>
                <button type="button" class="btn btn-primary mx-1" @click="addPartUnknown">Запчасти нет в списке</button>
            </div>
        </div>
    </div>
</template>
<script>
import PartField from '@/components/PartField.vue';
import PartFieldUnknown from '@/components/PartFieldUnknown.vue';
export default {
    components: {
        PartField,
        PartFieldUnknown
    },
    props: ['iteration', 'act', 'shopPrepared', 'parts', 'act', 'edit'],
    data() {
        return {
            shops: [],
            partCounter: 0,
            partCounterUnknown: 0,
            activeStore: null,
            partUnknownIteration: []
        }
    },
    created() {
        if(this.edit) {
            this.partCounter = this.act.parts[this.iteration-1].parts.length;
        }
        this.fetchShops();
    },
    methods: {
        deletePart(e) {
            e.component.$el.remove();
            e.component.$destroy();
            
            this.partCounter -= 1;
        },
        deleteUnknown(e) {
            e.component.$el.remove();
            e.component.$destroy();

            this.partCounterUnknown -= 1;
        },
        setSelected(e) {
            if(this.act.parts[this.iteration-1]) {
                this.act.parts[this.iteration-1].shop_id = e.id;
            }else {
                this.act.parts.push({ parts: [], shop_id: e.id });
            }
            this.activeStore = e.name;
        },
        addPartUnknown() {
            this.partCounterUnknown += 1;
            this.partUnknownIteration.push(this.act.parts[this.iteration-1].parts.push({ part_name: '', part_id: null, amount: 1, price: 0 }) - 1);
        },
        addPart() {
            this.partCounter += 1;
            this.act.parts[this.iteration-1].parts.push({ part_id: null, amount: 1, price: 0 });
        },
        fetchShops() {
            this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}/api/shops`)
                .then(response => {
                    this.shops = response.data;
                    if(this.act.parts[this.iteration-1]) {
                        const index = this.shops.map(e => e.id).indexOf(this.act.parts[this.iteration-1].shop_id);
                        if(index != -1) {
                            this.activeStore = this.shops[index].name;
                        }
                    }
                });
        },
    }
}
</script>