<template>
  <div>
    <h2>Заявка #{{ order.id }}</h2>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Описание проблемы</span>
      </div>
      <div class="col-sm-7">
        <span @click="showDescription">Нажмите чтобы открыть описание</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Регион</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="region_name"
          v-model="order.location"
          :options="order.regions"
          :reduce="region_name => region_name.id"
        />
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3 borderRow">
        <span>Машина эвакуирована</span>
      </div>
      <div class="col-sm-7 borderRow">
        <input type="checkbox" v-model="order.is_evacuated" />
      </div>
      <div class="col-sm-1 borderRow"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3 borderRow">
        <span>Водитель</span>
      </div>
      <div class="col-sm-7 borderRow">
        <v-select label="name" v-model="order.driver" :options="drivers" :reduce="name => name.id" />
      </div>
      <div class="col-sm-1 borderRow">
        <label>
          <i class="fas fa-edit"></i>
          <input type="checkbox" style="display: none" v-model="checkedSelects.driver" />
        </label>
      </div>
    </div>-->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Машина</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="number"
          v-model="order.car_id"
          :options="order.cars"
          :reduce="number => number.id"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>СТО готово к диагностике</span>
      </div>
      <div class="col-sm-7">
        <span class="w-100">{{ order.ready_to_diagnose_at }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Машина продиагностирована</span>
      </div>
      <div class="col-sm-7">
        <span class="w-100">{{ order.diagnosed_at }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Заявка завершена</span>
      </div>
      <div class="col-sm-7">
        <span class="w-100">{{ order.completed_at }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Ответственный менеджер Отдела по Работе с Клиентами</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="name"
          v-model="order.responsibles.ork"
          :options="order.users.ork"
          :reduce="name => name.id"
        />
      </div>
    </div>-->
    <!-- <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Ответственный менеджер Отдела по Работе с Партнёрами</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="name"
          v-model="order.responsibles.orpu"
          :options="order.users.orpu"
          :reduce="name => name.id"
        />
      </div>
    </div>-->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Ответственный менеджер Отдела по Работе с Автозапчастями</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="name"
          v-model="order.responsibles.orpa"
          :options="order.users.orpa"
          :reduce="name => name.id"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Ответственный менеджер СТО</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="name"
          v-model="order.responsibles.station"
          :options="order.users.station"
          :reduce="name => name.id"
        />
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Ответственный менеджер Отдела Платежей</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="name"
          v-model="order.responsibles.op"
          :options="order.users.op"
          :reduce="name => name.id"
        />
      </div> 
    </div>-->
    <!-- <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <span>Ответственный бухгалтер</span>
      </div>
      <div class="col-sm-7">
        <v-select
          label="name"
          v-model="order.responsibles.buh"
          :options="order.users.buh"
          :reduce="name => name.id"
        />
      </div>
    </div>-->
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-primary pull-right" @click="sendData">Сохранить</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger" @click="rejectDefectAct">Отклонить дефектный акт</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-danger" @click="changeStatus">Откат заявки в начало</button>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      order: {
        id: 0,
        problem_description: "",
        location: 1,
        is_evacuated: false,
        car_id: 0,
        contract_id: 0,
        ready_to_diagnose_at: "1970-01-01",
        diagnosed_at: "1970-01-01",
        completed_at: "1970-01-01",
        created_at: "1970-01-01",
        deleted_at: "1970-01-01"
      },
      drivers: [],
      contracts: [],
      cars: [],
      checkedSelects: {
        problem_description: false,
        region: false,
        driver: false,
        car: false,
        contract: false
      }
    };
  },
  props: {},
  watch: {},
  created() {
    vm.$children[0].loadingShow();
    this.getData();
  },
  methods: {
    showDescription() {
      this.$swal.fire("Описание заявки", this.order.problem_description);
    },
    rejectDefectAct() {
      vm.$children[0].loadingShow();
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}/defect-acts/reject`,
          { comments: [] }
        )
        .then(r => {
          vm.$children[0].loadingHide();
        });
    },
    changeStatus() {
      this.$swal
        .fire({
          title: "Вы уверены?",
          text: "Данное действие необратимо",
          showCancelButton: true,
          confirmButtonText: "Точно?",
          showLoaderOnConfirm: true,
          preConfirm: login => {
            return this.$http
              .put(
                `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}/change`
              )
              .then(response => {
                this.$swal.fire({
                  title: `Откат был успешно совершён`
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !Swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: `Откат был успешно совершён`
            });
          }
        });
      this.$http
        .post(
          `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}/defect-acts/reject`,
          { comments: [] }
        )
        .then(r => {
          vm.$children[0].loadingHide();
        });
    },
    getData() {
      vm.$children[0].loadingShow();
      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}`
        )
        .then(responce => {
          this.order = responce.data;
          this.order.location = parseInt(this.order.location);
          vm.$children[0].loadingHide();
        });
    },
    sendData() {
      if (this.$route.name == "AdminEditOrder") {
        this.$http
          .put(
            `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}`,
            this.order
          )
          .then(responce => {
            // this.$router.push("/admin/Order");
          });
      } else {
        this.$http
          .post(
            `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/${this.$route.params.id}`,
            this.order
          )
          .then(responce => {
            // this.$router.push("/admin/Order");
          });
      }
    }
  },
  computed: {}
};
</script>

<style scoped>
label {
  display: block;
  margin-bottom: 0.5rem;
}

.row {
  padding-bottom: 5px;
  height: 50px;
}

.borderRow {
  vertical-align: center;
  border: black;
  border-style: dashed;
  border-width: 0.05px;
}
</style>