<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <button @click="excelExport" class="btn btn-primary">Экспорт заявок и деталей</button>
        <button @click="excelBills" class="btn btn-primary">Экспорт счетов</button>
      </div>
    </div>
    <div class="row">
      <transition name="bounce">
        <div :class="'col-sm-'+colClass" v-if="(unselected || SearchSelected)">
          <div class="search">
            <input type="text" v-model="searchTerm" />
            <button></button>
          </div>
        </div>
      </transition>
      <transition name="bounce">
        <div :class="'col-sm-'+colClass" v-if="(unselected || DateSelected)">
          <div class="pick-period-row">
            <div class="pick-period">
              <p>{{ $t('orpu_stations_table_date_filter_text_title') }}</p>
            </div>
            <div class="pick-period-box">
              <date-picker
                format="YYYY-MM-DD"
                value-type="timestamp"
                @clear="clear"
                v-model="searchTerm"
                :lang="lang"
                range
                style="width: 100%"
              ></date-picker>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <vue-good-table
      :columns="columns"
      :rows="rows"
      :search-options="{
								enabled: true,
								skipDiacritics: true,
								placeholder: 'Search this table',
								searchFn: search,
								externalQuery: searchTerm
							}"
      :sort-options="{
							    enabled: true,
							    initialSortBy: {field: 'id', type: 'desc'}
							  }"
      :pagination-options="{
								enabled: true,
								mode: 'pages',
								perPageDropdown: [5, 7, 10, 20, 50],
								dropdownAllowAll: false,
								setCurrentPage: 1,
								nextLabel: 'next',
								prevLabel: 'prev',
								rowsPerPageLabel: 'Rows per page',
								ofLabel: 'of',
								pageLabel: 'page', // for 'pages' mode
								allLabel: 'All',
  }"
      @on-cell-click="DeleteRow"
    ></vue-good-table>
  </div>
  <!-- <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, aut veniam error sit architecto blanditiis? Quasi, itaque reiciendis? Dolorum quisquam vero necessitatibus, eveniet iusto a consectetur quia distinctio provident error?</span> -->
</template>

<script>
import DatePicker from "vue2-datepicker";

export default {
  components: {
    DatePicker
  },
  data() {
    return {
      urls: {},
      searchTerm: "",
      rows: [],
      columns: [],
      colClass: 6,
      DateSelected: false,
      dates: [],
      unselected: true,
      SearchSelected: false,
      DateSelected: false,
      lang: {
        days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        months: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        pickers: [
          "next 7 days",
          "next 30 days",
          "previous 7 days",
          "previous 30 days"
        ],
        placeholder: {
          date: "Select Date",
          dateRange: "Select Date Range"
        }
      }
    };
  },
  created() {
    this.getUrls();
  },
  methods: {
    excelBills() {
      this.$swal
        .fire({
          title: "Выберите диапазон?",
          html: ` <div class='row'>
                        <div class='col-md-12'>
                            Даты создания от и до
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <input type="date" id="from">
                        </div>
                        <div class='col-md-6'>
                            <input type="date" id="to">
                        </div>
                    </div>`,
          type: "question",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          cancelButtonText: "Закрыть",
          confirmButtonText: "Экспорт"
        })
        .then(result => {
          if (result.value) {
            if (
              this.moment(document.getElementById("from").value).unix() <
              this.moment(document.getElementById("to").value).unix()
            ) {
              vm.$children[0].loadingShow();
              this.$http
                .get(
                  `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/export/bills`,
                  {
                    params: {
                      from: document.getElementById("from").value,
                      to: document.getElementById("to").value
                    }
                  }
                )
                .then(response => {
                  let headers = {};
                  for (const key in response.data[0]) {
                    headers[key] = key;
                  }
                  response.data.unshift(headers);

                  // for (const bill of bills) {
                  //   let temp = JSON.parse(bill['Ссылка']);
                  //   if(temp.download_link){
                  //     bill['Ссылка'] = temp.download_link
                  //   }                    
                  // }

                  let ws = XLSX.utils.json_to_sheet(response.data, {
                    skipHeader: true
                  });
                  var wb = XLSX.utils.book_new();

                  XLSX.utils.book_append_sheet(wb, ws, "ACW");
                  vm.$children[0].loadingHide();
                  XLSX.writeFile(wb, "ACW.xlsb");
                })
                .catch(error => {
                  vm.$children[0].loadingHide();
                  this.$swal.fire("Что то пошло не так", "error");
                  console.log(error);
                });
            } else {
              this.$swal.fire("Ошибка", "Дата ОТ больше чем дата ДО", "error");
            }
          }
        });
    },
    excelExport() {
      this.$swal
        .fire({
          title: "Выберите диапазон?",
          html: ` <div class='row'>
                        <div class='col-md-12'>
                            Даты создания от и до
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <input type="date" id="from">
                        </div>
                        <div class='col-md-6'>
                            <input type="date" id="to">
                        </div>
                    </div>`,
          type: "question",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          cancelButtonText: "Закрыть",
          confirmButtonText: "Экспорт"
        })
        .then(result => {
          if (result.value) {
            if (
              this.moment(document.getElementById("from").value).unix() <
              this.moment(document.getElementById("to").value).unix()
            ) {
              vm.$children[0].loadingShow();
              this.$http
                .get(
                  `${process.env.VUE_APP_SUPPLY_URL}api/admin/orders/export/excel`,
                  {
                    params: {
                      from: document.getElementById("from").value,
                      to: document.getElementById("to").value
                    }
                  }
                )
                .then(response => {
                  let table = [];
                  let flag = false;
                  if (!flag) {
                    let k = 0;
                    let headers = {};
                    for (const key in response.data[0]) {
                      headers[k] = this.$t("excel_export_" + key);
                      k = k + 1;
                      flag = true;
                    }
                    table.push(headers);
                  }
                  for (const order of response.data) {
                    let row = {};
                    let i = 0;
                    row = {};
                    for (const key in order) {
                      if (order.hasOwnProperty(key)) {
                        const element = order[key];
                        row[i] = element;
                        i = i + 1;
                      }
                    }
                    table.push(row);
                  }
                  var wb = XLSX.utils.book_new();
                  let test = [];
                  for (let row = 0; row < table.length; row++) {
                    let temp = {};
                    for (let column = 0; column < 100; column++) {
                      temp[column] = table[row][column]
                        ? table[row][column]
                        : "";
                    }
                    test.push(temp);
                  }
                  let ws = XLSX.utils.json_to_sheet(test, { skipHeader: true });

                  XLSX.utils.book_append_sheet(wb, ws, "ACW");
                  vm.$children[0].loadingHide();
                  XLSX.writeFile(wb, "ACW.xlsb");
                })
                .catch(error => {
                  vm.$children[0].loadingHide();
                  this.$swal.fire("Что то пошло не так", "error");
                });
            } else {
              this.$swal.fire("Ошибка", "Дата ОТ больше чем дата ДО", "error");
            }
          }
        });
    },
    DeleteRow(params) {
      if (params.column.label == "Удалить") {
        this.$swal
          .fire({
            title: "Вы уверены?",
            text: "Вы собираетесь удалить заявку!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Нет!",
            confirmButtonText: "Да, удалить её!"
          })
          .then(result => {
            if (result.value) {
              this.$http
                .delete(
                  this.urls.DELETE[0].replace(/\{\w+\}+/g, "") + params.row.id
                )
                .then(response => {
                  let index = this.rows
                    .map(function(item) {
                      return item.id;
                    })
                    .indexOf(params.row.id);
                  this.rows.splice(index, 1);
                  this.$swal.fire(
                    "Удалено!",
                    "Удаление прошло успешно.",
                    "success"
                  );
                })
                .catch(error => {
                  this.$swal.fire(
                    "Не удалено!",
                    "Удаление прошло неудачно.",
                    "error"
                  );
                });
            }
          });
      }
    },
    getUrls() {
      this.$http
        .get(`${process.env.VUE_APP_SUPPLY_URL}api/models/Order`)
        .then(responce => {
          this.urls = responce.data["Order"];
          this.getData();
        });
    },
    search: function(row, col, cellValue, searchTerm) {
      if (typeof searchTerm == "object") {
        if (
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) >=
            parseInt((new Date(searchTerm[0]).getTime() / 1000).toFixed(0)) &&
          parseInt((new Date(cellValue).getTime() / 1000).toFixed(0)) <=
            parseInt((new Date(searchTerm[1]).getTime() / 1000).toFixed(0)) +
              86400
        ) {
          console.log(cellValue);
          return cellValue;
        }
      } else {
        if (
          String(cellValue)
            .toLowerCase()
            .includes(searchTerm.toLowerCase())
        ) {
          return cellValue;
        }
      }
    },
    clear: function() {
      this.searchTerm = "";
    },
    getData() {
      vm.$children[0].loadingShow();
      this.$http.get(this.urls.GET[0]).then(response => {
        let data = response.data[0];
        response.data.forEach(item => {
          Object.keys(item).forEach(key => {
            if (item[key] == "1970-01-01") {
              item[key] = "";
            }
          });
        });
        for (const col of response.data[1]) {
          let column = {};
          let type = "text";

          if (RegExp("^id").test(col)) {
            type = "number";
          }
          if (RegExp("_id").test(col)) {
            continue;
          }
          if (RegExp("internal").test(col)) {
            continue;
          }
          column = {
            label: this.$t("admin_show_Order_" + col),
            field: col,
            type: type
          };
          this.columns.push(column);
        }
        this.columns.push({
          label: "Подробнее",
          field: row => `<a href="/#/admin/Order/${row.id}">Подробнее</a>`,
          html: true
        });
        this.columns.push({
          label: "Удалить",
          field: row =>
            `<i class="fa fa-trash" style="margin-left: 50%;" aria-hidden="true"></i>`,
          html: true
        });
        this.rows.push(...data);
        vm.$children[0].loadingHide();
      });
    }
  },
  watch: {
    searchTerm: function(newValue, oldValue) {
      if (typeof newValue == "object") {
        this.unselected = false;
        this.SearchSelected = false;
        this.DateSelected = true;
        this.colClass = 12;
      }
      if (newValue == "") {
        this.unselected = true;
        this.SearchSelected = false;
        this.DateSelected = false;
        this.colClass = 6;
      }
      if (typeof newValue == "string" && newValue.length > 0) {
        this.unselected = false;
        this.DateSelected = false;
        this.SearchSelected = true;
        this.colClass = 12;
      }
    }
  }
};
</script>

<style>
</style>