<template>
  <div>
	<table style="margin: auto;"> 
		<tr v-for="part in stationParts" v-bind:key="part.id">
			<td style="padding-right: 20px">{{ part.name }}</td>
			<td style="padding-right: 20px">{{ part.amount }}</td>
			<td>{{ part.is_in_stock ? 'В наличии' : 'Отсутствует' }}</td>
		</tr>
	</table>
    <div class="buttons">
      <button
        v-if="role == 5"
        @click="addExistingPart"
        class="btn btn-primary"
      >Добавить известную деталь</button>
      <button
        v-if="role == 5"
        @click="addNonExistingPart"
        class="btn btn-primary"
      >Добавить неизвестную деталь</button>
      <button v-if="role == 4" @click="addPartsShop" class="btn btn-primary">Добавить магазин</button>
      <button
        v-if="role == 5"
        @click="addExistingWork"
        class="btn btn-primary"
      >Добавить известную работу</button>
	  <button v-if="role == 5" class="btn btn-primary" @click="addNonExistingWork">Добавить неизвестную работу</button>
      <button
        class="btn btn-success"
        @click="sendDefect"
      >Сохранить</button>
    </div>    
    <div v-if="role == 5">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          Детали
		  <div v-for="(v, index) in iterator" :key="index">
			<PartField
				v-if="!act.parts[index].applied_at"
				:part="act.parts[index]"
				:send="sendAct"				
				:vvv="v"
				:shop_id="null"
				:index="index"
				:iterator="iterator"
				:parts="parts_prepaired"
				@deleteItemPart="deleteItemPart"
				@changepart="UpdatePart"
				@sent="PartSent"
			></PartField>
		  </div>
        </div>
        <div class="col-sm-4">
          Работы
		  <div v-for="(work, index) in act.works" :key="index">
			<WorkField
				v-if="!work.applied_at"
				:data="work"
				:works="works_prepaired"
				:id="work.id"
				:known="work.known"
				:send="sendAct"
				@delete="deleteItemWorks"
				@changework="UpdateWork"
				@sent="WorkSent"
			></WorkField>
		  </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div v-if="role == 4">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" v-if="act.shops.length != 0">
          <ShopField
            v-for="(shop, index) in act.shops"
            :key="index"
            :shops="shops"
            :data="shop"
            :parts_prepaired="parts_prepaired"
            :id="shop.id"
			:sendAct="sendAct"
            @delete="deleteItemPart"
            @shopchanged="UpdateShopWithParts"
			@sent="ShopSentCheck"
          ></ShopField>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</template>


<script>
	import PartField from '@/components/Defect/PartField.vue'
	import WorkField from '@/components/Defect/WorkField.vue'
	import ShopField from '@/components/Defect/ShopField.vue'
  export default {
	components:{
		PartField,
		WorkField,
		ShopField
	},
	data: () => {
		return {
			iterator: [],
			it: 0,
			works_prepaired: [],
			parts_prepaired: [],
			
			act: {
				parts: [

				],
				works: [

				],
				shops: [

				]
			},
			single_part: {
				part: "",
				amount: 0,
				price: 0,
				id: 0,
				known: false,
				stock: 	true,
			},
			single_work: {
				work: "",
				amount: 0,
				price: 0,
				id: 0,
				known: true,
			},
			single_shop: {
				id: 0,
			},
			shops: [],
			iterator_part: 0,
			iterator_work: 0,
			iterator_shop: 0,
			sendAct: false,
			SentParts: 0,
			SentWorks: 0,
			SentShops: 0,
			PartsSent: false,
			WorksSent: false,
			ShopsSent: false,
			stationParts: []
		}
	},
	props:{

	},
	watch:{
		sendComplete: function(newValue, oldValue){
			if(newValue == true){
				this.$swal.fire({
					title: 'Успех',
					text: "Дефектный акт успешно сохранён",
					type: 'success'
				})
				if(this.role == "5"){
					this.$router.push(`/station/orders/${this.$route.params.id}/defect`)
				}
				else{
					this.$router.push(`/orpa/orders/${this.$route.params.id}/defect`)
				}
			}
		},
		SentParts: function(newValue, oldValue){
			if(this.act.parts.length > 0){
				newValue == this.act.parts.length ? this.PartsSent = true : this.PartsSent = false
			}
		},
		SentWorks: function(newValue, oldValue){ 
			newValue == this.act.works.length ? this.WorksSent = true : this.WorksSent = false
		},
		SentShops: function(newValue, oldValue){ 
			newValue == this.act.shops.length ? this.ShopsSent = true : this.ShopsSent = false
		}
	},
	created() {
		this.iterator_part = this.act.parts.length;
		this.iterator_work = this.act.works.length;
		this.iterator_shop = this.act.shops.length;
		this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/parts').then(responce => this.parts_prepaired = responce.data)
		if(localStorage.getItem('role') == "5"){
			this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/works').then(responce => this.works_prepaired = responce.data);
		}
		else{
			if(localStorage.getItem('role') == "4"){
				this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/shops`).then(response => this.shops = response.data);
			}
		}
		if (this.$route.name == "DefectEdit") {
			if(localStorage.getItem('role') == "5"){
				this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/edit`).then(responce => {
					if(responce.data.parts){
						this.act.parts = responce.data.parts; 
						this.it = this.act.parts.length-1;
						this.act.parts.forEach((e, index) => this.iterator.push(index))
					}
					if(responce.data.works){
						this.act.works = responce.data.works; 
					}
					});
			}
			else{
				if(localStorage.getItem('role') == "4"){
					this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/edit/parts/station`).then(responce => {
						this.stationParts = responce.data;
					});
					this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/edit`).then(responce => {
						console.log(responce.data)
						if(responce.data.shops != null){
							this.act.shops = responce.data.shops;
						}
					});
				}
			}
		}
		else{
			if(localStorage.getItem("role") == 5){
				this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts`)
			}
			else{
				this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts`)
			}
		}
	},
	methods:{
		ShopSentCheck(){
			this.SentShops += 1;
		},
		PartSent(e){
			this.SentParts += 1;
		},
		WorkSent(e){
			this.SentWorks += 1;
		},
		deleteItemPart(e){
			// console.log("delete in shop "+e)
			// let index = this.parts.findIndex(function (element) {
			// 	return element.id == e
			// })
			// console.log("index "+e)
			// console.log("element", this.parts[index])
			// console.log("parts", this.parts)
			// this.parts.splice(e, 1);
			// console.log("parts after deletion", this.parts)
			// this.$forceUpdate();
			if(this.$route.name == "DefectEdit"){
				if(this.act.parts[e.index].defect_id){
					this.$http.delete(
					`${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/parts/${this.act.parts[e.index].defect_id}`).then(() => {
						this.iterator.splice(e.index, 1);
						this.act.parts.splice(e.index, 1);
					})
				}
				else{
					this.iterator.splice(e.index, 1);
					this.act.parts.splice(e.index, 1);
				}
			}
			else{
				this.iterator.splice(e.index, 1);
				this.act.parts.splice(e.index, 1);
			}
		},
		addExistingPart(){
			this.iterator.push(this.it);
			this.it += 1;
			const object = { ...this.single_part };
			object.id = this.act.parts.length+1;
			object.known = true;
			this.act.parts.push(object);
		},
		addNonExistingPart(){
			this.iterator.push(this.it);
			this.it += 1;
			const object3 = {...this.single_part }
			object3.id = this.act.parts.length+1;
			object3.known = false;
			this.act.parts.push(object3)		
		},
		// deleteItemPart(e){
		// 	let index = this.act.parts.findIndex(function (element) {
		// 		return element.id == e
		// 	})
		// 	this.act.parts.splice(index, 1);
		// },
		deleteItemWorks(e){		
			let index = this.act.works.findIndex(function (element) {
				return element.id == e
			})
			if(this.$route.name == "DefectEdit"){
				if(this.act.works[index].defect_id){
					this.$http.delete(
					`${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/works/${this.act.works[index].defect_id}`).then(() => {
						this.act.works.splice(index, 1);
					})
				}
				else{
					this.act.works.splice(index, 1);
				}
			}
			else{
				this.act.works.splice(index, 1);
			}
		},
		// addExistingPart(){
		// 	this.single_part.id=this.act.parts.length+1;
		// 	this.single_part.known=true;
		// 	let object3 = {...this.single_part }
		// 	this.act.parts.push(object3)
		// },
		// addNonExistingPart(){
		// 	this.single_part.id=this.act.parts.length+1;
		// 	this.single_part.known=false;
		// 	let object3 = {...this.single_part }
		// 	this.act.parts.push(object3)		
		// },
		addExistingWork(){
			this.single_work.id=this.act.works.length+1;
			this.single_work.known=true;
			let object3 = {...this.single_work }
			this.act.works.push(object3)
		},
		addNonExistingWork(){
			this.single_work.id=this.act.works.length+1;
			this.single_work.known=false;
			let object3 = {...this.single_work }
			this.act.works.push(object3)
		},
		addPartsShop(){
			this.single_shop.id = this.iterator_shop+1;
			let object3 = {...this.single_shop }
			this.act.shops.push(object3);
		},
		UpdateShopWithParts(e){
			let index = this.act.shops.findIndex(function (element) {
				return element.id == e[1]
			})
			this.act.shops[index] = e[0]
		},
		UpdatePart(e){
			let index = this.act.parts.findIndex(function (element) {
				return element.id == e[1]
			})
			this.act.parts[index] = e[0]
		},
		UpdateWork(e){
			let index = this.act.parts.findIndex(function (element) {
				return element.id == e[1]
			})
			this.act.works[index] = e[0]
		},
		sendDefect(){
			if(localStorage.getItem('role') == "5"){
				if (this.$route.name != "DefectEdit") {
					this.$swal.fire({
						title: 'Сохранить дефектный акт',
						text: 'Сохранить изменения?',
						showLoaderOnConfirm: true,
						showCancelButton: true,
						confirmButtonText: 'Сохранить',
						cancelButtonText: "Закрыть",
					})
					.then((result) => {
						if (result.value) {	
							this.$swal.showLoading();
							this.sendAct = true;
						}
					})
					// this.$http.post(`${process.env.VUE_APP_SUPPLY_URL}/api/stations/orders/${this.$route.params.id}/defect-acts`,{data: this.act})
							// .then(response => this.$router.push(`/station/orders/${this.$route.params.id}/defect-act`)
							// );
				}
				else{
					// if(this.act.parts.some(part => part.amount == 0) || this.act.works.some(work => work.price == 0)){
					// 	this.$swal.fire('Пожалуйста, перепроверьте дефектный акт');
					// }
					// else{
						this.$swal.fire({
							title: 'Сохранить дефектный акт',
							text: 'Сохранить изменения?',
							showCancelButton: true,
							confirmButtonText: 'Сохранить',
							cancelButtonText: "Закрыть",
						})
						.then((result) => {
							if (result.value) {	
								this.$swal.showLoading();
								this.sendAct = true;
							}
						})
						// this.$http.put(`${process.env.VUE_APP_SUPPLY_URL}/api/stations/orders/${this.$route.params.id}/defect-acts`,{data: this.act})
							// .then(response => this.$router.push(`/station/orders/${this.$route.params.id}/defect-act`));
						// this.$router.push(`/station/orders/${this.$route.params.id}/defect-act`)
					// }
				}
			}
			else{				
				if(localStorage.getItem('role') == "4"){
					if (this.$route.name != "DefectEdit") {
						this.$swal.fire({
							title: 'Сохранить дефектный акт',
							text: 'Сохранить изменения?',
							showLoaderOnConfirm: true,
							showCancelButton: true,
							confirmButtonText: 'Сохранить',
							cancelButtonText: "Закрыть",
						})
						.then((result) => {
							if (result.value) {	
								this.$swal.showLoading();
								this.sendAct = true;
							}
						})
					}
					else{						
						// if(this.act.parts.some(part => part.amount == 0) || this.act.works.some(work => work.price == 0)){
						// 	this.$swal.fire('Пожалуйста, перепроверьте дефектный акт');
						// }
						// else{
							this.$swal.fire({
								title: 'Сохранить дефектный акт',
								text: 'Сохранить изменения?',
								showCancelButton: true,
								confirmButtonText: 'Сохранить',
								cancelButtonText: "Закрыть",
							})
							.then((result) => {
								if (result.value) {	
									this.$swal.showLoading();
									this.sendAct = true;
								}
							})
							// this.$http.put(`${process.env.VUE_APP_SUPPLY_URL}/api/stations/orders/${this.$route.params.id}/defect-acts`,{data: this.act})
								// .then(response => this.$router.push(`/station/orders/${this.$route.params.id}/defect-act`));
							// this.$router.push(`/station/orders/${this.$route.params.id}/defect-act`)
						// }
					}
				}
			}

		}
	},
	computed: {
		role:() => localStorage.getItem('role'),
		sendComplete(){
			if((this.PartsSent == true && this.WorksSent == true) || this.ShopsSent){
				return true;
			}
			else{
				return false;
			}
		}
	}
  }
</script>

<style scoped>
.buttons {
  text-align: center;
  margin: 10px;
}
</style>