<template>
  <div class="partField col-sm-5">
    Деталь
    <input type v-model="part.part" v-if="!part.known" class="form-control" />
    <v-select v-if="part.known" label="name" v-model="part.part" :options="parts" />Количество
    <input type="number" min="0" v-model="part.amount" class="form-control" />
    Цена
    <input type="number" min="0" v-model="part.price" class="form-control" />
    <span v-if="role != 4">В наличии</span>&nbsp;
    <input type="checkbox" v-if="role != 4" v-model="part.stock" />
    <br />
    <button class="btn btn-danger" @click="deleteItem">Удалить</button>
    <!-- <button class="btn btn-success" @click="sendItem">Удалить</button> -->
  </div>
  <!--@input="setSelected" :value="activePart"-->
</template>


<script>
export default {
  components: {},
  data() {
    return {
      // part:{
      // 	name: 	"",
      // 	amount:	0,
      // 	price: 	0,
      // 	stock: 	true,
      // }
    };
  },
  props: ["parts", "iterator", "index", "vvv", "part", "shop_id", "send"],
  watch: {
    send: function(newValue, oldValue) {
      if (newValue != false) {
        this.sendItem();
      }
    }
  },
  methods: {
    deleteItem() {
      this.$emit("deleteItemPart", { index: this.index });
      if (this.part.defect_id) {
        this.$http.delete(
          `${process.env.VUE_APP_SUPPLY_URL}api/orpas/part/${this.part.defect_id}`
        );
      }
    },
    sendItem() {
      if (localStorage.getItem("role") == "5") {
        if (this.$route.name != "DefectEdit") {
          if (this.part.known) {
            this.part.part_id = this.part.part.id;
            this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/parts`,
                this.part
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          } else {
            this.part.name = this.part.part;
            this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/unknown-parts`,
                this.part
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          }
        } else {
          if (!this.part.defect_id) {
            if (this.part.known) {
              this.part.part_id = this.part.part.id;
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/parts`,
                  this.part
                )
                .then(() => this.$emit("sent"));
            } else {
              this.part.name = this.part.part;
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/unknown-parts`,
                  this.part
                )
                .then(() => this.$emit("sent"))
                .catch(error =>
                  this.$swal({
                    type: "error",
                    text: error.response.data
                  })
                );
            }
          } else {
            this.part.part_id = this.part.part.id;
            this.$http
              .put(
                `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/parts/${this.part.defect_id}`,
                this.part
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          }
        }
      } else {
        this.part.shop_id = this.shop_id;
        if (this.$route.name != "DefectEdit") {
          if (this.part.known) {
            this.part.part_id = this.part.part.id;
            this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/parts`,
                this.part
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          } else {
            this.part.name = this.part.part;
            this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/unknown-parts`,
                this.part
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          }
        } else {
          if (!this.part.defect_id) {
            if (this.part.known) {
              this.part.part_id = this.part.part.id;
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/parts`,
                  this.part
                )
                .then(() => this.$emit("sent"))
                .catch(error =>
                  this.$swal({
                    type: "error",
                    text: error.response.data
                  })
                );
            } else {
              this.part.name = this.part.part;
              this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/unknown-parts`,
                  this.part
                )
                .then(() => this.$emit("sent"))
                .catch(error =>
                  this.$swal({
                    type: "error",
                    text: error.response.data
                  })
                );
            }
          } else {
            this.part.part_id = this.part.part.id;
            this.$http
              .put(
                `${process.env.VUE_APP_SUPPLY_URL}api/orpas/orders/${this.$route.params.id}/defect-acts/parts/${this.part.defect_id}`,
                this.part
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          }
        }
      }
    }
  },
  // watch:{
  // 	part: {
  // 		handler: function (val, oldVal) {
  // 			this.$emit('changepart', [val, this.part.id]);
  // 		},
  // 		deep: true
  // 	}
  // },
  // created() {
  // 	if(localStorage.getItem("role") == 4){
  // 		this.part = this.data
  // 	}
  // 	console.log(this.key)
  // },
  // methods:{
  // 	deleteItem(){
  // 		console.log("delete in part "+this.part.id)
  // 		this.$emit('delete', this.part.id);
  // 	},
  // },
  computed: {
    role: () => localStorage.getItem("role")
  }
};
</script>

<style scoped>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.partField {
  margin: 15px;
}
</style>