<template>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <button @click="addExistingPart" class="btn btn-info">Добавить известную деталь</button>
      </div>
      <div class="col-sm-6">
        <button @click="addNonExistingPart" class="btn btn-info">Добавить неизвестную деталь</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        Выберите магазин
        <v-select class="w-25" label="name" :options="shops" v-model="shop" />
      </div>
    </div>
    <div class="flex-container" v-if="shop != null">
      <PartField
        v-for="(v, index) in iterator"
        :part="parts[index]"
        :key="index"
        :vvv="v"
        :index="index"
        :send="sendAct"
        :iterator="iterator"
        :parts="parts_prepaired"
        :shop_id="shop.id"
        @deleteItemPart="deleteItemPart"
        @changepart="changePart"
        @sent="partSent"
      ></PartField>
    </div>
  </div>
</template>


<script>
import PartField from "@/components/Defect/PartField.vue";
export default {
  components: {
    PartField
  },
  data() {
    return {
      single_part: {
        part: "",
        amount: "",
        price: "",
        id: 0,
        known: false
      },
      parts: [],
      PartsSent: 0,
      shop: null,
      iterator: [],
      it: 0
    };
  },
  props: ["parts_prepaired", "shops", "data", "sendAct"],
  watch: {
    parts: {
      handler: function(val, oldVal) {
        this.$emit("shopchanged", [[this.shop, val], this.data.id]);
      },
      deep: true
    }
  },
  created() {
    if (this.data != null) {
      this.shop = this.data["0"];
      this.parts.push(this.data);
      this.iterator.push(this.it);
      this.it += 1;
    }
  },
  methods: {
    deleteItemPart(e) {
      this.iterator.splice(e.index, 1);
      this.parts.splice(e.index, 1);
      // console.log("delete in shop "+e)
      // let index = this.parts.findIndex(function (element) {
      // 	return element.id == e
      // })
      // console.log("index "+e)
      // console.log("element", this.parts[index])
      // console.log("parts", this.parts)
      // this.parts.splice(e, 1);
      // console.log("parts after deletion", this.parts)
      // this.$forceUpdate();
    },
    addExistingPart() {
      if (this.shop != null) {
        this.iterator.push(this.it);
        this.it += 1;
        const object = { ...this.single_part };
        object.id = this.parts.length + 1;
        object.known = true;
        this.parts.push(object);
      }
    },
    partSent() {
      this.PartsSent = this.PartsSent + 1;
      if (this.PartsSent == this.iterator.length) {
        this.$emit("sent");
      }
    },
    addNonExistingPart() {
      if (this.shop != null) {
        this.iterator.push(this.it);
        this.it += 1;
        const object3 = { ...this.single_part };
        object3.id = this.parts.length + 1;
        object3.known = false;
        this.parts.push(object3);
      }
    },
    changePart(e) {
      let index = this.parts.findIndex(function(element) {
        return element.id == e[1];
      });
      this.parts[index] = e[0];
    }
  },
  computed: {}
};
</script>

<style scoped>
.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
	     and if we allow the items to wrap 
	   * Remember this is the same as:
	   * flex-direction: row;
	   * flex-wrap: wrap;
	   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}
</style>