<template>
  <div class="workField">
    <input type v-if="!known" v-model="work.work" class="form-control" />
    Работа
    <v-select label="name" v-if="known" v-model="work.work" :options="works" />Количество
    <input min="0" type="number" v-model="work.amount" class="form-control" />
    Цена
    <input min="0" type="number" v-model="work.price" class="form-control" />
    <button class="btn btn-danger" @click="deleteItem">Удалить</button>
    <!-- <button class="btn btn-success" @click="sendItem">Удалить</button> -->
  </div>
  <!--@input="setSelected" :value="activePart"-->
</template>


<script>
export default {
  components: {},
  data() {
    return {
      work: {
        work: "",
        amount: "",
        price: ""
      }
    };
  },
  props: ["works", "id", "known", "data", "send"],
  watch: {
    work: {
      handler: function(val, oldVal) {
        this.$emit("changework", [val, this.id]);
      },
      deep: true
    },
    send: function(newValue, oldValue) {
      if (newValue != false) {
        this.sendItem();
      }
    }
  },
  created() {
    if (this.data) {
      this.work = this.data;
    }
  },
  methods: {
    deleteItem() {
      this.$emit("delete", this.id);
    },
    sendItem() {
      this.work.work_id = this.work.work.id;
      if (this.$route.name != "DefectEdit") {
        if (this.work.known) {
          this.work.work_id = this.work.work.id;
          this.$http
            .post(
              `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/works`,
              this.work
            )
            .then(() => this.$emit("sent"))
            .catch(error =>
              this.$swal({
                type: "error",
                text: error.response.data
              })
            );
        } else {
          this.work.name = this.work.work;
          this.$http
            .post(
              `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/unknown-works`,
              this.work
            )
            .then(() => this.$emit("sent"))
            .catch(error =>
              this.$swal({
                type: "error",
                text: error.response.data
              })
            );
        }
      } else {
        if (!this.work.defect_id) {
          if (this.work.known) {
            this.work.work_id = this.work.work.id;
            this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/works`,
                this.work
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          } else {
            this.work.name = this.work.work;
            this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/unknown-works`,
                this.work
              )
              .then(() => this.$emit("sent"))
              .catch(error =>
                this.$swal({
                  type: "error",
                  text: error.response.data
                })
              );
          }
        } else {
          this.work.work_id = this.work.work.id;
          this.$http
            .put(
              `${process.env.VUE_APP_SUPPLY_URL}api/stations/orders/${this.$route.params.id}/defect-acts/works/${this.work.defect_id}`,
              this.work
            )
            .then(() => this.$emit("sent"))
            .catch(error =>
              this.$swal({
                type: "error",
                text: error.response.data
              })
            );
        }
      }
    }
  },
  computed: {}
};
</script>

<style scoped>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.workField {
  margin: 15px;
}
</style>