<template>
  <div>
    <div class="blue-bg">
      <div class="container">
        <div class="row">
          <div class="blue-btn">
            <router-link :to="'/admin/'+$route.params.model+'/create'">
              <div class="blue-circle">
                <img src="@/assets/images/create.png" alt />
              </div>
              <p>Создать</p>
            </router-link>
          </div>
          <div class="blue-btn">
            <router-link :to="'/admin/'+$route.params.model">
              <div class="blue-circle">
                <img src="@/assets/images/status.png" alt />
              </div>
              <p>Таблица</p>
            </router-link>
          </div>
          <div class="blue-btn">
            <a href>
              <div class="blue-circle">
                <img src="@/assets/images/intruction.png" alt />
              </div>
              <p>Инструкция по работе в CRM</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="grey-bg">
      <div class="container">
        <router-view :key="$route.path"></router-view>
      </div>
    </div>
    <sidebar-menu class="sidebar" :menu="menu" :collapsed="true" />
  </div>
</template>

<script>
import { SidebarMenu } from "vue-sidebar-menu";
import "vue-sidebar-menu/dist/vue-sidebar-menu.css";

export default {
  components: {
    SidebarMenu
  },
  data() {
    return {
      menu: [
        {
          header: true,
          title: "Главная",
          hiddenOnCollapse: true
        }
      ]
    };
  },
  methods: {
    getMenu() {
      this.$http
        .get(`${process.env.VUE_APP_SUPPLY_URL}api/entities/list`)
        .then(responce => this.formMenu(responce.data));
    },
    formMenu(menu) {
      Object.keys(menu).forEach(item => {
        if (item != "role") {
          this.menu.push({
            title: this.$t("admin_page_" + item),
            hiddenOnCollapse: false,
            href: `/admin/${menu[item].name}`,
            icon: "fa fa-user"
          });
        }
      });
    }
  },
  created() {
    this.getMenu();
  }
};
</script>

<style>
</style>