<template>
  <div>
  	<div class="blue-bg">
            <div class="container">
                <div class="row">
                  <div class="blue-btn" v-if="role == 4">
                        <a>
                            <div class="blue-circle">
                                <img src="@/assets/images/create.png" alt="">
                            </div>
                            <p><router-link to="/orpa/shop">Магазины автозапчастей</router-link></p>
                        </a>
                    </div>
                    <div class="blue-btn" v-if="role == 4">
                        <a>
                            <div class="blue-circle">
                                <img src="@/assets/images/status.png" alt="">
                            </div>
                            <p><router-link to="/orpa">Статусы по заявкам</router-link></p>
                        </a>
                    </div>
                    <div class="blue-btn">
                        <a href="">
                            <div class="blue-circle">
                                <img src="@/assets/images/intruction.png" alt="">
                            </div>
                            <p>Инструкция по работе в CRM</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <transition name="fade">
            <router-view></router-view>
        </transition>
  </div>
</template>


<script>
  export default {
  	components:{

  	},
  	data() {
	    return {
	    	
	    }
    },
    computed:{
      role:() => localStorage.getItem("role")
    },
	props:{

	},
	watch:{

	},
	created:{

	},
	methods:{

	}
  }
</script>

<style scoped>

</style>