<template>
  <div class="send-comment">
    <textarea v-if="role != '5'" v-model="message"></textarea>
    <button v-if="role != '5'" @click="sendMessage" class="sendButton">
      <font-awesome-icon icon="share" class="text-light" />
    </button>
  </div>
</template>
<script>
export default {
  props: ["user"],
  data() {
    return {
      message: ""
    };
  },
  mounted() {},
  computed: {
    role: () => localStorage.getItem("role")
  },
  methods: {
    sendMessage: function(e) {
      let _this = this;

      this.$emit("message-send", { message: this.message, user: _this.user });
      this.message = "";
    }
  }
};
</script>
<style scoped>
.send-comment {
  display: flex;
  height: 50px;
}
.send-comment textarea {
  width: 100%;
  border: none;
}
.send-comment .sendButton {
  width: 50px;
  background: #627df5;
  outline: none;
  border: none;
}
</style>