<template>
  <div class="comment-section" @scroll="scroll">
    <div v-for="(message, index) in messages" :key="index" class="white-bg comment">
      <span
        class="message-date"
        v-if="message.user"
      >{{ moment(message.created_at).startOf('minute').fromNow() }}</span>
      <div
        v-if="JSON.parse(user).id == message.user_id"
        class="message shadow rounded comment-self"
      >
        <div>{{ JSON.parse(user).name }}</div>
        <div v-if="message.type == 1">{{ message.message }}</div>
        <div v-if="message.type == 2">
          <a :href="url + 'storage/' + message.message" target="__blank">
            <img :src="url + 'storage/' + message.message" style="width: 50px; height: 50px" />
          </a>
        </div>
        <div v-if="message.type == 3">
          <video style="width: 100%; height: 25%" controls="controls">
            <source :src="url + 'storage/' + message.message" />
            Тег video не поддерживается вашим браузером.
          </video>
        </div>
      </div>
      <div v-else :class="message.user ? classOthers : classSys">
        <div>
          <div v-if="message.user">{{ message.user.name }}</div>
          <div v-if="message.type == 1" class="text-center">
            {{ message.created_at }}
            <br />
            {{ message.message }}
          </div>
          <div v-if="message.type == 2">
            <a :href="url + 'storage/' + message.message" target="__blank">
              <img :src="url + 'storage/' + message.message" style="width: 50px; height: 50px" />
            </a>
          </div>
          <div v-if="message.type == 3">
            <video style="width: 100%; height: 25%" controls="controls">
              <source :src="url + 'storage/' + message.message" />
              Тег video не поддерживается вашим браузером.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["messages", "user"],
  data() {
    return {
      url: process.env.VUE_APP_SUPPLY_STORAGE_URL,
      classOthers: "message shadow rounded comment-others",
      classSys: "message rounded comment-system"
    };
  },
  mounted() {},
  created() {},
  updated() {},
  methods: {
    scroll(e) {
      if (e.target.scrollTop == 0) {
        this.$emit("load-messages");
      }
    }
  }
};
</script>
<style scoped>
.message-date {
  font-size: 12px;
  margin: 0 0 0 10px;
}
.message {
  max-width: 50%;
}
.comment-section {
  min-height: 500px;
  max-height: 700px;
  overflow: auto;
  background: #f7f8fe;
}
.comment-section .comment {
  display: flex;
  flex-direction: column;
}
.comment-section .comment .message {
  padding: 10px;
  margin: 0 10px 10px 10px;
}
.comment-section .comment .comment-self {
  align-self: flex-start;
  background: #627df5;
  color: #fff;
}

.comment-section .comment .comment-others {
  align-self: flex-end;
  background: #fff;
}
.comment-section .comment .comment-system {
  align-self: center;
  background: transparent;
  font-size: 12px;
  color: #cd0000;
}
.comment-section::-webkit-scrollbar-track {
  background-color: #f7f8fe;
}

.comment-section::-webkit-scrollbar {
  width: 10px;
  background-color: #f7f8fe;
}

.comment-section::-webkit-scrollbar-thumb {
  background-color: #627df5;
  border: 2px solid #f7f8fe;
}
</style>