<template>
  <div class="grey-bg">
    <div class="register-input register-input2">
      <form @submit="sendevacuator">
        {{ $t('evacuator_edit_add_name') }}
        <input type="text" v-model="evacuator.name" />
        {{ $t('evacuator_edit_add_phone') }}
        <input type="text" v-model="evacuator.phone" />
        Регион
        <v-select
          height="10"
          style=" background: #fff; "
          class="style-chooser"
          :options="regions"
          label="region_name"
          :reduce="region_name => region_name.id"
          v-model="evacuator.region_id"
        />
        <button type="submit" class="register-btn" v-if="newEvacuator">Сохранить эвакуатор</button>
        <button type="submit" class="register-btn" v-if="!newEvacuator">Обновить эвакуатор</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      evacuator: {
        name: "",
        phone: "",
        region_id: 0
      },
      regions: [],
      newEvacuator: true
    };
  },
  props: [],
  watch: {},
  created() {
    this.$http
      .get(process.env.VUE_APP_SUPPLY_URL + "api/regions")
      .then(responce => {
        this.regions = responce.data;
        this.loading = false;
      });
    if (this.$route.params.id) {
      this.newEvacuator = false;
      this.$http
        .get(
          process.env.VUE_APP_SUPPLY_URL +
            "api/orpus/evacuators/" +
            this.$route.params.id
        )
        .then(responce => {
          this.evacuator = responce.data.data;
        });
    }
  },
  methods: {
    sendevacuator(e) {
      e.preventDefault();
      if (!this.newEvacuator) {
        this.$http
          .put(
            process.env.VUE_APP_SUPPLY_URL +
              "api/orpus/evacuators/" +
              this.$route.params.id,
            this.evacuator
          )
          .then(responce => this.$router.push("/orpu/evacuators"))
          .catch(error => {});
      } else {
        this.$http
          .post(
            process.env.VUE_APP_SUPPLY_URL + "api/orpus/evacuators",
            this.evacuator
          )
          .then(responce => this.$router.push("/orpu/evacuators"))
          .catch(error => {});
      }
    }
  }
};
</script>

<style scoped>
.vs__search {
  background-color: #fff !important;
}
textarea {
  width: 370px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.register-input input,
.register-input select {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-input2 .need-evo2 input {
  margin-bottom: 20px;
}
</style>