<template>
  <div class="grey-bg">
    <div class="register-input register-input2">
      <form @submit="sendstation">
        {{ $t('station_edit_add_name') }}
        <input type="text" v-model="station.name" />
        {{ $t('station_edit_add_city') }}
        <v-select
          class="w-100"
          label="region_name"
          v-model="station.region_id"
          :options="regions"
          :reduce="name => name.id"
        />
        {{ $t('station_edit_add_address') }}
        <input type="text" v-model="station.address" />
        {{ $t('station_edit_add_fact_address') }}
        <input
          type="text"
          v-model="station.fact_address"
        />
        {{ $t('station_edit_add_jur_address') }}
        <input
          type="text"
          v-model="station.jur_address"
        />
        {{ $t('station_edit_add_bin') }}
        <input type="text" v-model="station.bin" />
        {{ $t('station_edit_add_bik') }}
        <input type="text" v-model="station.bik" />
        {{ $t('station_edit_add_iik') }}
        <input type="text" v-model="station.iik" />
        Банк
        <v-select
          class="w-100"
          label="name"
          v-model="station.bank_id"
          :options="banks"
          :reduce="name => name.id"
        />
        {{ $t('station_edit_add_contact_person') }}
        <input
          type="text"
          v-model="station.contact_person"
        />
        {{ $t('station_edit_add_contact_phone') }}
        <input
          type="text"
          v-model="station.contact_phone"
        />
        <button type="submit" class="register-btn" v-if="newStation">Сохранить СТО</button>
        <button type="submit" class="register-btn" v-if="!newStation">Обновить СТО</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  components: {},
  data() {
    return {
      station: {
        name: "",
        city: "",
        address: "",
        fact_address: "",
        jur_address: "",
        bin: "",
        bik: "",
        iik: "",
        contact_person: "",
        contact_phone: ""
      },
      regions: [],
      banks: [],
      newStation: true
    };
  },
  props: [],
  watch: {},
  created() {
    if (this.$route.params.id) {
      this.newStation = false;
      this.$http
        .get(
          process.env.VUE_APP_SUPPLY_URL +
            "api/orpus/stations/" +
            this.$route.params.id
        )
        .then(responce => {
          this.station = responce.data.data;
        });
    }
    this.$http
      .get(`${process.env.VUE_APP_SUPPLY_URL}api/regions`)
      .then(responce => (this.regions = responce.data));
    this.$http
      .get(`${process.env.VUE_APP_SUPPLY_URL}api/banks`)
      .then(responce => (this.banks = responce.data));
  },
  methods: {
    sendstation(e) {
      e.preventDefault();
      if (!this.newStation) {
        this.$http
          .put(
            process.env.VUE_APP_SUPPLY_URL +
              "api/orpus/stations/" +
              this.$route.params.id,
            this.station
          )
          .then(responce => this.$router.push("/orpu/stations"))
          .catch(error => {});
      } else {
        this.$http
          .post(
            process.env.VUE_APP_SUPPLY_URL + "api/orpus/stations",
            this.station
          )
          .then(responce => this.$router.push("/orpu/stations"))
          .catch(error => {});
      }
    }
  }
};
</script>

<style scoped>
.vs__search {
  background-color: #fff !important;
}
textarea {
  width: 370px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.register-input input,
.register-input select {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-input2 .need-evo2 input {
  margin-bottom: 20px;
}
</style>