<template>
    <div class="CreatePartList container">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 20px;">
                <button @click="addPart">
                    Добавить деталь
                </button>
            </div>
        </div>
        <div class="row">
            <Part v-for="(part, index) in act" @part-change="updatePart" :part="part" :list="parts" style="padding: 20px; "></Part>
        </div>
    </div>
</template>

<script>
    import Part from "@/components/DefectAct/Part/Part.vue";
    export default {
        components: {Part},
        props: ["act", "parts"],
        methods:{
            updatePart(part){
                this.$emit('part-change', part);
            },
            addPart(){
                this.$emit('part-add');
            }
        }
    };
</script>

<style lang="scss" scoped src="./_CreatePartList.scss"></style>