<template>
  <div id="app">
    <div id="loaderBackground">
      <div class="windows8">
        <div class="wBall" id="wBall_1">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
          <div class="wInnerBall"></div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <headerRegistered
        v-if="!showRegisterHeader"
        @changeHeader="changeHeader"
        :notifications="notifications"
      ></headerRegistered>
    </transition>
    <transition name="fade">
      <headerUnregistered v-if="showRegisterHeader"></headerUnregistered>
    </transition>
    <transition name="fade">
      <div id="mainBody">
        <router-view @successlogin="changeHeaderSuccess"></router-view>
      </div>
    </transition>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 wow fadeInLeft">
            <div class="copyright">
<!--              <p>Supply Group KZ © 2019</p>-->
            </div>
          </div>
          <div class="col-sm-6 wow fadeInRight">
            <div class="socials">
              <a href>facebook</a>
              <a href>vk</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<script type="text/javascript">
import headerRegistered from "@/components/headerRegistered.vue";
import headerUnregistered from "@/components/headerUnregistered.vue";
export default {
  components: {
    headerRegistered,
    headerUnregistered
  },
  data() {
    return {
      showRegisterHeader: true,
      notifications: [],
      act: {},
      totalAmount: [],
      totalPrice: [],
      totalPriceWithMarkUp: [],
      totalAmountWorks: 0,
      totalPriceWorks: 0,
      totalPriceWithMarkUpWorks: 0,
      ACWData: false,
      ACWType: "",
      ACWBill: ""
    };
  },
  // props:{

  // },
  watch: {
    ACWData: function(newValue, oldValue) {
      if (newValue) {
        if (this.ACWType == "ACW") {
          this.makeACW();
        }
        if (this.ACWType == "Attachment") {
          this.makeAttachment();
        }
      }
    }
  },
  created: function() {
    console.log(
      "%c+",
      'font-size: 1px; padding: 150px 87px; line-height: 0; background: url("https://cs.pikabu.ru/assets/images/dev.png"); background-size: 175px 300px; color: transparent;'
    );
    if (localStorage.getItem("token")) {
      this.showRegisterHeader = false;
    }
    this.fetchNotifications();
    window.Echo.private(
      "App.User." + JSON.parse(localStorage.getItem("user")).id
    ).notification(notification => {
      this.notifications.push(notification);

      const audio = new Audio(require("./assets/sounds/for-sure.mp3"));
      audio.play();
    });
  },
  methods: {
    fetchNotifications() {
      this.$http
        .get(process.env.VUE_APP_SUPPLY_URL + "/api/notifications/unread")
        .then(response => {
          this.notifications = response.data;
        });
    },
    changeHeader: function() {
      this.showRegisterHeader = true;
    },
    changeHeaderSuccess: function() {
      this.showRegisterHeader = false;
    },
    loadingShow: function() {
      document.getElementById("loaderBackground").style.zIndex = "1000";
      document.getElementById("loaderBackground").style.height = () => {
        var dif =
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight;
        return dif + document.documentElement.scrollHeight + "px";
      };
      document.getElementById("loaderBackground").style.display = "flex";
    },
    loadingHide: function() {
      document.getElementById("loaderBackground").style.zIndex = "-100";
      document.getElementById("loaderBackground").style.display = "none";
    },
    //Accountant
    showParthnerBills: function(bill_id) {
      this.$swal({
        title: "Загружаю данные по счёту"
      });
      this.$swal.showLoading();

      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/accountants/bills/partners/${bill_id}`
        )
        .then(response => {
          this.$swal.close();
          let html = ``;
          for (const order_id in response.data) {
            if (response.data.hasOwnProperty(order_id) && order_id == "bills") {
              const order = response.data[order_id];
              for (const bill in order) {
                if (bill != 0) {
                  html += `<form id="parthnerBills"><table><tr><th>Счета по заявке #${bill}</th></tr>`;
                  for (const obj in order[bill]) {
                    html += `
                    <tr>
                      <td>
                        <a target="_blank" href="${
                          process.env.VUE_APP_SUPPLY_STORAGE_URL
                        }storage/${
                      JSON.parse(order[bill][obj].link).download_link
                        ? JSON.parse(order[bill][obj].link).download_link
                        : ""
                    }">
                          ${
                            JSON.parse(order[bill][obj].link).original_name
                              ? JSON.parse(order[bill][obj].link).original_name
                              : "Счёт"
                          }
                        </a>
                      </td>
                      <td>
                        <input class="swal2-input" type="date" ${
                          order[bill][obj].paid_at
                            ? `disabled value='${order[bill][obj].paid_at}'`
                            : ""
                        } 
                        bill_media_id="${order[bill][obj].id}"
                        bill_order="${bill}"
                        bill_id="${bill_id}"
                         />
                      </td>
                    </tr>`;
                  }
                }
              }
            }
          }
          html += `</table></form>`;
          this.$swal.fire({
            title: `<strong>Счёт #${bill_id}</strong>`,
            type: "info",
            html: html,
            showCloseButton: true,
            showCancelButton: true,
            showConfirmButton: true,
            focusConfirm: false,
            confirmButtonText: "Сохранить",
            confirmButtonAriaLabel: "Thumbs up, great!",
            cancelButtonText: "Закрыть",
            cancelButtonAriaLabel: "Thumbs down",
            showLoaderOnConfirm: true,
            preConfirm: data => {
              let transferData = {
                bill_id: bill_id,
                orders: {}
              };
              Array.from(
                document
                  .getElementById("parthnerBills")
                  .getElementsByTagName("input")
              ).forEach(element => {
                if (element.value && !element.disabled) {
                  if (
                    transferData.orders.hasOwnProperty(
                      element.getAttribute("bill_order")
                    )
                  ) {
                    if (
                      !transferData.orders[element.getAttribute("bill_order")][
                        "bills"
                      ]
                    ) {
                      transferData.orders[element.getAttribute("bill_order")][
                        "bills"
                      ] = [];
                    }

                    transferData.orders[element.getAttribute("bill_order")][
                      "bills"
                    ].push({
                      id: element.getAttribute("bill_media_id"),
                      paid_at: element.value
                    });
                  } else {
                    transferData.orders[
                      element.getAttribute("bill_order")
                    ] = {};
                    if (
                      !transferData.orders[element.getAttribute("bill_order")][
                        "bills"
                      ]
                    ) {
                      transferData.orders[element.getAttribute("bill_order")][
                        "bills"
                      ] = [];
                    }
                    transferData.orders[element.getAttribute("bill_order")][
                      "bills"
                    ].push({
                      id: element.getAttribute("bill_media_id"),
                      paid_at: element.value
                    });
                  }
                }
              });
              return this.$http
                .post(
                  `${process.env.VUE_APP_SUPPLY_URL}api/accountants/bills/partners/paid`,
                  transferData
                )
                .then(response => console.log(vm))
                .catch(error => console.log(error.response.data));
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          });
        });
    },
    payBill: function(bill_id) {
      this.$swal({
        title: "Дата оплаты",
        html: `<form id="billPayForm"><input class="swal2-input" type="date" value="" name="paid_at" id="billDate" required /></form>`,
        showCancelButton: true,
        confirmButtonText: "Оплатить",
        showLoaderOnConfirm: true,
        preConfirm: login => {
          if (document.getElementById("billPayForm").reportValidity()) {
            return this.$http
              .post(
                `${process.env.VUE_APP_SUPPLY_URL}api/accountants/bills/paid`,
                {
                  bill_id: bill_id,
                  paid_at: document.getElementById("billDate").value
                }
              )
              .then(responce => {
                console.log(vm.$children[0]);
                this.$swal.fire({
                  type: "success"
                });
              })
              .catch(error => {
                this.$swal.fire({
                  type: "error"
                });
              });
          } else {
            return false;
          }
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      });
    },
    getTextForACW(row, column){
      let contracts = '';
      let cars = '';
      for (let index = 0; index < Object.keys(this.act).length; index++) {
        contracts += this.act[index].contract.number_of_сontract+ ', ';
        cars += this.act[index].car.number+', ';
      }
      
      let table = [
        { 39: "Приложение 50" },
        { 39: "к приказу Министра финансов" },
        { 39: "Республики Казахстан" },
        { 39: "от 20 декабря 2012 года № 562" },
        {},
        { 46: "Форма Р-1" },
        {},
        { 44: "ИИН/БИН" },
        { 0: "Заказчик", 4: this.act[0].company.name+", "+this.act[0].company.jur_address, 42: this.act[0].company.bin },
        { 4: "полное наименование, адрес, данные о средствах связи" },
        { 0: "Исполнитель", 4: 'Товарищество с ограниченой ответственностью "Supply Group KZ",050000, Республика Казахстан, г.Алматы, Бостандыкский р-н, мкр. Коктем-3, д.13, кв.61', 42: "170740034598" },
        { 4: "полное наименование, адрес, данные о средствах связи" },
        { 0: "Договор (контракт)", 5: "Договор(ы) №"+contracts, 33: "Номер документа", 38: "Дата составления" },
        {},
        { 0: "АКТ ВЫПОЛНЕННЫХ РАБОТ (ОКАЗАННЫХ УСЛУГ) по машинe(ам) " + cars, 33: "", 38: "" },
        {},
        { 0: "Номер по порядку", 2: "Наименование работ (услуг) (в разрезе их подвидов в соответствии с технической спецификацией, заданием, графиком выполнения работ (услуг) при их наличии)", 15: "Дата выполнения работ (оказания услуг)", 20: "Сведения об отчете о научных исследованиях, маркетинговых, консультационных и прочих услугах (дата, номер, количество страниц) (при их наличии)", 29: "Единица измерения", 32: "Выполнено работ (оказано услуг)" },
        { 32: "количество", 37: "цена за единицу", 43: "стоимость" },
        { 0: "1", 2: "2", 15: "3", 20: "3", 29: "4", 32: "5", 37: "6", 43: "7" },

        { 0: "Услуги по техническому обслуживанию автотранспорта/специальной техники"},

        { 30: "Итого", 32: this.totalAmountWorks+this.totalAmount[0], 43: this.totalPriceWithMarkUpWorks+this.totalPriceWithMarkUp.reduce(function(acc, val) { return acc + val; }, 0)},
        {},
        {},
        { 0: "Сведения об использовании запасов, полученных от заказчика" },
        { 18: "наименование, количество, стоимость" },
        {},
        { 0: "Приложение: Перечень документации, в том числе отчет(ы) о маркетинговых, научных исследованиях, консультационных и прочих услугах (обязательны при его" },
        { 3: "(их) наличии) на _____________ страниц" },
        {},
        {},
        { 0: "Сдал (Исполнитель)", 10: "/", 15: "/", 25: "Принял (Заказчик)", 35: "/", 41: "/" },
        { 5: "должность", 11: "подпись", 17: "расшифровка подписи", 31: "должность", 37: "подпись", 43: "расшифровка подписи" },
        {},
        { 1: "М.П.", 26: "Дата подписания (принятия) работ (услуг)", 38: "" },
        {},
        { 27: "М.П." }
      ]
      return table[row] ? (table[row][column] ? table[row][column] : "") : "";
    },
    makeACW() {
      let indexRows = 0;
      let merge = [{ s: { r: 0, c: 39 }, e: { r: 0, c: 48 } }, { s: { r: 1, c: 39 }, e: { r: 1, c: 48 } }, { s: { r: 2, c: 39 }, e: { r: 2, c: 48 } }, { s: { r: 3, c: 39 }, e: { r: 3, c: 48 } }, { s: { r: 5, c: 46 }, e: { r: 5, c: 48 } }, { s: { r: 7, c: 44 }, e: { r: 7, c: 46 } }, { s: { r: 8, c: 0 }, e: { r: 8, c: 3 } }, { s: { r: 8, c: 4 }, e: { r: 8, c: 35 } }, { s: { r: 8, c: 42 }, e: { r: 8, c: 48 } }, { s: { r: 9, c: 4 }, e: { r: 9, c: 35 } }, { s: { r: 10, c: 0 }, e: { r: 10, c: 3 } }, { s: { r: 10, c: 4 }, e: { r: 10, c: 35 } }, { s: { r: 10, c: 42 }, e: { r: 10, c: 48 } }, { s: { r: 11, c: 4 }, e: { r: 11, c: 35 } }, { s: { r: 12, c: 0 }, e: { r: 12, c: 4 } }, { s: { r: 12, c: 5 }, e: { r: 12, c: 28 } }, { s: { r: 12, c: 33 }, e: { r: 13, c: 37 } }, { s: { r: 12, c: 38 }, e: { r: 13, c: 42 } }, { s: { r: 14, c: 0 }, e: { r: 14, c: 32 } }, { s: { r: 14, c: 33 }, e: { r: 14, c: 37 } }, { s: { r: 14, c: 38 }, e: { r: 14, c: 42 } }, { s: { r: 16, c: 0 }, e: { r: 17, c: 1 } }, { s: { r: 16, c: 2 }, e: { r: 17, c: 14 } }, { s: { r: 16, c: 15 }, e: { r: 17, c: 19 } }, { s: { r: 16, c: 20 }, e: { r: 17, c: 28 } }, { s: { r: 16, c: 29 }, e: { r: 17, c: 31 } }, { s: { r: 16, c: 32 }, e: { r: 16, c: 48 } }, { s: { r: 17, c: 32 }, e: { r: 17, c: 36 } }, { s: { r: 17, c: 37 }, e: { r: 17, c: 42 } }, { s: { r: 17, c: 43 }, e: { r: 17, c: 48 } }, { s: { r: 18, c: 0 }, e: { r: 18, c: 1 } }, { s: { r: 18, c: 2 }, e: { r: 18, c: 14 } }, { s: { r: 18, c: 15 }, e: { r: 18, c: 19 } }, { s: { r: 18, c: 20 }, e: { r: 18, c: 28 } }, { s: { r: 18, c: 29 }, e: { r: 18, c: 31 } }, { s: { r: 18, c: 32 }, e: { r: 18, c: 36 } }, { s: { r: 18, c: 37 }, e: { r: 18, c: 42 } }, { s: { r: 18, c: 43 }, e: { r: 18, c: 48 } }];
      
      var wb = XLSX.utils.book_new();
        let test = [];
        for (let row = 0; row < (60); row++) {
            let temp = {};
            for (let column = 0; column < 49; column++) {
                temp[column] = this.getTextForACW(row,column);
            }
            test.push(temp);
        }
        let ws = XLSX.utils.json_to_sheet(test, { skipHeader: true });
        

        ws["!merges"] = merge;
        var wscols = [
            { wch: 3 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 3 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 },
        ];

        ws['!cols'] = wscols;
        XLSX.utils.book_append_sheet(wb, ws, "ACW");
        for (const cell in wb.Sheets.ACW) {
            if (wb.Sheets.ACW.hasOwnProperty(cell) && cell != "!cols" && cell != "!merges" && cell != "!ref") {
                const element = wb.Sheets.ACW[cell];
                element.s = {
                    alignment: {
                        wrapText: true, // any truthy value here
                    },
                };
            }
        } 
        XLSX.writeFile(wb, 'ACW.xlsb');
    },
    getTextForAttachment(row,column, works, parts){
      let table = [
        {},
        {},
        {},
        { 3: "Приложение к счёту для клиента " + this.ACWBill},
        {
          1: 'Номер пo порядку',
          2: 'Наименование работ (услуг) (в разрезе их подвидов в соответствии с технической спецификацией, заданием, графиком выполнения работ (услуг) при их наличии)',
          3: 'Дата выполнения работ (оказания услуг)**',
          4: 'Сведения об отчете о научных исследованиях, маркетинговых, консультационных и прочих услугах (дата, номер, количество страниц) (при их наличии)***',
          5: 'Единица измерения	Количество (час)',
          6: 'Цена за единицу без НДС (тенге)',
          7: 'Стоимость без НДС (тенге)',
          8: 'Сумма  НДС (тенге)',
          9: 'Стоимость c учетом  НДС (тенге)'
        },
        ...works,
        ...parts
      ];
      return table[row] ? (table[row][column] ? table[row][column] : "") : "";
    },
    makeAttachment() {
      var wb = XLSX.utils.book_new();
      // let merge = [{ s: { r: 0, c: 39 }, e: { r: 0, c: 48 } }, { s: { r: 1, c: 39 }, e: { r: 1, c: 48 } }, { s: { r: 2, c: 39 }, e: { r: 2, c: 48 } }, { s: { r: 3, c: 39 }, e: { r: 3, c: 48 } }, { s: { r: 5, c: 46 }, e: { r: 5, c: 48 } }, { s: { r: 7, c: 44 }, e: { r: 7, c: 46 } }, { s: { r: 8, c: 0 }, e: { r: 8, c: 3 } }, { s: { r: 8, c: 4 }, e: { r: 8, c: 35 } }, { s: { r: 8, c: 42 }, e: { r: 8, c: 48 } }, { s: { r: 9, c: 4 }, e: { r: 9, c: 35 } }, { s: { r: 10, c: 0 }, e: { r: 10, c: 3 } }, { s: { r: 10, c: 4 }, e: { r: 10, c: 35 } }, { s: { r: 10, c: 42 }, e: { r: 10, c: 48 } }, { s: { r: 11, c: 4 }, e: { r: 11, c: 35 } }, { s: { r: 12, c: 0 }, e: { r: 12, c: 4 } }, { s: { r: 12, c: 5 }, e: { r: 12, c: 28 } }, { s: { r: 12, c: 33 }, e: { r: 13, c: 37 } }, { s: { r: 12, c: 38 }, e: { r: 13, c: 42 } }, { s: { r: 14, c: 0 }, e: { r: 14, c: 32 } }, { s: { r: 14, c: 33 }, e: { r: 14, c: 37 } }, { s: { r: 14, c: 38 }, e: { r: 14, c: 42 } }, { s: { r: 16, c: 0 }, e: { r: 17, c: 1 } }, { s: { r: 16, c: 2 }, e: { r: 17, c: 14 } }, { s: { r: 16, c: 15 }, e: { r: 17, c: 19 } }, { s: { r: 16, c: 20 }, e: { r: 17, c: 28 } }, { s: { r: 16, c: 29 }, e: { r: 17, c: 31 } }, { s: { r: 16, c: 32 }, e: { r: 16, c: 48 } }, { s: { r: 17, c: 32 }, e: { r: 17, c: 36 } }, { s: { r: 17, c: 37 }, e: { r: 17, c: 42 } }, { s: { r: 17, c: 43 }, e: { r: 17, c: 48 } }, { s: { r: 18, c: 0 }, e: { r: 18, c: 1 } }, { s: { r: 18, c: 2 }, e: { r: 18, c: 14 } }, { s: { r: 18, c: 15 }, e: { r: 18, c: 19 } }, { s: { r: 18, c: 20 }, e: { r: 18, c: 28 } }, { s: { r: 18, c: 29 }, e: { r: 18, c: 31 } }, { s: { r: 18, c: 32 }, e: { r: 18, c: 36 } }, { s: { r: 18, c: 37 }, e: { r: 18, c: 42 } }, { s: { r: 18, c: 43 }, e: { r: 18, c: 48 } }];
      for (let i = 0; i < Object.keys(this.act).length; i++){
        let formed_works =[];
        let formed_parts =[];
        let indexRows = 0;
        formed_works.push({1: 'Номер заявки '+ this.act[i].order.id})
        if(this.act[i].works){
          this.act[i].works.forEach((element, index) => {
            formed_works.push({0: indexRows+1, 2: element.name, 15: this.moment(this.act[i].order.completed_at).format('YYYY-MM-DD'), 29: "Усл.", 32 : element.amount, 37: element.price_with_markup, 43: element.amount*element.price_with_markup })
            indexRows = indexRows + 1;
          })
        }
        if(this.act[i].parts){        
          this.act[i].parts[0].parts.forEach((element, index) => {
            if(!(element.rejected_at || !element.applied_at)){
              formed_parts.push({
              1: indexRows+1,
              2: element.name,
              3: this.moment(this.act[i].order.completed_at).format('YYYY-MM-DD'),
              4: "",
              5: "Усл.",
              6: element.amount,
              7: element.price_with_markup,
              8: element.amount*element.price_with_markup })
            indexRows = indexRows + 1;
            }
          })
        }
        let firstRowAfterWorks = 19+indexRows;

      
        let test = [];
        for (let row = 0; row < (firstRowAfterWorks + formed_parts.length+10); row++) {
            let temp = {};
            for (let column = 0; column < 49; column++) {
                temp[column] = this.getTextForAttachment(row,column, formed_works, formed_parts);
            }
            test.push(temp);
        }
        let ws = XLSX.utils.json_to_sheet(test, { skipHeader: true });
        

        // ws["!merges"] = merge;
        var wscols = [
            { wch: 3 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 3 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 1 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 }, { wch: 2 },
        ];

        ws['!cols'] = wscols;
        console.log(this.act[i]);
        XLSX.utils.book_append_sheet(wb, ws, 0);
      }

        for (const cell in wb.Sheets.ACW) {
            if (wb.Sheets.ACW.hasOwnProperty(cell) && cell != "!cols" && cell != "!merges" && cell != "!ref") {
                const element = wb.Sheets.ACW[cell];
                element.s = {
                    alignment: {
                        wrapText: true, // any truthy value here
                    },
                };
            }
        } 
        XLSX.writeFile(wb, 'ACW.xlsb');
    },
    getData(bill, type, number) {
      this.ACWData = false;
      this.ACWType = false;
      let counter = 0;
      for (let i = 0; i < JSON.parse(bill).length; i++) {
        const element = JSON.parse(bill)[i];
        this.$http
          .get(
            `${process.env.VUE_APP_SUPPLY_URL}api/accountants/orders/${element}/defect-acts`
          )
          .then(response => {
            this.act[i] = response.data;
            this.overalPrice(i);
            if (this.act[i].parts) {
              this.totalPricesParts(i);
            }

            if (this.act[i].works) {
              this.totalPricesWorks(i);
            }
            counter = counter + 1;
            if (counter == JSON.parse(bill).length) {
              if (type == "ACW") {
                this.ACWData = true;
                this.ACWType = type;
              }
              if (type == "Attachment") {
                this.ACWData = true;
                this.ACWType = type;
                this.ACWBill = number;
              }
            }
          });
      }
    },
    totalPricesParts(i) {
      this.act[i].parts.forEach(element => {
        this.totalAmount.push(
          element.parts
            .map(item =>
              this.act[i].status_internal > 10
                ? item.rejected_at || !item.applied_at
                  ? 0
                  : item.amount
                : item.amount
            )
            .reduce((prev, next) => prev + next)
        );
        this.totalPrice.push(
          element.parts
            .map(item =>
              this.act[i].status_internal > 10
                ? item.rejected_at || !item.applied_at
                  ? 0
                  : item.price * item.amount
                : item.price * item.amount
            )
            .reduce((prev, next) => prev + next)
        );
        this.totalPriceWithMarkUp.push(
          element.parts
            .map(item =>
              this.act[i].status_internal > 10
                ? item.rejected_at || !item.applied_at
                  ? 0
                  : item.price_with_markup * item.amount
                : 0
            )
            .reduce((prev, next) => prev + next)
        );
      });
    },
    totalPricesWorks(i) {
      this.totalAmountWorks = this.act[i].works
        .map(item =>
          this.act[i].status_internal > 10
            ? item.rejected_at || !item.applied_at
              ? 0
              : item.amount
            : item.amount
        )
        .reduce((prev, next) => prev + next);

      this.totalPriceWorks = this.act[i].works
        .map(item =>
          this.act[i].status_internal > 10
            ? item.rejected_at || !item.applied_at
              ? 0
              : item.price * item.amount
            : item.price * item.amount
        )
        .reduce((prev, next) => prev + next);

      this.totalPriceWithMarkUpWorks = this.act[i].works
        .map(item =>
          this.act[i].status_internal > 10
            ? item.rejected_at || !item.applied_at
              ? 0
              : item.price_with_markup * item.amount
            : 0
        )
        .reduce((prev, next) => prev + next);
    },
    overalPrice(i) {
      if (this.act[i].parts) {
        for (const item of this.act[i].parts) {
          for (const part of item.parts) {
            if (!part.rejected_at) {
              switch (this.role_id) {
                case "2":
                  this.overalWithMarkup += part.price_with_markup * part.amount;
                  break;
                case "5":
                  this.overalWithoutMarkup += part.price * part.amount;
                  break;
                default:
                  this.overalWithMarkup += part.price_with_markup * part.amount;
                  this.overalWithoutMarkup += part.price * part.amount;
              }
            }
          }
        }
      }

      if (this.act[i].works) {
        for (const work of this.act[i].works) {
          if (!work.rejected_at) {
            switch (this.role_id) {
              case "2":
                this.overalWithMarkup += work.price_with_markup * work.amount;
                break;
              case "5":
                this.overalWithoutMarkup += work.price * work.amount;
                break;
              default:
                this.overalWithMarkup += work.price_with_markup * work.amount;
                this.overalWithoutMarkup += work.price * work.amount;
            }
          }
        }
      }
    },

    showBills: function(bill_id) {
      this.$swal({
        title: "Загружаю данные по счёту"
      });
      this.$swal.showLoading();

      this.$http
        .get(
          `${process.env.VUE_APP_SUPPLY_URL}api/accountants/bills/${bill_id}`
        )
        .then(responce => {
          // this.$swal.close();
          // let html = ``;
          // for (const order_id in response.data) {
          //   if (response.data.hasOwnProperty(order_id)) {
          //     const order = response.data[order_id];
          //     console.log(order);
          //     for (const bill in order) {
          //       if (bill != 0) {
          //         html += `<table><tr><th>Счета по заказу #${bill}</th></tr>`;
          //         for (const obj in order[bill]) {
          //           html += `<tr><td><a target="_blank" href="${process.env.VUE_APP_SUPPLY_STORAGE_URL}storage/${order[bill][obj].link}">Счёт</a></td></tr>`;
          //         }
          //         html += `</table>`;
          //       }
          //     }
          //   }
          // }

          // this.$swal.fire({
          //   title: `<strong>Счёт #${bill_id}</strong>`,
          //   type: "info",
          //   html: html,
          //   showCloseButton: true,
          //   showCancelButton: true,
          //   showConfirmButton: false,
          //   focusConfirm: false,
          //   confirmButtonText: '<i class="fa fa-thumbs-up"></i> Great!',
          //   confirmButtonAriaLabel: "Thumbs up, great!",
          //   cancelButtonText: '<i class="fa fa-thumbs-down"></i>',
          //   cancelButtonAriaLabel: "Thumbs down"
          // });
        });
    }
  }
};
</script>
<style type="text/css" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.windows8 {
  position: relative;
  width: 78px;
  height: 78px;
  margin: auto;
}

.windows8 .wBall {
  position: absolute;
  width: 74px;
  height: 74px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  -ms-animation: orbit 6.96s infinite;
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  left: 0px;
  top: 0px;
  border-radius: 10px;
}

.windows8 #wBall_1 {
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
  animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  -ms-animation-delay: 0.61s;
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
  animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  -ms-animation-delay: 1.22s;
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s;
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }

  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }

  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }

  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }

  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }

  76% {
    opacity: 0;
    transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}

@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }

  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }

  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }

  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }

  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }

  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}

@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }

  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }

  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }

  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }

  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }

  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }

  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }

  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }

  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }

  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }

  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }

  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }

  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
#loaderBackground {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: -100;
  width: 98%;
  height: 100%;
  flex-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
</style>