<template>
    <div class="Work col-sm-6" style="box-shadow: 0 0 0 1px RGBA(0,0,0,0.5);">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 0.5rem;">
                Наименование:
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" v-if="work.known">
                <v-select
                        :label="selected => selected.name"
                        @input="updateWork"
                        :options="list"
                        :value="selected => selected.id"
                        v-model="workIn.work_id"/>
            </div>
            <div class="col-sm-12" v-if="!work.known">
                <input
                        style="width: 100%;"
                        @input="updateWork"
                        v-model="work.name" />
            </div>
            <div class="col-sm-12">
                <label>
                    <input v-model="work.known" type="checkbox">
                    Нет в списке
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-12" >
                            Цена:
                        </div>
                        <div class="col-sm-12">
                            <input
                                    @input="updateWork"
                                    style="width: 100%;"
                                    type="number"
                                    v-model="work.price" />
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="width: 100%;">
                    <div class="row">
                        <div class="col-sm-12" >
                            Количество:
                        </div>
                        <div class="col-sm-12">
                            <input
                                    type="number"
                                    style="width: 100%;"
                                    @input="updateWork"
                                    v-model="work.amount" />
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button>Удалить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["list", "work"],
        data(){
            return{
                workIn: {
                    id: null,
                    known: true,
                    name: "",
                    work_id:"",
                    price: "",
                    amount: ""
                }
            }
        },
        watch: {
            work: {
                deep: true,
                handler(newValue){
                    this.workIn = newValue;
                }
            }
        },
        created() {
            this.workIn = this.work;
        },
        methods: {
            updateWork(){
                this.$emit('work-change', this.workIn);
            }
        }
    };
</script>
