<template>
    <div class="CreateMain container">
        <div class="row">
            <div class="col-sm-6">
                <create-part-list
                        @part-change="updatePart"
                        :parts="parts"
                        :act="act.parts"
                        @part-add="addPart">
                </create-part-list>
            </div>
            <div class="col-sm-6">
                <create-work-list
                        @work-change="updateWorks"
                        :works="works"
                        :act="act.works"
                        @work-add="addWork">>
                </create-work-list>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <create-shop-list
                        @shop-change="updateShop"
                        :shops="shops"
                        :act="act.shops"
                        @shop-add="addShop">>
                </create-shop-list>
            </div>
        </div>
    </div>
</template>

<script>
    import CreatePartList from "../CreatePartList/CreatePartList";
    import CreateWorkList from "../CreateWorkList/CreateWorkList";
    import CreateShopList from "../CreateShopList/CreateShopList";
    export default {
        components: {CreateShopList, CreateWorkList, CreatePartList},
        created() {
            this.getAllParts();
            this.getAllWorks();
        },
        data() {
            return {
                parts: [],
                works:[],
                shops:[],
                act:{
                    parts: [],
                    works:[],
                    shops:[]
                }
            }
        },
        methods:{
            getAllWorks(){
                this.$http.get(process.env.VUE_APP_SUPPLY_URL+'api/works')
                    .then(response => this.works = response.data);
            },
            getAllShops(){
                this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/shops`)
                    .then(response => this.shops = response.data);
            },
            getAllParts(){
                this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/parts`)
                    .then(response => this.parts = response.data)
            },
            getAct(){
                this.$http.get(`${process.env.VUE_APP_SUPPLY_URL}api/defect/${this.$route.params.id}/edit`)
                    .then(response => {
                        this.act.parts = response.data.parts;
                        this.act.works = response.data.works;
                        this.act.shops = response.data.shops;
                    })
            },
            updatePart(part){
                this.act.parts.find(element => {
                    return element.id == id;
                }).map(element => {
                    console.log(element);
                });
            },
            addPart(){
                this.act.parts.push({
                    stock: true,
                    known: true,
                    name: "",
                    part_id:"",
                    price: "",
                    amount: ""
                });
            },
            updateWorks(work){
                this.act.works.find(element => {
                    return element.id == id;
                }).map(element => {
                    console.log(element);
                });
            },
            addWork(){
                this.act.works.push({
                    known: true,
                    name: "",
                    work_id:"",
                    price: "",
                    amount: ""
                });
            },
            updateShop(shop){
                this.act.shops[type].find(element => {
                    return element.id == id;
                }).map(element => {
                    console.log(element);
                });
            },
            addShop(){
                this.act.parts.push({
                    name: "",
                    part_id:"",
                    price: "",
                    amount: ""
                });
            },
        }
    };
</script>
<style lang="scss" scoped src="./_CreateMain.scss" />
