<template>
  <div>
    <div class="blue-bg">
      <div class="container">
        <div class="row">
          <div class="blue-btn">
            <!-- <a>
                            <div class="blue-circle">
                                <img src="@/assets/images/status.png" alt="">
                            </div>
                            <router-link to="/pay/table">Статусы по заявкам</router-link>
            </a>-->
            <a href="/CRM_инструкция для Менеджеров.pdf">
              <div class="blue-circle">
                <img src="@/assets/images/intruction.png" alt />
              </div>
              <p>Инструкция по работе в CRM</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>
<script type="text/javascript">
// @ is an alias to /src

export default {
  components: {},
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.blue-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-btn a {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.blue-btn {
  display: flex;
}
</style>